[2020-10-31 00:39] sayboras commented on #1456
All items are completed, closing this issue.

[2020-10-31 00:39] #1456 closed

[2020-10-31 00:57] sayboras commented on #1468
Version 1.32.1 was released just now, I have performed quick check, seems fixed now

[code]

[code]

[2020-10-31 01:36] nvuillam commented on #1468
It works for me too, thanks :)

[2020-10-31 08:53] ybiquitous commented on #1468
It works for me. Thank you so much! 😊

[2020-11-01 21:34] iwankgb commented on #1450
The problem seems to be a bit more nuanced: `Nolint.shouldPassIssue()` applies ignored ranges to all the linters instead of `Nolitn` only.

[2020-11-01 21:43] invidian opened #1483 "Make missing in v1.32.1 Docker image"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

It seems Docker images up to `golangci/golangci-lint:v1.32.0` were containing `make` binary, which was handy, whe

[2020-11-01 21:58] sayboras commented on #1483
Thanks for reporting this issue, recent PR was done by me https://github.com/golangci/golangci-lint/pull/1471, but I can't see any change related to make. My guess right now is that upstream docker image didn't ship with make anymore.

Just curious if you are planning to work on this :smile: ?

[2020-11-01 22:02] invidian commented on #1483
Yeah, I looked at the diff between v1.32.0 and v1.32.1 and it doesn't seem to be a regression here. I still decided to report here to let you guys know as other people may be affected by this too. I'l digging deeper right now :pick:

[2020-11-01 22:08] invidian commented on #1483
Oh, interesting:
[code]

I suppose this was not intended.

[2020-11-01 22:13] sayboras commented on #1483
good finding :100:, now I can confirm it's my mistake overriding the tag for docker image. I used the same tags for both :facepalm:.

Thanks for checking on this :100:

[code]

[2020-11-01 22:17] invidian commented on #1483
No worries, it didn't take too much time. @sayboras are you going to fix it then?

[2020-11-01 22:19] sayboras commented on #1483
Yeah, I can do it, but later in the day only, I am about to start my day job :)

[2020-11-02 00:44] aaronchipper commented on #1483
Thanks for this.
It bit us on the backside over the weekend when pushing a deploy. We worked around it adding a make install to the build scripts, but it definitely was a surprise!
Let me know if you want someone to test and confirm - happy to do so.

[2020-11-02 01:40] DRK3 commented on #637
This is still an issue for me in v1.31.0.

[2020-11-02 07:01] bombsimon commented on #637
It seems like it's not fixed in the upstream repository so not much we could do. I will keep this issue closed and as soon as the linked issue is resolved we can bump the version in `golangci-lint`.

[2020-11-02 07:37] akaroot opened #1486 "latest docker image switched from Debian to Alpine"
Hi. Two days ago I have  noticed that golangci/golangci-lint:latest switched to Alpine

[code]

Previous version used Debian. I've tried v1.32.0 and it was on Debian

[code]

Are you dropping debian support?

[2020-11-02 08:57] mac89 commented on #1486
This seems unintended. Caused by #1471.

[2020-11-02 09:02] sayboras commented on #1486
Yeah, same as https://github.com/golangci/golangci-lint/issues/1483, I will send the fix soon :1234:

[2020-11-02 09:33] sayboras commented on #1483
Thanks guys for offering help to test this one out, the changes are available in #1487, please let me know if there is anything that I could have missed (again :sweat: )

[2020-11-02 12:14] aaronchipper commented on #1483
Looking good. Thanks for this.

[2020-11-02 13:03] fighterlyt opened #1488 "some problem with private repository,goimports: 10:2: invalid import path: "`gitlab.sogame.co/go/errors`""
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-11-02 14:11] azr opened #1489 "SA4008 ( variable in loop condition never changes (staticcheck) ) triggered but wrong"
Hello there !

<details><summary>Version of golangci-lint</summary>

[code]

</details>

<details><summary>Config file</summary>

[code]

</details>

<details><summary>Go environment</summary>

Irrelevant</details>

Verbose output of running in circle ci:

[code]

In this case v.Values is an array of structs, this loop totally works. This is not blocking me as I simply needed the first existing va

[2020-11-02 15:18] ernado commented on #1488
Hey, can you please provide the way to reproduce this error? E.g. some minimal source file that triggers this issue, but is not breaking your NDA.

Looks like there is
[code]
somewhere in you code :thinking:

[2020-11-03 01:06] #1483 closed

[2020-11-03 01:06] #1486 closed

[2020-11-03 01:32] howardjohn opened #1490 "gci+goimports = duplicated imports"
Config:
[code]

Input:
[code]

Output:
[code]

Output seems nondeterministic

cc @daixiang0

[2020-11-03 01:35] howardjohn commented on #1490
Input:

[code]

Output:
[code]

[2020-11-03 01:36] howardjohn commented on #1490
Also can only reproduce through golangci-lint, not direct calls on `goimports -local istio.io -w main.go; gci -local istio.io -w main.go`

[2020-11-03 04:59] sanposhiho opened #1492 "Support for wastedassign"
Hi :)

[wastedassign](https://github.com/sanposhiho/wastedassign)

Go compiler can find wasted assign, but cannot find wasted reassign.

#### Example

[code]

[2020-11-03 05:15] fighterlyt commented on #1488
this is my private repository . the code can be compiled and worked

--
Sent from Canary (https://canarymail.io)

[2020-11-03 07:10] bombsimon commented on #1488
I can't reproduce this either, would you mind adding a minimal reproducible example?

[2020-11-03 14:44] pierrre commented on #1453
Hello !
It seems to be used by vscode, and it's reporting an issue for me.

[2020-11-03 14:45] pierrre commented on #1453
Hello !
It seems to be used by vscode, and it's reporting an issue for me.
The field `linters-settings.depguard.packages-with-error-message` should be an array of objects, not an object.

[2020-11-03 14:49] zepatrik commented on #1453
Hm right, seems like I missed that. Feel free to fix it in the schema store, they respond quickly

[2020-11-04 14:51] azr commented on #1489
Ah I think that this is what the linter was trying to say, that we return on the first loop ! NVM ! I think the error message could be a bit more precise here then 🙂 .

[2020-11-04 14:51] #1489 closed

[2020-11-06 03:56] derekperkins commented on #1473
It was attempted here https://github.com/anuvu/bazel-nogo-lint 14 months ago, but appears to be abandoned.

[2020-11-06 08:46] Antonboom opened #1495 "More configurable goconst"
Hello!
I have a question :)

I needed the flags in `golangci-lint` that are in the original `goconst`:
https://github.com/jgautheron/goconst/issues/11

I wanted to do a PR and got confused where:
- https://github.com/golangci/goconst (outdated)
- https://github.com/jgautheron/goconst

What is the difference?

What is the best way to proceed? Try to update the `golangci/goconst` fork and then updat

[2020-11-06 09:39] liuss01 opened #1496 "Could not find nil pointer"
[code]

[2020-11-06 19:54] iwankgb commented on #1450
I have a fix for your problem but I'm struggling with testing it.

[2020-11-07 19:55] iwankgb commented on #1496
@liuss01 can you provide more information, please? Lonely code snippet might be difficult to understand.

[2020-11-07 20:01] iwankgb commented on #1495
@Antonboom judging by this comparison: https://github.com/jgautheron/goconst/compare/master...golangci:master the goal was to enable `goconst` to be used as a library. You may want to consider filing an issue in jgautheron/goconst asking about such a feature. In the meantime I will update our fork.

[2020-11-08 13:47] DONSA opened #1499 "Sort structure declaration fields alphabetically"
Before:
[code]

After:
[code]

[2020-11-08 13:55] Antonboom commented on #1495
@iwankgb

Сan we now completely switch to the original linter? :)
https://github.com/jgautheron/goconst/issues/11#issuecomment-723576953

[2020-11-08 15:21] bombsimon commented on #1499
Hello! What is this? Do you want a linter that does this? Do you want our code to use this?

[2020-11-09 07:35] DONSA commented on #1499
Yes, a linter with the option to automatically order structs alphabetically.

[2020-11-09 08:33] #1450 closed

[2020-11-09 09:54] sayboras commented on #1499
I am sure what the value of this proposal is, except for readability, which is arguable. In my opinion, struct fields are either grouped in particular logical order (e.g. data types, relationship, importance, etc), or in a optimal memory order (e.g. structcheck).

It will be great if you can explain your rationale of having such linter.

[2020-11-09 09:54] liuss01 commented on #1496
golangci-lint.exe version：
golangci-lint has version 1.31.0 built from 3d6d0e7 on 2020-09-07T15:14:41Z

scan via golangci-lint.exe run ./...

the code is above, just in a plain golang project dir

[2020-11-09 09:55] liuss01 commented on #1496
How can we scan the nil pointer bug via golangci-lint?
I try my best to scan the bug, but failed to see the result.

[2020-11-09 09:57] liuss01 commented on #1496
The bad code in my code is above "// **bad**".
Could you scan the two bugs by golangci-lint tool?
Thank you.

[2020-11-09 12:46] #1233 closed

[2020-11-09 12:47] iwankgb commented on #1496
Does any of linters integrated with golanci-lint have such capabilities? I'm not aware of any, to be honest.

[2020-11-09 17:19] DONSA commented on #1499
We decided to have it like that in our projects to make it easier to find the fields when we are reading the struct.
But you are right, and it surely doesn't apply to every project/team.

[2020-11-09 17:19] #1499 closed

[2020-11-10 00:01] lukasmalkmus opened #1502 "Error: build flag -mod=readonly only valid when using modules"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-11-10 23:51] oschwald commented on #1085
I also ran this while trying to enable `ruleguard` rules (via `gocritic` for our project). I haven't found a great workaround.

[2020-11-12 08:44] NishikaDeSilva opened #1504 "Conflict in GoSec Results"
I am trying to gosec in golangci-lint. However, some issues that are reported in gosec do not get reported when using gosec through golangci-lint.

I've used https://github.com/golang/example project to test this behavior. There were 3 issues reported when runnig gosec however with golangci-lint non were recorded. Please refer to the output below.

[code]
I ran the same commands to another directo

[2020-11-12 14:21] #1474 closed

[2020-11-13 21:24] bh7cw opened #1505 "`Unused func` is actually used"
golangci-lint shows errors:
[code]
But actually the funcs are used, see:
https://github.com/coreos/coreos-assembler/blob/d0c95965ac12c07cee89862d593e790301723e83/mantle/cmd/plume/release.go#L112
https://github.com/coreos/coreos-assembler/blob/d0c95965ac12c07cee89862d593e790301723e83/mantle/cmd/plume/release.go#L117
https://github.com/coreos/coreos-assembler/blob/d0c95965ac12c07cee89862d593e7903017

[2020-11-13 23:01] sayboras commented on #1505
Underlying few methods such as `doGCE`, `doAzure` are used and private. Hence, I think that is the reason for above error.

[2020-11-15 06:33] mjskier opened #1506 "go get -u github.com/golangci/golangci-lint/cmd/golangci-lint fails"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]
</details

[2020-11-15 06:45] sayboras commented on #1506
As mentioned in https://golangci-lint.run/usage/install/, go get is not supported.

[2020-11-15 06:45] #1506 closed

[2020-11-15 14:07] leventov opened #1507 "Add mulint - mutex usage linter?"
https://github.com/gnieto/mulint

[2020-11-16 08:35] daixiang0 opened #1509 "Discuss about switch to upstream Golint"
Thank you for creating the issue!

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).

Please include the following information:

Now at the [website](https://golangci-lint.run/usage/linters/), we say

[2020-11-16 09:05] sayboras commented on #1509
:+1: to use upstream version.

However, the above example is very much controversial in community, I saw a lot of hack like `MethodName ...` to bypass it. Maybe, we need to do in backward compatible way :thinking:

[2020-11-16 16:23] velp opened #1510 "Conflict gofumpt and wsl for empty lines before if statement"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-11-16 18:54] bombsimon commented on #1510
Hi! I'm the author of `wsl` and I'm not sure exactly how this should be tackled. In the mind of `wsl`, we should only cuddle one assignment with an if statement and we should encourage users to cuddle error checks. So to solve this, there's a third alternative which is what `wsl` would've made if the fixer was merged.

[code]

I agree that it's not obvious and I understand that it's hard to argue

[2020-11-16 19:29] velp commented on #1510
This code is just an example to describe the problem.

Hm, looks like `gofumpt -w ...` should add new line before nearest (for if statement) assignment (in my example it's `_, err := base64.StdEncoding.DecodeString(encodedStr)`) if found several assignments.

Let's ask gofumpt's author @mvdan

[2020-11-16 19:35] mvdan commented on #1510
I don't think gofumpt should fix anything here. The original source code is fine, as far as I can tell, and forcing the addition of an empty line feels out of scope for a generic formatter. If someone really wants to go the extra mile with empty lines, they can already use wsl. It seems like if that tool slightly improves its error message, or suggests the right change to make, then it won't enter

[2020-11-16 19:36] mvdan commented on #1510
I'm also not sure how useful it is to run two opinionated formatting/style tools at once. They'll probably run into conflicts sooner or later, unless both tools are compatible by design - just like gofumpt by design never fights gofmt.

[2020-11-16 23:05] ernado commented on #1509
Just disable EXC0002 default exclude.
It is unfortunate one, but we can't remove it due to backwards compatibility.

[2020-11-17 02:57] ZYunH commented on #1509
Same problem for me, since this rule is a little bit strict,  i will use it only in developing package, this problem also exists in `stylecheck`(EXC0011) for keeping backwards compatibility. Just like ernado says, it is a historical problem.

[2020-11-17 03:07] ZYunH commented on #1509
I fork a golint and then use it in golangci-lint with min-confidence=0(with lots of bugfix for personal use), then the test will fail, because most of testdata don't have comments on exported (const|var|...). Fix some testdata in https://github.com/golangci/golangci-lint/pull/1508.

[2020-11-17 03:14] daixiang0 commented on #1509
How about introduce upstream golint and rename it as "origin"?

[2020-11-17 08:25] chenlujjj opened #1512 "Make private linters support parameters"
**Is your feature request related to a problem? Please describe.**
I'm working on a custom private linter which checks that if `main.go` has some specific imports from our company's code base. It would be nice if I can config the imports names in settings like other public linters. Now I have to hard code.

**Describe the solution you'd like**
The config file may look like this (part of it):
[code

[2020-11-17 11:41] aymericbeaumet commented on #1085
What we have ended up doing is leverage a target in our Makefile to dynamically generate the Golint configuration file so that the `.so` can be an absolute path.

[2020-11-17 16:15] georgysavva commented on #1379
Hi. Any update on this?

[2020-11-17 17:06] invidian opened #1513 "Provide deterministic output of linter warnings"
**Is your feature request related to a problem? Please describe.**

Currently output from running the linter is sorted randomly:
[code]

This makes it difficult to fix one issue, then re-run the linter as all warnings change the order.

**Describe the solution you'd like**

Output from `golangci-lint run ./...` should be the same on every invocation if source code does not change.

[2020-11-17 17:26] bombsimon commented on #1513
The linters are run in parallell which is one of the reasons `golangci-lint` can perform so fast as it does. Running the linters sequentially would result in a major performance impact. Depending on the amount of issues reported even waiting for all results and sorting the output could result in a hit as well.

Is this only for your personal workflow or is there some underlying reason for this I'm

[2020-11-17 17:31] invidian commented on #1513
Right, I don't mind running in parallel, but this should be separate from the printing part I would imagine. Can't warnings be sorted before being printed? This behavior could be hidden by a feature flag initially or if it would have some kind of performance penalty.

This is for the personal workflow. But I think whenever it's possible, it's good to have a deterministic output from the executed c

[2020-11-17 17:33] iwankgb commented on #1513
I guess that sorting is doable. Perhaps not by default (it might be an issue for large amount of violations) but by enabling sorting processor. @invidian would it be good-enough-fix for you?

[2020-11-17 17:44] invidian commented on #1513
Yes, if this could be configured in `.golangci.yml` file, it would be awesome.

BTW, I usually run with the following configuration, which I think amplifies the need for sorting.
[code]

If you have some hints how this could be implemented, I can have a look into it myself. I started browsing the code but passed for now not being able to follow the CLI logic.

[2020-11-17 19:07] #1495 closed

[2020-11-17 19:17] iwankgb commented on #1513
I think I would start with, ekhm, [sort_processor.go](https://github.com/golangci/golangci-lint/blob/master/pkg/result/processors/sort_results.go) (I wasn't aware of it to be honest):
[code]

[2020-11-17 19:17] iwankgb commented on #1513
The flag seems to be missing from example configuration file and the docs, I will get it added :)

[2020-11-17 21:04] invidian commented on #1513
@iwankgb awesome, it seems this config works as expected :ok_hand:

[2020-11-17 21:39] bombsimon commented on #1513
Wow! I actually remember this now when you link it but I totally forgot about it. 💯

[2020-11-17 21:46] #1513 closed

[2020-11-18 13:16] ernado commented on #1509
This issue is nothing to do with switching to upstream, just disable default excludes.

[2020-11-18 16:06] cbandy opened #1515 "Can't run linter exportloopref"
It doesn't seem to be possible to run `exportloopref` by itself, even on the simplest of packages. For example, this single file that imports `fmt` can't be analyzed:

[code]

[code]

[code]

I've tried the latest release and built from `@master`.

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on

[2020-11-18 16:11] cbandy commented on #1515
Enabling any of the other default linters seems to work around this. For example,

[code]

[2020-11-18 21:20] tetafro commented on #1507
I'd rather open this issue is `mulint` repository. Usually authors add their linters in golangci-lint by themselves.

[2020-11-19 06:11] Memtwo opened #1516 "Can't install golangci-lint normally on Ubuntu 20.04"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]
golangci-

[2020-11-19 06:25] sayboras commented on #1516
hard to know what the issue, can you at least add the steps that you followed for installation ?

[2020-11-19 06:31] Memtwo commented on #1516
step:
root@fjd-virtual-machine:/home/fjd# curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.32.2
golangci/golangci-lint info checking GitHub for tag 'v1.32.2'
golangci/golangci-lint info found version: 1.32.2 for v1.32.2/linux/amd64
golangci/golangci-lint info installed /root/go/bin/golangci-lint
root@fjd-virtual-machine:/ho

[2020-11-19 06:41] sayboras commented on #1516
can you check if $(go env GOPATH)/bin in your $PATH? This is most likely the case.

[2020-11-19 08:45] peachestao commented on #307
l have similar question on windows 10,golangci-lint version is V1.32.2
run command:

[code]

got the error:

[code]

Has this problem been fixed？thank you!

[2020-11-19 09:19] daixiang0 commented on #1509
@ernado let's update the docs :) It would not mislead users.

[2020-11-19 10:36] lukasmalkmus opened #1517 "False positive for structcheck linter"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-11-20 03:37] HuberyChang opened #1518 "go get install failed"
Thank you for creating the issue!

- [ ] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [ ] Yes, I've searched similar issues on GitHub and didn't find any.
- [ ] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-11-20 04:21] sayboras commented on #1518
Same as #1506

[2020-11-20 04:22] #1518 closed

[2020-11-20 04:49] HuberyChang opened #1519 "docker install failed"
Thank you for creating the issue!

- [ ] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [ ] Yes, I've searched similar issues on GitHub and didn't find any.
- [ ] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-11-20 07:10] bombsimon commented on #1519
Could you clarify this a bit? The title says "docker install failed" but according to your output you're just executing `golangci-lint run -v` and not using Docker. This is how you would run `golangci-lint` inside a Docker container.

[code]

If this is what you're doing, what repository is this? It is possible that `golangci-lint` will take more than 1 minute to execute for large repositories, es

[2020-11-20 15:29] bh7cw commented on #1505
Yeah. The method which calls those methods is not used. I believe it would help if the root cause is shown in the error. Anyway, will close the issue.

[2020-11-20 15:29] #1505 closed

[2020-11-22 06:55] HuberyChang commented on #1519
@bombsimon

this is my jenkins pipeline command
[code]
the `golangci-lint` container works in a k8s pod

[2020-11-22 06:57] HuberyChang commented on #1519
---
this is my jenkins pipeline command
[code]
the `golangci-lint` container works in a k8s pod

[2020-11-22 06:58] sayboras commented on #1516
Closed this issue, feel free to reopen if required.

[2020-11-22 06:58] #1516 closed

[2020-11-23 11:55] cardil opened #1522 "Yum repo"
**Is your feature request related to a problem? Please describe.**
The golangci-lint releases are coming quickly. It's hard to keep being updated. An RPM files are being generated for each release, so hosting a YUM repo for them seams like a good idea.

**Describe the solution you'd like**
Bintray supports hosting RPM packages for opensource for free. It's quite easy to set up. I propose to use it

[2020-11-24 04:08] charnet1019 opened #1523 "/root/go/pkg/mod/github.com/golangci/golangci-lint@v1.33.0/pkg/golinters/gci.go:50:25: assignment mismatch: 3 variables but gci.Run returns 2 values"
go version：1.14.12

go get -u github.com/golangci/golangci-lint/cmd/golangci-lint
go: downloading github.com/golangci/golangci-lint v1.33.0
go: found github.com/golangci/golangci-lint/cmd/golangci-lint in github.com/golangci/golangci-lint v1.33.0
go: downloading github.com/spf13/pflag v1.0.5
go: downloading github.com/pkg/errors v0.9.1
go: downloading github.com/go-xmlfmt/xmlfmt v0.0.0-20191208150

[2020-11-24 07:16] bombsimon commented on #1523
Duplicate of #1518 and #1506.

As mentioned in https://golangci-lint.run/usage/install/, go get is not supported.

[2020-11-24 07:16] #1523 closed

[2020-11-24 09:29] 9547 opened #1524 "Curious why the nilness analyze was removed in v1.19.0"
Thank you for creating the issue!

- [ ] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [ ] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-11-24 12:36] sayboras commented on #1524
nilness is now part of govet, please find below snapshot of golangci.yaml configuration file.

[code]

[2020-11-24 13:49] ernado commented on #1523
`go get` should work in general, but `go get -u` is definitely not supported because it will update all dependencies and ignore pinned versions in go.mod, which is unfortunate

[2020-11-24 19:23] Glyphack opened #1525 "New Linters(import aliases, log messages, cli help commands)"
**Is your feature request related to a problem? Please describe.**
currently there are not linters for:
- CLI help should be capitalized
- log messages should not be capitalized
- import aliases should be have a consistent pattern

**Describe the solution you'd like**
I would like to suggest Adding three rules to golangci-lint.

The first two linters are clear, but for the third one there is a rul

[2020-11-24 21:11] 9547 commented on #1524
@sayboras thanks for your advice, it helps me.

[2020-11-24 21:11] #1524 closed

[2020-11-27 03:55] phillbaker commented on #948
I also had this issue on travis, in my case it was due to travis doing a shallow clone (depth of 50 by default), adding to the `.travis.yml` fixed the issue for me:
[code]

[2020-11-27 10:01] valbuena commented on #948
Hey @phillbaker, In the end, I am using the golangci github action: https://github.com/golangci/golangci-lint-action with this configuration. I hope it is useful for you.

[code]

[2020-11-30 11:52] abhayJava opened #1530 "Invalid pseudo-version: revision is shorter than canonical - #730 doesnt have solution"
Thank you for creating the issue!

- [ ] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [ ] Yes, I've searched similar issues on GitHub and found https://github.com/golangci/golangci-lint/issues/730 , but could not get solution in it.
- [ ] Yes, I've included all information below (version, config, etc).

Please include the following inform

[2020-12-01 11:58] rafaelkperes commented on #1517
There's an open old issue for the linter: https://gitlab.com/opennota/check/-/issues/11.

As stated in their docs:

[2020-12-01 13:09] Antonboom opened #1535 "Panic in godot"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-12-01 13:10] Antonboom commented on #1535
[code]

[2020-12-01 13:13] Antonboom commented on #1535
I found a couple more directories, maybe there was a error in them?

[code]

[code]

[2020-12-02 12:21] #1488 closed

[2020-12-02 22:46] joemcmahon commented on #825
I got this error today on OS X because `~/Library/Caches/go-build` was owned by `root`. The `go list` command mentioned by others above also tracked this problem down.

[2020-12-03 15:42] #1535 closed

[2020-12-04 08:32] daixiang0 opened #1537 "Can not detect issue when check dir"
In https://github.com/daixiang0/kubeedge/tree/test-ci, `edge/pkg/servicebus/config/config.go` has an obvious issue, while do not detect it.

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).

Please

[2020-12-04 16:19] nawa opened #1538 "Critical vulnerabilities in the docker image `golangci/golangci-lint`"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Since Docker hub introduced pull rate limits we are using docker registry proxy with https://goharbor.io/ under the hood. Harbor has built-in vulner

[2020-12-04 19:50] bodqhrohro commented on #337
Even with `GOGC=1`, `golangci-lint` still uses more than 3 GB of RAM when analyzing [Dendrite](https://github.com/matrix-org/dendrite) :C

[2020-12-04 22:30] ernado commented on #1538
https://github.com/golangci/golangci-lint/blob/master/build/Dockerfile this one? It uses `FROM golang:1.15` so probably it will be fixed automatically when new version is released.

[2020-12-05 15:43] iwankgb commented on #1517
@lukasmalkmus, it will take a while I think. Before I fix it I will try to get rid of the fork and move `golangci-lint` to upstream version. I will keep updating this issue.

[2020-12-05 21:39] SoMuchForSubtlety opened #1539 "structcheck unused false positive"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Structcheck reports fields as unused due to build constraints. You can see an example here https://github.com/SoMuchForSubtlety/f1viewer/commit/7956

[2020-12-05 22:29] iwankgb commented on #1539
Have you tried setting GOOS environment variable when running golangci-lint? You seem to run it on Linux so these two structs are not used.

[2020-12-06 04:24] daixiang0 commented on #1537
please help me @golangci/team

[2020-12-06 08:06] ernado commented on #1537
I see a panic in log, probably it is the primary issue?

[2020-12-06 14:14] ldez commented on #1537
It's an issue with [staticcheck](https://github.com/dominikh/go-tools)

[code]

I recommend opening an issue in the [staticcheck](https://github.com/dominikh/go-tools) repository.

[2020-12-06 16:40] SoMuchForSubtlety commented on #1539
Yes, it does not report the issue when GOOS is windows. I guess I could run the github action is windows, but if I have fields that are only used on a different system I will have the same issue again.

[2020-12-06 21:39] ldez commented on #1496
For the two "bad code":

[code]

[code]

These 2 elements are different:
- one is a type assertion problem
- one is a call of a method on a nil pointer when the method is defined on an embedded structure

---

FYI, it's possible to call a method on a nil pointer:

https://play.golang.org/p/woKTykNQ8TA

So the problem is more related to:
[code]

Because the `String` method is on the struct `Person`

[2020-12-07 01:06] daixiang0 commented on #1537
@ernado  @ldez is it normal that one failed linter does impact on other linters' result?

[2020-12-07 01:45] ldez commented on #1537
The panic comes from the goanalysis related to the MetaLinter, in this case, the global `recover` doesn't allow to continue the analysis.

- global recover:
https://github.com/golangci/golangci-lint/blob/cf32a7b7067315bc4c04a9ef5797ec71a8d9304e/pkg/lint/runner.go#L91-L101

- recover in goanalysis:
https://github.com/golangci/golangci-lint/blob/cf32a7b7067315bc4c04a9ef5797ec71a8d9304e/pkg/golinters

[2020-12-07 01:55] daixiang0 commented on #1537
I would pick the second one: create a result like "xxx linter panic, please file an issue to github" then continue run other linters.

[2020-12-07 01:58] ldez commented on #1537
The second solution create a dirty output:

<details>
<summary>logs</summary>

[code]

</details>

I would prefer the first solution:

<details>
<summary>logs</summary>

[code]

</details>

[2020-12-07 02:18] daixiang0 commented on #1537
Oh I see, if can not continue, the first one is better.

[2020-12-07 08:49] nawa commented on #1538
Yes, the issue is deeper than the `golangci-lint's` image itself. It should be fixes on the side of the official debian based `golang` image

As a workaround `golangci/golangci-lint:v1.33-alpine` can be used - it has no vulnerabilities

[2020-12-07 09:07] sayboras commented on #1538
I guess we can setup a cronjob to scan docker image, but it's unlikely we can't do anything (as the base image is just pointing to latest available Golang image).

[code]

[2020-12-07 09:18] nawa commented on #1538
I think it can be closed as can't be fixed in `golangci-lint` repo directly

[2020-12-07 21:39] ldez commented on #1537
Closed in favor of dominikh/go-tools#882

[2020-12-07 21:39] #1537 closed

[2020-12-07 23:08] sayboras commented on #1538
Thanks, I will close this ticket now 💯

[2020-12-07 23:08] #1538 closed

[2020-12-08 03:31] liuss01 commented on #1496
Thank you for your reply.

Yes, there are two different elements for the two "bad code".
And I try my best to look for a linter that could detect them, but I failed to find one.
I found that "https://staticcheck.io/docs/checks#SA5011" seems to deduce them. But it failed.
At the same time, the Goland IDE can detect them and notice us they are there.

Nil pointer derenfernce is too dangerous to run,

[2020-12-08 03:37] ldez commented on #1496
In fact, if you try my [example](https://play.golang.org/p/woKTykNQ8TA), Goland will display a warning but it's a false-positive.

The SA5011 rule is able to find a dereferenced pointer, so it does not apply to your cases.

Currently, I think that writing tests on your codebase is the best way to find these issues.

[2020-12-08 03:46] liuss01 commented on #1496
Much aprreciate to you. :-)

The Goland really says the warning.

For those possible nil pointer code, we will try other ways such as code review and test to find them.

[2020-12-08 17:57] wtask opened #1542 "Different behavior of govet && nolinitlint on Windows and Linux"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-12-08 20:17] kortschak opened #1543 "golangci-lint attempts to follow //line directives into non-Go source"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</details>

<details><summary>Config file</

[2020-12-09 20:35] bombsimon commented on #1542
Can you provide a minimal reproducible example for this please? It's not clear what code is causing this.

[2020-12-10 03:21] bmhatfield opened #1545 "Golangci-lint breaks Ruleguard's `File().PkgPath` variable"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-12-10 08:59] DeloWu opened #1546 "declared but not used error"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-12-10 12:43] PotatoesFall commented on #892
I ran into this due to another weird feature. I am using go:generate enumer to get string values from comments - and I get a misspell linter warning on the comment. Since I can't // nolint:misspell the comment itself, I want to add it for the whole file.

[2020-12-10 13:11] ldez commented on #892
Instead of using the directive, you can use `issues.exclude-rules` or `run.skip-files`:

https://golangci-lint.run/usage/configuration/

[2020-12-10 16:35] bombsimon commented on #1546
The linter is correct, it is declare and not used. It's just re-assigned but still not used. Unless you pass it to another method, compare it or return it it will not be seen as used.

[2020-12-10 18:34] Zamiell opened #1547 "Update gofumpt to the latest version"
Hello and thanks for the excellent software.

- The current version of the `gofumpt` linter used by this repository is presumably listed [here](https://github.com/golangci/golangci-lint/blob/master/go.mod#L73).
- This corresponds to the version from [August 2nd, 2020](https://github.com/mvdan/gofumpt/commits/master).
- This version is old, and does not have the latest features.
- [According to the

[2020-12-10 20:13] ldez commented on #1547
Hello,

- for the dependencies that use tags and version the [dependabot](https://dependabot.com/) handles the update.
- for the other dependencies, the update must be done manually. golangci-lint is an open-source project, everybody can update a dependency by opening a PR.

I created a PR (#1548) to update the lib but I'm not responsible for the update of this dependency.

[2020-12-10 21:22] Zamiell commented on #1547
Excellent, thank for the quick reply and PR.

[2020-12-11 06:37] #1543 closed

[2020-12-11 21:17] #1547 closed

[2020-12-11 21:23] iwankgb commented on #1539
I ma afraid it is expected behaviour. A fix could be declaring structs an functions that are used on certain OSes or archs in files that are built on respective OSes and archs.
See: https://golang.org/cmd/go/#hdr-Build_constraints

[2020-12-12 10:31] alemoi opened #1550 "Somehow misleading documentation on golangci-lint run command"
Thank you for creating the issue!

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version</summary>

[code]

</details>

<details><sum

[2020-12-12 16:31] iwankgb commented on #1517
@lukasmalkmus unfortunately it does not seem to be possible to switch `golangci-lint` to upstream `structcheck`. There are too fundamental differences between the fork: we use `golang.org/x/tools/go/analysis` and `structcheck` upstream uses `golang.org/x/tools/go/packages`. Whole point of the for has been to rewrite whole `check` repo, apparently. There are no tests there so the refactoring/rewrit

[2020-12-12 17:38] iwankgb opened #1551 "We shall not user for of mibk/dupl"
We shall not use fork of [mibk/dupl](https://github.com/mibk/dupl).

[2020-12-12 18:44] ldez commented on #1551
Hello,

could you explain why did you say that?

https://github.com/mibk/dupl/compare/master...golangci:master

[2020-12-12 19:18] iwankgb commented on #1551
I say that because the fork is even more outdated (last commit from upstream is dated for November 2017).

I can't point you at exact decision as there is no process for making such that I'm aware of. I was involved in two issues where users requested updates to linters: it'a easier to keep them up-to-date if we don't have a fork in between.

[2020-12-12 19:19] iwankgb commented on #1551
See https://github.com/golangci/golangci-lint/issues/1495 for example.

[2020-12-12 19:26] ldez commented on #1551
Maybe it can be a good thing to open a discussion here: https://github.com/orgs/golangci/teams/team/discussions

[2020-12-12 19:31] iwankgb commented on #1551
If you think that it is bad idea - initiate a discussion please. I will take lack of disapproval for approval.

[2020-12-12 19:41] ldez commented on #1551
I just react to fact that you express a golangci-lint community decision.

_We shall not use fork of mibk/dupl_ is a strong assertion, IMHO I think that a strong assertion requires a strong agreement.

Using less fork can be a good idea or not: it depends on the activity of the project, on the type of the project.
I'm not sure that we can create a global rule about the use or not of forks.

I thin

[2020-12-12 20:21] iwankgb commented on #1551
You are right, I should have not said it. The description has been rephrased.

It is. And I'm strongly convinced that using forks where that do not **have** (substantial changes, fork being maintained more than the upstream) to be used is bad idea.

We can't. There are forks in golangci organization that differs far too much from upstream (see: #1517).

As far as I understand the (undocumented) re

[2020-12-12 21:01] iwankgb commented on #1545
@bmhatfield it will be extremely difficult to determine what's wrong without a snippet of source code allowing to replicate the issues. Can you provide such a snippet?

[2020-12-12 21:04] iwankgb commented on #1530
@abhayJava you are using outdated version of `golangci-lint`. Can you install and up-to-date one and confirm that problem still occurs?

[2020-12-12 21:06] #1539 closed

[2020-12-12 21:29] iwankgb commented on #1550
It used to be a cloud offering https://medium.com/golangci/golangci-com-is-closing-d1fc1bd30e0e.

[2020-12-12 21:59] #1550 closed

[2020-12-12 22:05] iwankgb commented on #1519
@HuberyChang I **think** (and I might be wrong) that you set too short timeout in configuration file. Could you share it?

[2020-12-12 23:05] iwankgb commented on #1546
@DeloWu feel free to reopen this issue if you still think it is a bug.

[2020-12-13 14:19] ernado commented on #1551
In general we should remove forks in favor of upstream dependencies if possible.

Yes, it is correct. There were two reasons of forked dependencies: we were unable to use them as a library or they were too slow.

[2020-12-13 14:39] ernado opened #1556 "False positive "should have a package comment" from golint"
Having following config:
[code]

I'm getting an error for each file in package (expect one with actual documentation):
[code]

Looks like `golint` is not package-aware?

Related: #456 #464

Update:
If `min-confidence: 0` is removed, those issues are not reported :thinking:

[2020-12-13 15:03] ldez commented on #1556
Hello,

golint is package-aware but the linting applies at file level.

[code]
https://github.com/golang/lint/blob/738671d3881b9731cc63024d5d88cf28db875626/lint.go#L416

[code]
https://github.com/golang/lint/blob/738671d3881b9731cc63024d5d88cf28db875626/lint.go#L379

[code]
https://github.com/golang/lint/blob/738671d3881b9731cc63024d5d88cf28db875626/lint.go#L195

[code]
https://github.com/golang/l

[2020-12-13 15:15] ldez commented on #1556
The default `min_confidence` is 0.8, and the "package comment" rule has confidence of 0.2

So by default, those messages are not displayed by golint.

[2020-12-13 15:32] ldez commented on #1556
IMHO the `EXC0002` exclude rule can be dropped as the default `min_confidence` is 0.8

[2020-12-13 15:34] ernado commented on #1556
Should we investigate whether it is possible to make `golint` understand that other file in package contains package comment?

AFAIK `EXC0002` is not only about package comments so we can't disable it without breaking backward compatibility.

[2020-12-13 15:39] ldez commented on #1556
The only rule with a confidence lower than is EXC0002.

[code]

[2020-12-13 15:45] ldez commented on #1556
sorry yes EXC0002 is also about the other comments rule, so this rule cannot be dropped.

[2020-12-13 15:48] ldez commented on #1556
But EXC0002 could be divided into 2 or 3 rules:
- comment on package
- comment on method and function
- comment on type on const

[2020-12-13 15:52] ldez commented on #1556
yes I think we could investigate

[2020-12-13 16:10] ldez commented on #1556
FYI stylecheck handle that rule by package instead of file:

[2020-12-13 16:26] bombsimon commented on #1519
It's currently set to 1m according to the output (`level=info msg="Execution took 1m0.000224665s"`). I suggested setting it to 10m but never got a response from the author so maybe we should close this for now.

[2020-12-13 18:45] #1519 closed

[2020-12-14 09:35] iwankgb commented on #1551
Or upstream being abandoned.

[2020-12-14 10:11] DeloWu commented on #1546
This code passed by go build.I think golangci-lint should report it as a issue rather than report a running error and exit.

[2020-12-14 13:26] bombsimon commented on #1546
`golangci-lint` doesn't even run if the code doesn't compile so I don't think `golangci-lint` should ever be used to catch compiler errors. It's a collection of linters to reduce code smell and keep users from doing unwanted patterns. Passing a string around without using it other than re-assigning it is very match a bad pattern in my opinion so I think this check is valid. So use the compiler to

[2020-12-14 17:01] bflad opened #1557 "Update go-mnd for -ignore-functions Support"
**Is your feature request related to a problem? Please describe.**

The upstream [`go-mnd` analyzer](https://github.com/tommy-muehle/go-mnd) supports a new `-ignore-functions` flag in [version 2.1.0](https://github.com/tommy-muehle/go-mnd/releases/tag/v2.1.0), while `golangci-lint` currently implements version 1.3.1. In our use case, we would like to enable this analyzer, however due to the type o

[2020-12-14 23:54] #1557 closed

[2020-12-15 03:19] jschaf commented on #1473
I'm interested in implementing this. First off, no guarantees but I'll document my progress here. Let's start with some background:

### How bazel nogo works

- rules_go registers the default nogo BUILD label described below.
- The nogo rule implementation builds the nogo binary config programmatically, using the template in [`generate_nogo_main.go`](https://github.com/bazelbuild/rules_go/blob/346

[2020-12-15 08:47] DeloWu commented on #1546
yes,so it is a bug!This specific linter makes golangci-lint stop and no other linters are run or code analyzed.
I konw the source code I provided is not pretty, but go.1.12 and go1.15 can compile successfully.
I ran `golangci-lint` by  default linter  to check this source code, and all linter stopped.
CMD:
[code]
OUTPUT:
[code]
I tried by many linters, and most of them stop all linter like govet ,

[2020-12-15 09:27] iwankgb commented on #1546
@DeloWu we will look into this. Your last comment make clear what is your issue, thank you.
I have to state that I am not very optimistic because different linters have different expectations and some of them might not work when other do.

[2020-12-15 22:45] jschaf commented on #1473
I hit a roadblock. I can't figure out how to adapt the golangci-lint analyzers to expose the `analysis.Analyzer` that nogo expects. I tried two approaches:

- Top down: `Executor` is to high level. I need access to the report output to pass to `analysis.Pass.Report`.
- Bottom up: Run individual linters like `golinters.NewUnused()`. This doesn't work because the linter context needs a package cache

[2020-12-15 22:50] kipply commented on #913
I too am experiencing this problem 😞

[2020-12-15 22:56] derekperkins commented on #1473
@jschaf Thanks for trying this out and reporting here! I ran out of time and won't be able to revisit for a while. This is exactly what I was hoping would come out of reporting this. It seems that with a few simple changes to the upstream library here, we should be able to dramatically increase the ease of integration via option #2 like you are attempting.

@sayboras and @bombsimon hopefully have

[2020-12-16 00:23] jschaf commented on #1473
Another snag: It's difficult to reference external repos to use with nogo without creating a circular dependency: https://github.com/bazelbuild/rules_go/issues/2759

[2020-12-16 04:29] jaqx0r opened #1559 "Can't cope with line directives in goyacc generated files: "yaccpar: no such file or directory""
github.com/google/mtail creates part of the parser with goyacc, and that code generator inserts line directives for things that don't really exist because they're internal string constants inside goyacc before the code is generated.

I don't understand why golangci-lint fails here, but I remember gometalinter used to fail in a similar way.

----

- [ x] Yes, I'm using a binary release within 2 lat

[2020-12-16 20:34] wburningham commented on #238
Ignoring the speed differences, the biggest reason I use revive over golint is the support for "disabling a specific rule or the entire linter for a file or a range of lines". I currently have to run revive and golangci-lint (with golint disabled). Please add support for revive so I can just run one lint command.

[2020-12-16 20:54] s3rj1k commented on #238
@wburningham And actually still feels that revive catches more errors than some of the similar linters in golangci-lint.

It was the case in 2018, now is probably difference of catching errors is lesser.

This all comes from my experience only :)

[2020-12-17 06:08] aphsa opened #1561 "golangci-lint run --disable-all -E govet . ERRO Running error: context loading failed: failed to load packages: failed to load with go/packages: err: exit status 1: stderr: missing $GOPATH"
Thank you for creating the issue!

- [*] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [*] Yes, I've searched similar issues on GitHub and didn't find any.
- [*] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-12-17 18:15] powerman opened #1564 "godot: get comments: inconsistence between file and AST"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-12-17 19:01] sebastien-rosset opened #1565 "Syntax errors in gocritic ruleguard file are silently ignored"
golangci-run silently ignores the following gocritic configuration issues:
1. The value of the `ruleguard/rules` setting is an inexistent path or the file is not readable. For example, the value is `ruleguard/rules.go`, but that file does not exist
2. The content of the ruleguard rules has at least one syntax error. All rules in the rules.go file are silently ignored.

This is unlike the gocritic

[2020-12-17 19:36] sebastien-rosset commented on #1565
When gocritic is invoked directly, an error is returned as shown below. I'm not sure if that helps, but in that case the exit status is `0`.
[code]
produces the following output:

[code]

[2020-12-18 05:59] ldez commented on #1564
Hello,

the problem has been fixed by #1536

[2020-12-18 05:59] #1564 closed

[2020-12-18 16:34] pierrre opened #1566 "nolintlint: "allow no explanation" broken since v1.31.0"
<details><summary>Version of golangci-lint</summary>

[code]

</details>

<details><summary>Config file</summary>

[code]

</details>

<details><summary>Go environment</summary>

[code]

</details>

<details><summary>Verbose output of running</summary>

[code]

</details>

The "allow no explanation" feature of `nolintlint` is broken since v1.31.0.
With v1.30.0 it's reporting "nolint" with no expla

[2020-12-20 23:05] ldez commented on #1566
Hello,

I don't see any changes between v1.30.0 and v1.31.0:
https://github.com/golangci/golangci-lint/compare/v1.30.0...v1.31.0

I tried to create the report with v1.30.0 but there is no report.

Could you provide a code example?

[2020-12-20 23:41] ldez commented on #1515
The `asciicheck` linter produces the same error when run alone.

For the moment, I didn't find the root cause.

[2020-12-21 00:58] ldez commented on #1504
Hello,

The difference comes because golangci-lint use default excludes: https://golangci-lint.run/usage/configuration/#command-line-options

<details>

</details>

If you want to achieve the same behavior as gosec, you should disable these default exclusions:

[code]

[2020-12-21 00:58] #1504 closed

[2020-12-21 01:18] ldez commented on #1264
Fixed by #1145

The current version is 2020.1.6

[2020-12-21 01:18] #1264 closed

[2020-12-21 01:29] ldez commented on #1014
Fixed by v1.25

[2020-12-21 01:29] #1014 closed

[2020-12-21 01:42] ldez commented on #1561
Hello,

could you provide a reproducible code example?

[2020-12-21 01:46] ldez commented on #1083
Fixed by  #1161

[2020-12-21 01:46] #1083 closed

[2020-12-21 01:46] ldez commented on #799
Fixed by  #1161

[2020-12-21 01:46] #799 closed

[2020-12-21 08:11] pierrre commented on #1566
Yes, that's why I'm reporting this issue

Here is a code sample:
[code]

With golangci-lint v1.30.0:
[code]

With golangci-lint v1.31.0:
[code]

Same config file as the one I shared above.

[2020-12-21 14:44] ashanbrown commented on #1542
It sounds like some linters, such as `govet`, make recommendations based on the implementation of structs.  Given OS-specific implementations (in this case it sounds like we have a lock for one OS but not another), it may be necessary to exclude them from `nolintlint` checks.  One thing not included in `nolintlint` is a way to `nolint` itself, both because this could create the very problem `nolin

[2020-12-21 16:51] ldez commented on #1566
After a lot of tries, I found a lead:
- if I use the binary from the release, I'm able to reproduce
- if I build and run a binary from the tag, I'm not able to reproduce.

Currently, I use go1.15.6, but if I use go1.14.13 when I'm building a binary from the tag, I'm able to reproduce.

I also tried with go1.15 and I had the same problem as go1.15.6

So it seems related to the go version.

[2020-12-21 17:11] pierrre commented on #1566
I'm using the binary from the release for both versions.
My install script: `curl -vfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(GOLANGCI_LINT_DIR) $(GOLANGCI_LINT_VERSION)`
Is that the correct way ?

Currently my Go version is 1.16beta1, but I got the same issue with 1.15.6.

I didn't noticed any other issue.
Only nolintlint seems broken for me.

[2020-12-21 17:13] ldez commented on #1566
I think I find the root cause...

[2020-12-21 17:14] ldez commented on #1566
I talk about go version used to compile golangci-lint.

[2020-12-21 17:20] ldez commented on #1566
I find the root cause, now I'm sure at 100%:

https://github.com/golang/go/commit/5a550b695117f07a4f2454039a4871250cd3ed09#diff-f56160fd9fcea272966a8a1d692ad9f49206fdd8dbcbfe384865a98cd9bc2749R158

The `//nolint` comments are seen as a directive so they are excluded from the AST during the call of `CommentGroup.Text()`

[2020-12-21 17:41] ashanbrown commented on #1566
@ldez Thank you for identifying the root cause.   I can put up a fix for this if you like but if you'd rather create one yourself, I'm happy to leave it to one of you.  Just let me know either way.  Thanks.

[2020-12-21 17:46] ldez commented on #1566
I already fixed the problem in #1571

[2020-12-22 00:24] #1566 closed

[2020-12-22 07:27] pierrre commented on #1566
thank you very much ! :+1:

[2020-12-22 22:15] h4yfans commented on #537
Still same with me

[2020-12-23 13:02] jarv opened #1574 "Running golangci-lint against single file fails with undeclared name error"
I'm using syntastic/vim with which calls golangci-lint `1.33.0`  against a single file, this error is pretty simple to reproduce so I'm wondering if `golangci-lint` is not meant to be invoked this way or there is something else wrong with configuration.

To reproduce:

[code]

`hello.go`:

[code]

`hello_test.go`:

[code]

Running `golangci-lint` against `hello_test.go` fails with ` undeclared nam

[2020-12-26 21:29] kplachkov opened #1577 "run --fix with gofmt does not work"
golangci-lint run --fix with gofmt does not fix "File is not `gofmt`-ed"

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of go

[2020-12-26 23:02] #1085 closed

[2020-12-27 02:16] aphsa commented on #1561
https://github.com/aphsa/helloword.git

[2020-12-27 15:19] ldez opened #1579 "nolintlint: invalid linter name after autofix"
Related to https://github.com/golangci/golangci-lint/pull/1573

before the fix:
[code]

or

[code]

after the fix:
[code]

KO

---

before the fix:

[code]

or

[code]

after the fix:

[code]

KO

[2020-12-27 15:21] ldez opened #1580 "nolintlint: too many whitespaces removed after autofix"
Related to https://github.com/golangci/golangci-lint/pull/1573

The fix removes all whitespaces, the choice to remove all the whitespaces, in this case, seems not right.

---

before the fix:
[code]

after the fix:
[code]

OK

---

before the fix:
[code]

after the fix:
[code]

KO

[2020-12-27 15:23] ldez opened #1581 "nolintlint: the autofix is skipped when several unsed linters"
Related to https://github.com/golangci/golangci-lint/pull/1573

before the fix:

[code]

or

[code]

or

[code]

results:

[code]

no fix applied.

KO

[2020-12-27 18:45] ashanbrown commented on #1580
I'm not completely sure it is possible to determine the user's intent in this case.  We don't know whether the expected coding style is to use machine-readable directives or not (unless `allow-leading-whitespace` is explicitly disabled in the config for `nolintlint`).  One option might be to have `nolintlint` simply not try to fix this case unless `allow-leading-whitespace` is disabled and simply

[2020-12-27 18:49] ldez commented on #1580
I think that something like that can be possible:

`allow-leading-whitespace`:
- `true`: just keep only one whitespace
- `false`: drop the whitespace

[2020-12-27 19:06] adrianre12 commented on #1018
This is a rather frustrating issue. today I did a merge and had over 700 files fail goimport and not one single line of code was different. Looking back through the history of issues it has been reported for years and it seems that there is a great reluctance to do anything about it.
GoFmt really should be agnostic of line endings as the Go compiler is. Not supporting one of the major operating sy

[2020-12-27 19:09] denis-tingajkin commented on #1446
@kolaente Hello, could you attach your .golangci.yml file?

[2020-12-27 19:23] ldez commented on #1446
@denis-tingajkin the file is in the description ("Config file") :wink:

[2020-12-27 20:19] kolaente commented on #1446
@denis-tingajkin What @ldez said 🙃

[2020-12-27 22:19] denis-tingajkin commented on #1446
Oops! Now I see it.

@kolaente
Is typo in `template-path: code-hesader-template.txt` expected?

[2020-12-27 22:33] kolaente commented on #1446
Again, what @ldez said :) Looks like I forgot to change that before copying

The code and config is at https://kolaente.dev/vikunja/api by the way, feel free to play around with it.

[2020-12-27 22:52] denis-tingajkin commented on #1446
@kolaente
Please retest with the correct linter settings section.

`linter-settings:` --> `linters-settings:`

[2020-12-27 23:08] ldez commented on #1561
I don't reproduce the error:

[code]

[2020-12-27 23:23] denis-tingajkin commented on #1561
@aphsa I see you've attached your `go env` result, but actually process that running the golangci may not have these envs. So try this
`GOPATH="/home/jenkins/go" GO111MODULE=on golangci-lint run -v`

[2020-12-28 11:31] denis-tingajkin commented on #1208
@sayboras I feel to commit changes automatically we need a user account/bot.

Question: Have `golangci` a user for automatization?

[2020-12-28 12:44] ernado commented on #1208
AFAIK changes can be commited via default github actions user, but I can be wrong

[2020-12-28 15:28] jerome-laforge opened #1586 "Semantic versioning with v1.33.1"
According to [semantic versioning ](https://semver.org/), on patch version we don't expect that added new linter.
This is not the case with [v1.33.1](https://github.com/golangci/golangci-lint/releases/tag/v1.33.1)

In our CI, we always take the latest from Minor version (here v1.33 with `golangci/golangci-lint:v1.33`) because we want to get all fix on current linter.
By the way, we enable all lint

[2020-12-28 15:45] ldez commented on #1586
Hello,

there was a communication problem during the creation of the release, we are correcting the problem.

[2020-12-28 16:02] ldez commented on #1586
We will release a v1.33.2 based on v1.33.0 then we will release a v1.34.0 based on the master branch.

[2020-12-28 16:06] nawa commented on #1502
Reproduced in `v1.33.1` and not in `v1.33.0`

Modules with vendor folder are used, `modules-download-mode: vendor` in the configuration

[2020-12-28 16:09] jerome-laforge commented on #1586
great!
when v1.33.2 is released, I will check and close this issue if all is ok.

[2020-12-28 16:12] ldez commented on #1586
The v1.33.2 has been published

[2020-12-28 16:20] nawa commented on #1502
Could someone explain what is wrong? Is it `golanci-lint` or Go tooling behavior, because I noticed that Go is upgraded from `1.15.5`->`1.15.6` in `golangci-lint:v1.33.1`

I guess something wrong with `golangci-lint` because `go list -mod=vendor ./...` work without errors

[2020-12-28 16:20] jerome-laforge commented on #1586
With v1.33.2, it works like a charm.

Many thx for your support.

[2020-12-28 16:20] #1586 closed

[2020-12-28 16:25] ldez commented on #1502
FYI the v1.33.1 has been replaced by v1.33.2 (based on v1.33.0) and v1.34.0 (based on master)

[2020-12-28 18:34] SVilgelm opened #1589 "forbidigo uses makezero in the lint reports"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

I enabled `forbidigo` and got these errors:

[code]

As you can see It uses `makezero` in the report

Issue was i

[2020-12-28 18:35] SVilgelm commented on #1589
@ashanbrown I assigned issue to you, please fix it

[2020-12-28 18:55] #1589 closed

[2020-12-28 22:22] JacobBarba commented on #1502
Hey guys - we can confirm we are seeing this same error for v1.34.0 as well in our builds. We've been able to resolve for now by pinning to v1.33.2 👍🏻. Output from local lint here:

`golangci/golangci-lint info checking GitHub for latest tag
golangci/golangci-lint info found version: 1.34.0 for v1.34.0/linux/amd64
golangci/golangci-lint info installed /go/bin/golangci-lint
level=info msg="[config_

[2020-12-28 22:30] wtask commented on #1502
Same here.
[code]
I have this option for `.golangci.yml`
[code]
If remove `modules-download-mode` from config error is disappeared

[2020-12-29 00:22] kolaente commented on #1446
@denis-tingajkin That seems to have done the trick! Thanks a lot!

[2020-12-29 00:22] #1446 closed

[2020-12-29 07:30] sayboras commented on #1208
@denis-tingajkin @ernado I also think github action user can do so, similar to goreleaser is able to create the release. Might need to test it out. I did have dependabot commit directly into master in my repo before.

[2020-12-29 07:31] sayboras commented on #1379
Hi, sorry I am a little bit occupied at work recently, let me un-assign myself from this github issue, so that others can jump in and help.

[2020-12-29 07:37] SVilgelm commented on #1208
@sayboras it's easy, except on part. The master branch is protected, we need to create the Pull Request from an action.
1. the `release` job is completed
2. git checkout -b update-docs
3. `make update_contributors_list`, `make assets/github-action-config.json`, `make update_netlify_state`
4. git add -u
5. git push origin update-docs
6. magic script to create a pull request using GitHub API

[2020-12-29 07:39] SVilgelm commented on #1208
I know that the default GITHUB_TOKEN does not allow creation of the pull requests, but we can use `secrets.GOLANGCI_LINT_TOKEN`

[2020-12-29 07:43] SVilgelm commented on #1208
or if the `secrets.GOLANGCI_LINT_TOKEN` has admin permissions, then we can push to master branch directly

[2020-12-29 13:11] ldez commented on #1502
The problem is related to a call to `go list -mod=readonly -e -f {{context.ReleaseTags}}`

https://github.com/golang/tools/blob/929a8494cf60267d89035bc211b797a67b65a6b9/go/packages/golist.go#L849

This was introduced because of go1.16:

https://github.com/golang/tools/commit/2f4fa188d925fdee3467708b69aa4761a429ae9d

I'm currently trying to find if it's a real bug in `golang.org/x/tools` or if we n

[2020-12-29 13:30] iwankgb commented on #1517
@golangci/team do we want to invest time in maintaining forks in `golangci` organization?

[2020-12-29 14:27] ldez commented on #1502
I think that the call create this problem because of the hard-coded `GO111MODULE=off`

https://github.com/golang/tools/blob/929a8494cf60267d89035bc211b797a67b65a6b9/internal/gocommand/version.go#L18

[code]

[code]

[2020-12-29 14:50] ldez commented on #1502
I find a fix, I don't really know if it's a hack or just the expected behavior.

To understand, we have to look into the `go` command:

[code]

https://github.com/golang/go/blob/4fd94558820100129b98f284e21b19fc27a99926/src/cmd/go/internal/work/init.go#L271-L274

Because of the hard-coded `GO111MODULE=off` the value of `cfg.ModulesEnabled` is `false`.

The second clause (`!base.InGOFLAGS("-mod") `)

[2020-12-29 15:11] bconway opened #1594 "Multi-line output of gochecknoglobals description in `golangci-lint linters` is confusing in non-color environments"
Thank you for creating the issue!

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2020-12-29 15:46] ldez commented on #1502
I opened an issue in the Go repository: https://github.com/golang/go/issues/43418

[2020-12-29 16:09] SVilgelm commented on #1517
@iwankgb IMO we need to get rid of as much as possible forks and use the original projects.

[2020-12-29 23:08] ldez opened #1596 "Update staticcheck to v0.1.0 (2020.2)"
The update to v0.1.0 aka 2020.2 will have an impact on the current linters:
- https://staticcheck.io/changes/2020.2

Ref: @dominikh https://github.com/golangci/golangci-lint/pull/1568#issuecomment-752267346

Let's discuss it in this issue.

[2020-12-29 23:31] ldez commented on #1596
We will have to rewrite the `unused` linter to use the new implementation and the `CheckExported` will have to be dropped.

[2020-12-30 17:16] jpreese opened #1597 "Misspell not detecting words"
I have tried using the `misspell` linter in golangci-lint (v1.34.1) as well as just a standalone binary from the [misspell repo](https://github.com/golangci/misspell) and have not been able to get it to detect any misspellings.

Consider this example:

**foo.go**
[code]

[code]

[code]

Does not return any results. This is the same behavior I'm seeing when adding golangci-lint into the mix as well

[2020-12-30 21:57] aphsa commented on #1561
@denis-tingajkin That worked. I didn't know the GOPATH environment variable has to be set for golangci-lint to run.

[2020-12-30 21:59] #1561 closed

[2020-12-31 09:26] jerome-laforge opened #1598 "add default config for forbidigo in .golangci.example.yml"
With v1.34.1, forbidigo searches some forbidden patterns.
It isn't easy to know which patterns are forbidden and the [.golangci.example.yml ](https://github.com/golangci/golangci-lint/blob/b3491fd86a26d71b89df84457a72ddf3e348faca/.golangci.example.yml#L400) doesn't show us the actual used default configuration.
In default configuration the `fmt.Print.*` is forbidden but it seems that `^fmt\.Print(

[2020-12-31 09:36] jerome-laforge opened #1599 "spew.Dump in default configuration for forbidigo"
Could you add [spew.Dump](https://pkg.go.dev/github.com/davecgh/go-spew/spew#Dump) as forbidden pattern in default configuration of golangci-lint.

From godoc overview, [spew](https://pkg.go.dev/github.com/davecgh/go-spew/spew#pkg-overview) is for debugging:
[code]

So from my point of view, it is quite similar to `fmt.Print` (that is already added in the default configuration).

I know that it is

[2020-12-31 10:15] gorpher commented on #1502
After the updated version, the CI / CD deployment failed, which wasted half an hour to solve the problem and paid me $50.
Why is it incompatible with updates.

[2020-12-31 13:36] ldez commented on #1599
Hello,

the default values are in the `forbidigo` repository:

https://github.com/ashanbrown/forbidigo/blob/633cfeeae6fdd209d2c84e64ed27db9c99c2770f/forbidigo/forbidigo.go#L44-L46

I recommend opening an issue on this repository

[2020-12-31 13:36] ldez commented on #1598
Hello,

the default values are in the `forbidigo` repository:

https://github.com/ashanbrown/forbidigo/blob/633cfeeae6fdd209d2c84e64ed27db9c99c2770f/forbidigo/forbidigo.go#L44-L46

I recommend opening an issue on this repository

[2020-12-31 13:37] ldez commented on #1598
Hello,

the default values are in the `forbidigo` repository:

https://github.com/ashanbrown/forbidigo/blob/633cfeeae6fdd209d2c84e64ed27db9c99c2770f/forbidigo/forbidigo.go#L44-L46

[2020-12-31 13:41] jerome-laforge commented on #1599
thx @ldez, this [comment](https://github.com/ashanbrown/forbidigo/issues/2#issuecomment-752698045) misleads me.
I will reopen this issue with this information.

Thx again for your support.

[2020-12-31 13:41] #1599 closed

[2020-12-31 13:44] ldez commented on #1598
FYI  .golangci.example.yml doesn't provide the default configuration but just an example.

[2020-12-31 13:50] jerome-laforge commented on #1598
Thx, it is clear now.

[2020-12-31 13:50] #1598 closed

[2020-12-31 14:00] ldez commented on #1597
Hello,

I tried with:
[code]

[code]

misspell seems to use a hard-coded dictionary to detect errors:
- https://github.com/golangci/misspell#where-do-the-word-lists-come-from
- https://github.com/golangci/misspell/blob/master/words.go

[2020-12-31 15:20] ldez commented on #1596
another important element:

[2020-12-31 16:26] ashanbrown opened #1600 "Proposal: rename internal nolintlint linter to nolint"
**Is your feature request related to a problem? Please describe.**
I'm concerned that the `nolintlint` name is a bit confusing and that that `nolint` might be a more obvious name for `nolintlint`.

**Describe the solution you'd like**
Rename `nolintlint` in configs and internal objects to `nolint`.  Continue to support `nolintlint` as a deprecated config option.

**Describe alternatives you've con

[2020-12-31 17:21] jpreese commented on #1597
Thanks for the response, that makes sense! It'll only find _certain_ misspellings, not a dictionary check.

[2020-12-31 18:45] #864 closed

[2020-12-31 18:51] SVilgelm commented on #889
We solved such problem by using a custom config in CI, just only those required linters are enabled and run golangci-lint with that config for all repos.  The project owners can have their own config with any linters they want, but the code must pass the with the CI's config

[2020-12-31 19:18] sebastien-rosset commented on #1565
This should be fixed by PR https://github.com/go-critic/go-critic/pull/1015 in go-critic. This issue can be closed when a new version of go-critic is released and the go-critic version is bumped in golangci-lint.

[2021-01-04 06:45] agnivade opened #1632 "Regression in 1.34.1: build flag -mod=vendor only valid when using modules"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</details>

<details><summary>Config file</

[2021-01-04 07:04] #824 closed

[2021-01-04 08:04] ldez commented on #1632
duplicate of  #1502

[2021-01-04 08:04] #1632 closed

[2021-01-04 09:32] agnivade commented on #1632
Woops, my bad there. My search string wasn't right.

[2021-01-04 14:06] mislav commented on #791
This setting:
[code]
translates to the "WholeProgram" setting of `honnef.co/go/tools/unused`, which was [removed upstream](https://github.com/dominikh/go-tools/commit/5cfc85b70e7b778eb76fd7338e538d7c9af21e4e) due to memory consumption and bugs like these. So it's likely that this will never be fixed with the `unused` linter.

I'm unaware of another linter tool that can check for unused structs and

[2021-01-04 17:17] marksartdev opened #1633 "Go don't support -mod=release yet. Please replace it with -mod=mod"
Thank you for creating the issue!

- [v] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [v] Yes, I've searched similar issues on GitHub and didn't find any.
- [v] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2021-01-04 17:52] ldez commented on #1633
duplicate of  #1502 and #1632

[2021-01-04 17:58] ldez commented on #1633
I will fix that in my PR https://github.com/golangci/golangci-lint/pull/1593

[code]

https://go-review.googlesource.com/c/go/+/132116/

[2021-01-04 18:02] marksartdev commented on #1633
Cool, but I wanted to do it, too.

[2021-01-04 22:25] #854 closed

[2021-01-07 12:39] torkelrogstad opened #1636 "Print all build errors in a readable way"
**Is your feature request related to a problem? Please describe.**
When developing, my build is most of the time broken. I often want to identify all non-compiling packages. I can easily do this with `go build` for my main sources, but this does not work for test sources. I want an easy to use solution to find all my non-compiling tests.

**Describe the solution you'd like**
If I run `golangci-lin

[2021-01-07 14:15] torbjornvatn commented on #1008
I have the same issue, and it doesn't work to enable it explicitly in my own `.golangci.yml` file either.

But from what I can see @Zamiell the `-shadow` flag has been removed from `go vet` and moved into a separate tool that has to be installed. https://github.com/golang/go/issues/29260#issuecomment-447694762
So I guess golangci-lint has to install that tool to make this work

[2021-01-07 22:37] #1502 closed

[2021-01-07 22:37] #1633 closed

[2021-01-09 03:16] ldez commented on #1008
The file https://github.com/golangci/golangci-lint/blob/master/.golangci.example.yml does not contain the default options, it's just an example of all options, so there is no meaning for this configuration.

---

@torbjornvatn the `shadow` linter is already supported: #697

---

The linter seems to work as expected:

<details>
<summary>no problem</summary>

[code]

</details>

<details>
<summary>p

[2021-01-09 04:53] #1597 closed

[2021-01-10 18:35] esinek opened #1640 "1.33.0 to 1.35.0 upgrade fail"
Thank you for creating the issue!

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2021-01-10 18:43] SVilgelm commented on #1640
Here is my attempt on clean system:
[code]

[2021-01-10 18:52] SVilgelm commented on #1640
I think this is the main reason: `fatal: could not read Username for 'https://stash.mycompany.com': terminal prompts disabled`
Probably you need to properly configure the access to the private git repository. I'm doing like this in IBM:
[code]

[2021-01-10 19:33] esinek commented on #1640
Thanks - that seems a likely culprit since I have that setting in my local .gitconfig. Now I need to set it up in the CI image.
But that doesn't explain why it worked in 1.33.0 by not in 1.35.0.
And, if the following is set in the the config file, it shouldn't try to access the vendored repo, right?
[code]

[2021-01-10 19:35] SVilgelm commented on #1640
Maybe there are some changes, or new linters. It will be great if you can debug it.

[2021-01-10 19:48] esinek commented on #1640
TL;DR:
- 1.33.0: success
- 1.33.1: failure
- 1.33.2: success
- 1.34.0: failure
- 1.34.1: failure

Details:
[code]
[code]
[code]
[code]
[code]

[2021-01-10 21:04] ldez commented on #1640
Seems related to https://github.com/daixiang0/gci/blob/master/pkg/gci/gci.go#L39

[2021-01-10 21:13] ldez commented on #1640
It's because you are vendoring you dependencies.

`packages.Load` doesn't know this constraint so I try you use standard go module behavior.

So you have several solutions:
- disable `gci`
- remove `vendor` and use a private go proxy like https://github.com/gomods/athens
- open an issue on https://github.com/daixiang0/gci

[2021-01-10 21:18] esinek commented on #1640
`gci` is already disabled in my config (see config in original post above)
I'll open an issue in `gci` repo
Thanks

[2021-01-10 21:21] ldez commented on #1640
yes, it's because of `init()`, even if the linter is disabled the `init` is called.

[2021-01-10 21:21] ldez commented on #1640
I really recommend you to try a private go proxy instead of playing with `vendor`

[2021-01-10 22:14] ldez commented on #1640
I created a PR to fix the problem in gci https://github.com/daixiang0/gci/pull/29

[2021-01-11 01:11] SVilgelm commented on #1462
here is my file:
[code]

And here is the golangci-lint output:
[code]

[2021-01-11 01:11] SVilgelm commented on #1462
@avishaik Do you still have this issue? If no, then let's close

[2021-01-11 01:16] SVilgelm commented on #1453
one more place to update after any changes in the configurations

[2021-01-11 01:19] SVilgelm commented on #1373
I just checked with the latest (v1.35.1) version `golangci-lint run -v --no-config --disable-all -E goimports --fix main.go` applies all needed fixes.
@howardjohn Could you please check it?

[2021-01-11 01:21] SVilgelm commented on #1351
@daixiang0 any updates on this?

[2021-01-11 01:26] SVilgelm commented on #1200
Closing issue, since all are agreed that Nancy should not be integrated as a linter, but should be used as an independent tool

[2021-01-11 01:26] #1200 closed

[2021-01-11 01:29] SVilgelm commented on #1021
closing due to the issue is fixed in the v1.27.0 release

[2021-01-11 01:29] #1021 closed

[2021-01-11 01:35] ldez commented on #1351
The problem has been fixed in v1.34.0

[2021-01-11 01:39] daixiang0 commented on #1351
Sorry that I am busy with other things, would check it later.

[2021-01-11 01:42] daixiang0 commented on #1351
/reopen since not fixed yet:
[code]

[2021-01-11 02:49] #1640 closed

[2021-01-11 02:52] SVilgelm commented on #1640
@esinek @ldez I will release the v1.35.2, so @esinek can test it on the CI

[2021-01-11 03:02] SVilgelm commented on #1640
@esinek the v1.35.2 release is created, could you please test it?

[2021-01-11 03:23] esinek commented on #1640
It worked. Thanks for the quick turnaround all
[code]

[2021-01-11 03:23] SVilgelm commented on #1640
Great!

[2021-01-11 03:33] SVilgelm commented on #182
hmmmm, as I can see, the behavior was changed in the release `v1.17.0`, it uses `r.Replace(string(fileContent))` and was added in the 3d78f64b commit.
So I'm closing it as fixed

[2021-01-11 03:33] #182 closed

[2021-01-11 08:41] bombsimon commented on #1373
I think the issue here is that `golangci-lint --fix` is fixing the issue but `goimports -w` does not which is a bit confusing, especially if you've configured your editor to run `goimports` on save which should fix the issue.

[2021-01-11 09:31] zepatrik commented on #1453
That's why I suggested to take the json schema as the single source of truth and render the documentation from that. In JSONSchemaStore you can also point the schema to a different place, so it would always be fetched from this repo. But if nobody responds whether this is something you would merge I can't do anything about that, sorry.

[2021-01-11 15:02] SVilgelm commented on #1453
I mean, if we can make all update automatically, then yes, let's do it. Any PRs are welcome.
But right now the only source of true is go code, so it would be great to keep it and generate the json scheme from go code.

[2021-01-11 16:37] SVilgelm commented on #461
I really tried to add it, but it requires some changes in the durationcheck.

[2021-01-11 16:40] SVilgelm commented on #461
I created a ticket in main repo: https://github.com/charithe/durationcheck/issues/6

[2021-01-11 16:54] zepatrik commented on #1453
I don't know of any project that would do that, but  I will have a look. But https://github.com/golangci/golangci-lint/blob/master/.golangci.example.yml is manually maintained right? I could auto generate that from the schema, so there are still two places to update. Will draft something in the next days then.
Validation within the config package would be way easier with the schema (it looks like

[2021-01-11 17:07] tonydunn opened #1645 "Go executable not found in PATH"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [xi] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]
[tony@li

[2021-01-11 17:35] SVilgelm commented on #1645
@tonydunn Could you please update to v1.35.2, there was a fix in `gci`, just to double check

[2021-01-11 20:41] tonydunn commented on #1645
@SVilgelm I updated as requested. A cold start of sublime gets this:

SublimeLinter: #1 linter.py:837       WARNING: golangcilint cannot locate 'golangci-lint'
Please refer to the readme of this plugin and our troubleshooting guide: http://www.sublimelinter.com/en/stable/troubleshooting.html

Anything else I can do to provide information? For sure both 'go' and 'golangci-lint' are in my PATH and r

[2021-01-11 21:21] ldez commented on #1645
It's a SublimeLinter configuration issue. Check your Subime configuration.

[2021-01-11 21:56] tonydunn commented on #1645
@ldez That's even worse news :( I was starting to think that might be it, as the SublimeLinter debug is where all the ugliness is. I'll go and take a look, maybe see if there is an issue over there. Close this issue?

[2021-01-11 22:40] ldez commented on #1645
Sorry but I cannot help you more because I don't use SublimeText, so yes I will close this issue.
I hope you will find a solution.

[2021-01-11 22:40] #1645 closed

[2021-01-12 06:24] okhowang commented on #945
I found a style for pass rowserrcheck
[code]

[2021-01-12 09:10] silverwind opened #1646 "Lint all files regardless of build tags"
**Is your feature request related to a problem? Please describe.**
On projects with many different build tags, it's often necessary to run golangci-lint multiple times to cover all `--build-tags` to get all files linted which leads to very long lint times primarily caused by the same files linted multiple times.

**Describe the solution you'd like**
A option like `--all-tags` which would ignore an

[2021-01-12 14:53] butuzov commented on #1008
@ldez I believe it would be beneficially to remove "check-shadowing:" setting as missleading for newcommers.

I just run into it, while checking why with enabled `check-shadowing` we have this issue in code. I can pick it (just in case).

[2021-01-12 18:49] quasilyte commented on #1545
I can help to track the issue roots if the example file can be provided.

[2021-01-12 20:30] nickackerman42 commented on #395
I stopped getting this error after turning on Go modules like so:  `GO111MODULE=on golangci-lint`. Then I removed the variable and it continued to work. I'm not sure why.

Also maybe relevant is that `$GOPATH` was set and that I was executing the linting from within `$GOPATH`. Maybe the linter assumes modules are off if you're within `$GOPATH` and that breaks it somehow?

[2021-01-13 05:17] butuzov commented on #1453
I was searching for this issue yesterday but haven't found it. @zepatrik nice job you did, even with depguard bothering :).

I have updated yesterday a list of govet analyzers, but now its complaining on go-critic checks ;)

What i would suggest is
1) to fork schema repo to @golangci org
2) see what can be automated while updating it manually ( govet analyzers, go-critic rules, etc)

Thoughts?

[2021-01-13 05:42] marten-seemann opened #1649 "Confusing staticcheck rule activation"
<details><summary>Version of golangci-lint</summary>

[code]

</details>

<details><summary>Config file</summary>

[code]

</details>

<details><summary>Go environment</summary>

[code]

</details>

Consider the following minimal example:
[code]

Running `staticcheck .` finds the following problems:
[code]
Running `golangci-lint run --disable-all --enable staticcheck -v.` doesn't output any issues

[2021-01-13 08:24] zepatrik commented on #1453
We can just host the schema in this repo and point the schemastore to it, then automate stuff in this repo. That's what I have done with other projects and would propose for this one as well. It worked great so far.

[2021-01-13 08:32] ldez commented on #1649
[code]

staticcheck is in fact splitter in different parts: `gosimple`, `structcheck`

[2021-01-13 08:36] marten-seemann commented on #1649
Should it be removed from the list of linters then, or replaced by an error / warning telling the user exactly which linters it was split up into? Running `golangci-lint run --disable-all --enable staticcheck` and not getting any errors is pretty confusing in my opinion.

[2021-01-13 08:44] butuzov commented on #1453
I like this idea more. Can you provide an example or steps I/we/team needs to do in order to host schema in our repository?

[2021-01-13 09:08] zepatrik commented on #1453
This schema: https://github.com/ory/kratos/blob/master/.schema/version.schema.json (which again maps to the correct schema by version)
was added by: https://github.com/SchemaStore/schemastore/pull/1173
Then we auto-generate this docs page: https://www.ory.sh/kratos/docs/reference/configuration
from that using this script: https://github.com/ory/kratos/blob/master/docs/scripts/config.js
which we ca

[2021-01-13 13:04] butuzov commented on #1453
it does!

@SVilgelm  can I assign this to me?

(I can work on this with slow pace, considering huge amount of work done by @zepatrik)

[2021-01-13 13:16] zepatrik commented on #1453
Nice, we can definitely work on that together. Feel free to ping me at any point ;).

[2021-01-13 15:00] SVilgelm commented on #1453
@butuzov @zepatrik sure, do anything you need

[2021-01-14 19:42] wwolfe commented on #827
docker run --rm -v /appdir:/app -w /app golangci/golangci-lint:v1.22.2 golangci-lint run -v
it fails locally but if I run in this container it works fine, work around for now?

[2021-01-14 19:54] ldez commented on #827
you have to use a more recent version: v1.35.2

[2021-01-15 16:11] danielhelfand commented on #1249
It seems a bit of an odd flag design choice for a flag to default to true like in this case. I realize this would be a breaking change, but I think from a UX standpoint it would be nice if this flag defaulted to false and had same behavior. And then including the option includes ignored violations.

[2021-01-15 17:56] danielhelfand opened #1652 "Documentation on Release Process for golangci-lint"
**Is your feature request related to a problem? Please describe.**

As a user of golangci-lint, when I encounter a bug with golangci-lint or an associated linter, it would be nice to find information on when that fix will be available or how to request a feature to be released.

**Describe the solution you'd like**

I would like a document on GitHub or the website explaining when certain features

[2021-01-15 23:16] #1008 closed

[2021-01-15 23:26] Zamiell commented on #1008
@ldez Why was this closed? The issue does not seem to be resolved.

More specifically, can you answer: is this line a bug or not?
https://github.com/golangci/golangci-lint/blob/master/.golangci.example.yml#L270

If it is not a bug, then why does enabling it not do anything?

[2021-01-15 23:44] Zamiell commented on #1008
Ah, ok, I see. Thanks for the quick reply Idez.

[2021-01-16 11:23] sayboras commented on #641
this can be closed now

[2021-01-16 11:23] #641 closed

[2021-01-17 00:52] jkowalski opened #1653 "gomnd regression in 1.35.2"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

I'm trying to upgrade my project from 1.33 to 1.35 and getting weird r

[2021-01-17 14:56] ldez commented on #1653
Hello,

I think more to an issue with `nolintlint` than `gomnd`.

Have you tried with v1.34.1?

[2021-01-18 12:43] ysmood opened #1657 "A better way to install and run golangci-lint in a single command"
Currently, the major way to install `golangci-lint` requires extra dependencies like sh, curl, tar, etc. It's not cross-platform and not user friendly to maintain.

Since any user use this tool will have golang installed, why not just use golang to do the automation job? So that there will be zero dependencies and assumptions for users' environment.

Here's my demo solution project: https://github

[2021-01-19 15:11] mvdan opened #1658 "adhere to the widespread comment directive format"
In Go, `//go:*` is reserved for the Go toolchain. See https://golang.org/cmd/compile/.

It is encouraged that other Go tools use a similar "namespace" prefix for their comment directives. For example, `//gccgo:*`, `//lint:*` for staticcheck, `//go-sumtype:*`, and so on. See https://groups.google.com/g/golang-dev/c/r4rdPdsH1Fg/m/tNZazPenX5cJ.

golangci-lint kind of does this, but not really. https:

[2021-01-19 16:15] mvdan commented on #1658
For the sake of documenting this better upstream, I've raised https://github.com/golang/go/issues/43776.

[2021-01-19 21:10] kortschak commented on #1658
Moving to the approach used by staticcheck would also have the advantage that file-wide directives will work properly; currently the way to do a file-wide directed is to attach the comment to the package decl, which in turn results in a line in the godoc.

See https://staticcheck.io/docs/#file-based-linter-directives for how staticcheck does it.

[2021-01-19 21:11] kortschak commented on #1658
Also, @ldez given that this is a deviation from the Go standard, I think this *is* a bug and not an enhancement.

[2021-01-20 00:50] ldez commented on #1658
Today, `nolint` can have to syntax
- just a simple comment: `// nolint`
- a directive syntax `//nolint`

In the code base of golangci-lint, it's used a simple comment syntax. So from my point of view, there is no deviation.

currently the `nolint` directives are ignored in the godoc https://github.com/golangci/golangci-lint/issues/1566#issuecomment-749094833

[2021-01-20 06:03] jkowalski commented on #1653
Interesting - I'm getting this failure on my macOS, when running go-mnd manually:

[code]

The code in question is doing conditional compilation based on goarch amd64:

https://github.com/kopia/kopia/tree/master/internal/stats

[2021-01-20 06:18] jkowalski commented on #1653
Also, did some tests on different versions all using the same commit:

https://github.com/kopia/kopia/commit/1f3b8d4da4bdf76cd6060ed652bafeb372af5bfe

Using 1.35.2:

[code]

Using 1.34.1 (only changed `tools/tools.mk`) linux/windows have the same failures (all seem to be bugs in `thelper` which does not recognize `ctx`) but `darwin` has one spurious failure:

[code]

On 1.33.0 all three {linux,dar

[2021-01-20 10:14] rabbitstack opened #1659 "could not import C (cgo preprocessing failed) in Github Actions"
I'm having a hard time figuring out the `cgo preprocessing failed` problem in Github Actions. Here is the [job](https://github.com/rabbitstack/fibratus/blob/1b8c85f4946b86e5598bcaaaa289d0353e4df7d0/.github/workflows/master.yml#L75) definition.

golagnci-lint fails with the following error messages:

[code]

I've set up the C compiler, exported the `PKG_CONFIG_PATH` env variable to point to the Pyt

[2021-01-20 10:15] mvdan commented on #1658
To be honest, I don't think this is a good solution. All golangci-lint directives should clearly look like directives, not plain English comments.

I don't follow - the docs clearly point towards `//nolint`, which does not use a space and does not adhere to the format.

The fix could be rolled out over time, or come with an automated way to fix up older comments like https://github.com/ipld/specs/

[2021-01-20 12:39] ldez commented on #1653
The problem with the `mnd` command line is related to https://github.com/tommy-muehle/go-mnd/issues/15

To be able to use the command line:
[code]

[2021-01-20 22:30] ldez commented on #1653
I created a PR to fix a concurrent access https://github.com/tommy-muehle/go-mnd/pull/19

[code]

As you can see the line `repo/splitter/splitter.go:45:35` is not is the report (on Linux) but I don't know why.

[2021-01-20 22:41] ldez commented on #1653
After multiple tries, in fact, it seems random: 2 calls don't provide the same results.

So it seems to be a bug in `mnd`

[2021-01-20 23:17] ldez commented on #1653
I created an issue https://github.com/tommy-muehle/go-mnd/issues/20

[2021-01-21 06:20] kashifkhan0771 commented on #945
defer func() {
    _ = rows.Close()
    _ = rows.Err() // or modify return value
}()

should be like this

[2021-01-21 17:56] Zamiell opened #1661 "Question about Using Older Linters"
Hello,

I tried to find the answer to this question on [the docs](https://golangci-lint.run/), but it was not there.

I want to use the latest version of golangci-lint, so that I can leverage the recently-added [predeclared linter](https://github.com/nishanths/predeclared).

However, the current version (v1.1.0) of the [exhaustivestruct](https://github.com/mbilski/exhaustivestruct) linter [is badl

[2021-01-22 00:01] oschwald opened #1662 "Path for gocritic ruleguard rules depends on the current working directory"
I am using [`ruleguard`](https://github.com/quasilyte/go-ruleguard) via the `gocritic` linter. As part of using this linter, you must set the path to your rules:

https://github.com/golangci/golangci-lint/blob/750309d1574e9a4afc32346364f9e4ae36955692/.golangci.example.yml#L178-L180

Unfortunately, if you currently set a relative path, it will be relative to the directory that you run `golangci-lin

[2021-01-22 23:52] ldez commented on #1653
I created a fix https://github.com/tommy-muehle/go-mnd/pull/21

[2021-01-23 08:02] Harkishen-Singh commented on #827
I am still facing this issue. (version: `version 1.35.2 built from 1da5701 on 2021-01-11T02:54:03Z`)

**logs**

[code]

Any work-around for this?

[2021-01-23 12:45] ldez commented on #827
@Harkishen-Singh how to reproduce your error? Could you provide the source, your configuration, etc? Thank you

[2021-01-23 12:57] ldez commented on #827
In fact the error is clear: `RunningInUserNS not declared by package sys`

the symbol `sys.RunningInUserNS` is missing because you are using a version of `golang.org/x/sys` that not contains this  symbol.

[2021-01-23 13:39] ldez commented on #827
**For everybody,**

The error that begins with `Can't run linter goanalysis_metalinter: S1006: failed prerequisites:` is in 99% of the cases related to something that doesn't build in your code.

**Because golangci-lint requires that your code compile to be analyzed.**

I close this issue.

**Please report any unexpected errors reported by failed prerequisites as separate issues, thanks!**

[2021-01-23 13:39] #827 closed

[2021-01-24 11:21] mvdan commented on #446
For those of you disabling the entire composites check, would https://github.com/golang/go/issues/43864 seem like a good compromise to not disable the check entirely? Please upvote that proposal or comment on it, depending on your thoughts.

[2021-01-25 02:45] sebastien-rosset commented on #1565
The issue was "fixed" in go-critic/go-critic#1015, however, the solution does not work when invoked from golangci-lint. The problem is that all go-critic output seems to be redirected to /dev/null by golangci-lint.

What is the idiomatic way in golangci-lint to exit with error status when a linter (go-critic + ruleguard) is unable to initialize itself? Specifically in the case of go-critic, the us

[2021-01-25 14:41] rabbitstack commented on #1659
I've figured out the issue. In Github Actions, it is possible to prepend to the PATH env variable, but it seems like a couple of paths are always taking precedence as they are leading the `PATH`:

[code]
This was causing the `pkg-config` to be resolved from the Perl installation directory, producing the cgo import errors.
As I workaround, I opted for manually downloading the golangci-lint binary.

[2021-01-25 14:41] #1659 closed

[2021-01-26 10:43] #1653 closed

[2021-01-29 02:55] ashierj commented on #1515
Same issue when only enable one linter with LoadModeTypesInfo.

[2021-01-29 15:27] kokizzu commented on #943
happened too with something like this:
[code]

[2021-01-29 16:12] ldez commented on #943
ping @jingyugao

[2021-01-29 16:52] jgracenin commented on #1373
I am also running into this. I tried 1.36.0. The log is below.

Every time it runs, it detects the issue with an "INFO Fix issue log", but doesn't seem to fix it. This also affects gofmt.

Also: manually running `goimports -w` fixes it.

[code]

[2021-01-29 19:08] jingyugao commented on #943
https://github.com/jingyugao/rowserrcheck/pull/11
https://github.com/golangci/golangci-lint/pull/1670
Hello,I have fix the bug and add testcase.The code before this change never consider the `phi instruction`.
@ldez cc

[2021-01-29 22:41] ldez commented on #943
@jingyugao could you explain why you disabled the issue on your repository?

[2021-01-30 01:13] jingyugao commented on #943
Maybe I close it by mistake.Now I reopen the issue tab.

[2021-01-30 02:01] #943 closed

[2021-01-30 02:11] #1011 closed

[2021-01-30 03:54] #895 closed

[2021-02-01 11:50] #1565 closed

[2021-02-01 13:02] nilsalex opened #1682 "go-critic v0.5.4 breaks compilation"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

[code]

[code]

The signature (return type) of a lot of functions has

[2021-02-01 13:04] nilsalex commented on #1682
Okay, seems to be addressed in current `master`. I'll give it a try.

[2021-02-01 13:06] ldez commented on #1682
https://github.com/golangci/golangci-lint/blob/v1.36.0/go.mod#L16

[2021-02-01 13:07] nilsalex commented on #1682
I see, but somehow `go get`  yields

[code]

Is this an error on my side?

[2021-02-01 13:56] nilsalex commented on #1682
Yes, definitely an error on my side: A previous `GO111MODULE=on go get -u github.com/golangci/golangci-lint/cmd/golangci-lint@v1.36.0` set the version of `go-critic` in my `go.mod` to `0.5.4`.

[2021-02-01 13:56] #1682 closed

[2021-02-02 00:04] quantonganh opened #1683 "SIGSEGV: segmentation violation"
<details><summary>Version of golangci-lint</summary>

[code]

</details>

<details><summary>Config file</summary>

[code]

</details>

<details><summary>Go environment</summary>

[code]

</details>

<details><summary>Verbose output of running</summary>

[code]
</details>

We cannot reproduce locally. The most suspect thing is `--build-tags builtin_static` as we are using https://github.com/linxGnu

[2021-02-02 14:56] kokizzu opened #1684 "Running unconvert will only show 3 errors unlike other linters"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2021-02-03 15:01] TomMD opened #1685 "Add 'bugIdent' field to the JSON output"
**Describe the solution you'd like**
Most tools have a bug identifier. For example, staticcheck has bugs identified by numbers such as `SA1013`.  Having these identifiers as part of the JSON output would be useful.

**Describe alternatives you've considered**
The only way to recover these identifiers after the fact would be a reverse lookup based on the bug text - not good.

**Additional context**

[2021-02-03 17:45] wyardley opened #1686 "way to identify newly available linters"
**Is your feature request related to a problem? Please describe.**
Just curious - given the deprecation of `enable-all` (e.g., https://github.com/golangci/golangci-lint/issues/542#issuecomment-541889352), is there any way to find out what linters are newly available, shy of comparing the list of enabled ones to the full list on the site?

It would be extremely useful if there were an option to pri

[2021-02-03 17:50] ldez commented on #1686
Currently, you can find this information in the following pages:
- https://github.com/golangci/golangci-lint/blob/master/CHANGELOG.md
- https://github.com/golangci/golangci-lint/releases

[2021-02-03 17:57] wyardley commented on #1686
@idez Hi -- yes, I know that
in practical terms though, it's not very efficient / simple to go to that page, and try to manually compare it against a yaml file with a list of 30-40+ linters. People also tend to consider these types of configs to be "set it and forget it", so it also makes it very easy for (useful) new linters to come out, but for people to not know about them / enable them.

[2021-02-03 19:39] derekperkins commented on #1473
@sayboras / @bombsimon Curious if you have any suggestions on @jschaf's question about `Executor`

[2021-02-03 21:57] bombsimon commented on #1473
Not really any suggestions but I know that `golangci-lint` has on purpose kept as much as possible internal and basically keep any public interface to a minimum. The main reason for that has been, as far as I understand, to be able to iterate as fast as possible which has been required while adding so many new linters and features. Given how quick linters change one could argue that `golangci-lint

[2021-02-03 22:16] jschaf commented on #1473
I was looking for any path to make it work. Munging around with package caches is bound to be toilsome. A top down approach is desirable but I’m not sure how to go about designing a stable SDK while supporting goals to make golangci easy to develop.

[2021-02-03 23:48] ldez commented on #1686
Personally, I like `enable-all`, I'm not convinced by the deprecation proposal.

I think that an enhancement can be made in the linters manager by adding a `Since/IntroducedIn` field in the `Config` structure.

https://github.com/golangci/golangci-lint/blob/60455b502b0b03f83f18c161a6da4f8f4f018df7/pkg/lint/lintersdb/manager.go#L109-L359

https://github.com/golangci/golangci-lint/blob/60455b502b0b0

[2021-02-03 23:57] wyardley commented on #1686
Me too! I don't have the reference handy, but I believe it's been made pretty official and is documented somewhere on the main site, but let me know if I'm wrong on that!

Like this idea!

[2021-02-04 00:50] huajingyun01 opened #1687 "Add mips64 related release"
Hello, I see that this project already supports mips64le, but there is no mips64le related release. I wonder if there is a plan to release mips64?

[2021-02-04 00:55] frederikhors commented on #1398
This is huge!

[2021-02-04 01:41] Zamiell commented on #1686
For what its worth, I also use `enable-all`.
This way, when I upgrade my version of golang-ci, I automatically get the benefits of any new linters.
If the new linters are noise, I can then explicitly add them to the `disable` array my `.golangci.yml` file.
This workflow is very nice, because I notably don't have to do any research on the main page to find what the linters are, as wyardley rightly

[2021-02-04 02:04] wyardley commented on #1686
https://golangci-lint.run/usage/configuration/
has a comment:

which comes from
https://github.com/golangci/golangci-lint/blob/122193999a3f465160814551ec51542d6f8a0f14/.golangci.yml#L66-L67
added in https://github.com/golangci/golangci-lint/pull/803

[2021-02-04 02:12] ashanbrown commented on #1686
May it would be worth adding an enable-new command that adds any unmentioned linters to the config file.  While I liked using enable-all, I can see why it would be annoying for someone just trying to use a new version of golangci-lint that supports a new go version, for example.

[2021-02-04 06:55] bombsimon commented on #1686
I also use `enable-all`. If you manually upgrade and know when a new version is installed you could also just check the [release page](https://github.com/golangci/golangci-lint/releases) which will list all added linters in each release.

[2021-02-04 16:35] frederikhors opened #1689 "interfacer is deprecated and archived"
**Is your feature request related to a problem? Please describe.**
interfacer is deprecated and archived

**Describe the solution you'd like**
Remove it

**Additional context**
https://github.com/mvdan/interfacer

[2021-02-04 19:48] gstroz commented on #1473
@jschaf Could you mix your two approaches? Create an `Executor` from the runner to generate the linter context. Then use that instead of trying to create your own context.

[2021-02-05 05:41] calvinbui opened #1690 "Configurable cache directory"
**Is your feature request related to a problem? Please describe.**
A configuration option to set the caching directory. By default it goes to `~/.cache/golangci-lint` on Linux and `~/Library/Caches/golangci-lint` on Mac

**Describe the solution you'd like**
The caching directory option via the run command or config file

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-02-05 09:14] acim opened #1691 "vanity import of checknoglobals doesn't work"
golangci-lint won't compile anymore because vanity import of checknoglobals doesn't work:

[code]

https://github.com/leighmcculloch/gochecknoglobals/issues/20

[2021-02-05 09:48] ldez commented on #1691
Hello,

the vanity import seems good:
[code]

[2021-02-05 09:53] acim commented on #1691
Yes, at this moment it works for me as well, but it seems it is fixed. It was broken this morning and also 6 days ago:

https://github.com/ectobit/container-images/runs/1798637104?check_suite_focus=true#step:7:115

[2021-02-05 09:58] ldez commented on #1691
The import works well now, so maybe it was just maintenance of the server.

So for now I close the issue.

[2021-02-05 09:58] #1691 closed

[2021-02-05 15:57] adw1n opened #1693 "Scan files in hidden folders that are on an allowlist config option"
**Is your feature request related to a problem? Please describe.**
With the popularity of github workflows it's not uncommon to have CI helper scripts under e.g. `.github/utils`. Without a doubt there are other good reasons for having go files in hidden directories. `golangci-lint run` skips all files in hidden folders.

**Describe the solution you'd like**
I propose a new config option is added (

[2021-02-05 16:39] leighmcculloch commented on #1691
Hi folks, thanks @acim for reporting this. The 4d63.com is a static website hosted on a CDN, so no maintenance. There was a problem that I've fixed in leighmcculloch/4d63.com@069cf05. The issue was the subpackage that golangci-lint imports was not being served by the vanity domain. Golangci-lint only recently started importing the tool I believe and historically users have only installed the top-l

[2021-02-06 12:55] krasi-georgiev opened #1695 "structcheck doesn't detect unused fields"
[code]
Config and code is in the repo.
https://github.com/tellor-io/telliot/tree/684f7a33c4871b3d9e7824f6c448f89aac8bda23

Problem is that Password field is definitely unused, but `structcheck` doesn't report this.
https://github.com/tellor-io/telliot/blob/684f7a33c4871b3d9e7824f6c448f89aac8bda23/pkg/config/config.go#L85

<details><summary>Go env</summary>

[code]

</details>

<details><summary>Ve

[2021-02-06 13:17] #991 closed

[2021-02-06 18:00] sagikazarmark commented on #931
Sadly, I haven't beeb able to work on it, but it'd still be a good feature.

[2021-02-07 03:35] #1594 closed

[2021-02-07 12:23] jingyugao commented on #1695
duplicated https://github.com/golangci/golangci-lint/issues/1649

[2021-02-07 12:55] ldez commented on #1695
#1649 is about staticcheck, this issue is about structcheck, so it's not a duplicate.

[2021-02-07 18:18] #1687 closed

[2021-02-07 23:00] bconway commented on #1594
Thanks for the fix!

[2021-02-08 01:59] huajingyun01 commented on #1687
Thank you very much for your reply @ldez . I hope that the release package also supports the mips64le architecture and can be used by more users. Does your reply mean that there will be mips64 related release package？

[2021-02-08 06:35] robskillington commented on #970
+1 can we get https://github.com/golangci/revgrep/pull/4 looked at? This has been causing significant pain for a few big repos such as github.com/m3db/m3.

[2021-02-08 08:00] sumersao commented on #1636
I have this same exact request. Currently, the errors are unbelievably unreadable (I have a lot on a rather large code base I'm not trying to integrate golangci-lint with). I know it's possible to limit the errors, but still this would be really nice

[2021-02-08 09:18] ernado commented on #970
I've merged golangci/revgrep#4

[2021-02-08 10:10] bombsimon commented on #1636
Seems to be duplicate of #1043.

[2021-02-08 10:10] #1636 closed

[2021-02-08 11:57] jsvisa commented on #741
Seems it's introduced by https://github.com/golangci/golangci-lint/pull/699

[2021-02-08 15:23] gganley commented on #1178
Are there any efforts related to this? It seems like a common enough issue. I can take a crack at it if it's a feature that would be accepted by the golangci team

[2021-02-08 16:26] simonpasquier commented on #741
From https://golangci-lint.run/usage/false-positives/ + some experiments, you have to do this now:

[code]

[2021-02-08 16:26] #741 closed

[2021-02-08 17:44] tamalsaha opened #1724 "Generate linter warning for missing pointer deference"
**Is your feature request related to a problem? Please describe.**
What linter is available that can generate warning for the following program in Go?

[code]

Here my intent is to print the value of `i` not the address of pointer `p`. I want to use this linter to catch all the places pointer dereference is missing. Does https://github.com/golangci/golangci-lint support this? Thanks!

**Describe t

[2021-02-09 01:56] sumersao commented on #913
I am also experiencing this issue

[2021-02-09 09:57] siddharth178 commented on #1515
For me, if I run it with `govet` as suggested in above comment, I think it doesn't actually run? It can't find the issue `scopelint` sees.

Code I am trying -
[code]

scopelint sees the error
[code]

but exportloopref doesn't!
[code]

[2021-02-09 15:10] jsvisa commented on #741
@simonpasquier This would be disabling staticcheck at all, not only the SA1004 of staticcheck.

[2021-02-09 22:07] dtracers commented on #1653
Hi!
I am having the same issue as the above but am using the newest version of the golangci (v1.3.6)

But this is via a github action.
![image](https://user-images.githubusercontent.com/1933836/107434706-f70ce200-6adf-11eb-9598-bac9d19d3655.png)

![image](https://user-images.githubusercontent.com/1933836/107434792-13a91a00-6ae0-11eb-9667-74e840bd75be.png)

Is this not actually solved in 1.3.6?

[2021-02-09 22:39] ldez commented on #1653
This issue was fixed in [v1.36.0](https://github.com/golangci/golangci-lint/releases/tag/v1.36.0)

If you have an issue I recommend testing the https://github.com/tommy-muehle/go-mnd command line, if you have a problem with the CLI, you can open an issue on the go-mnd repository https://github.com/tommy-muehle/go-mnd

[2021-02-09 22:41] PichuChen opened #1725 "Install golangci-lint on Apple Silicon (darwin-arm64)"
The release didn't build golangci-lint-1.36.0-darwin-arm64.tar.gz, so it will return HTTP 404 when download golangci-lint on Apple M1

Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (ve

[2021-02-09 22:44] ldez commented on #1725
Hello, `darwin/arm64` will be supported in the next Go version go1.16

https://tip.golang.org/doc/go1.16#ports

[2021-02-10 08:29] tobias-kuendig opened #1726 "Using `--fix` option results in panic: runtime error: index out of range [146] with length 146"
It always crashes when processing the same file. The file is valid Go code and does not contain anything special.
[code]

<details><summary>Version of golangci-lint</summary>

[code]

</details>

<details><summary>Config file</summary>

[code]

</details>

<details><summary>Go environment</summary>

[code]

</details>

<details><summary>Verbose output of running</summary>

[code]

</details>

[2021-02-10 11:42] zbindenren opened #1727 "[gochecknoglobals] should ignore variables prefixed with //go:embed"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2021-02-10 12:03] bombsimon commented on #1727
Please add an upstream issue for this in the [gochecknoglobals repository](https://github.com/leighmcculloch/gochecknoglobals/issues) and we can bump the version when it's implemented.

[2021-02-10 13:34] MeenaAlfons opened #1728 "Custom Linter vs --fix"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version v1.33.0 of golangci-lint</summary>

[code]

[2021-02-10 14:15] cbandy commented on #1515
`scopelint` and `exportloopref` are different. Your issue is unrelated, @siddharth178.

https://github.com/kyoh86/scopelint#obsoleted

[2021-02-10 14:34] siddharth178 commented on #1515
Yes, i agree. @cbandy  I thought `scopelint` features will be available in `exportloopref` and I find checks done on above code by `scopelint` important.

[2021-02-10 18:22] hebime commented on #980
I ran into this recently. What fixed it for me (and I suspect that this option was added in a newer release) was adding the following to my `.golangci.yml`:
[code]

[2021-02-10 21:43] dtracers commented on #1653
![image](https://user-images.githubusercontent.com/1933836/107576162-9fd14500-6ba5-11eb-9bf8-3edd1882039c.png)

This works correctly on the command line of go-mnd. ^^^
I know it was "fixed" in version v1.36.0  but my github action is replicating the issue in the fixed version of v1.36.0 on the github actions. (as shown in my previous comment I am using v1.36.0)

Did the newest version maybe not ge

[2021-02-11 03:32] ldez commented on #1653
Could you open a new issue? thank you.

[2021-02-11 05:15] Juneezee opened #1730 "goanalysis_metalinter: SA9002: runtime error: index out of range [2] with length 1"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2021-02-11 05:37] ldez commented on #1730
Hello,

It's an issue with https://github.com/dominikh/go-tools

As a workaround, you can do that:
[code]

[2021-02-12 17:20] pkuca commented on #541
Interfacer is used to create a fair comparison with `gometalinter` in the benchmarks - how should that be handled?

#1689 is a dupe

[2021-02-12 18:08] ldez commented on #1689
Duplicate of #541

[2021-02-12 18:08] #1689 closed

[2021-02-12 18:10] ldez commented on #541
gometalinter is now archived so a fair comparison with a dead project seems impossible.
https://github.com/alecthomas/gometalinter#go-meta-linter

[2021-02-12 18:21] pkuca commented on #541
Agreed - knowing that, I can take this unless @sayboras has stuff in progress.

[2021-02-13 11:37] sayboras commented on #541
Feel free to take over this. Thanks 💯

[2021-02-13 12:45] #986 closed

[2021-02-13 14:59] ldez commented on #949
Fixed by e3227ec340b1d5a29dd6d47fa97c90ea4e2fbddc

[2021-02-13 14:59] #949 closed

[2021-02-13 15:02] ldez commented on #839
Closed by  #841

[2021-02-13 15:02] #839 closed

[2021-02-13 15:03] ldez commented on #961
Closed in favor of #1512

[2021-02-13 15:03] #961 closed

[2021-02-13 15:12] ldez commented on #1551
Related PR https://github.com/mibk/dupl/pull/18

[2021-02-13 16:04] ldez commented on #1009
Closed by #1500

[2021-02-13 16:04] #1009 closed

[2021-02-13 17:11] ldez commented on #990
Fixed by  #1648

[2021-02-13 17:11] #990 closed

[2021-02-13 17:16] ldez commented on #948
Seems related to #970

[2021-02-13 17:51] ldez commented on #968
With the latest, I don't reproduce so I think that the problem has been fixed

[2021-02-13 17:51] #968 closed

[2021-02-13 17:59] ldez commented on #892
The directives `//nolint` are excluded from the godoc.

https://github.com/golang/go/commit/5a550b695117f07a4f2454039a4871250cd3ed09#diff-f56160fd9fcea272966a8a1d692ad9f49206fdd8dbcbfe384865a98cd9bc2749R158

https://github.com/golang/go/issues/37974

[2021-02-13 17:59] #892 closed

[2021-02-13 18:03] ldez commented on #832
`nolintlint` handle this case now:

[code]

[2021-02-13 18:03] #832 closed

[2021-02-13 18:15] ldez commented on #404
`nolintlint` handles those cases now.

[code]

[2021-02-13 18:15] #404 closed

[2021-02-13 20:17] bilalcaliskan commented on #854
I still have that issue on below versions. Any update?

golang: 1.15
golangci-lint: v1.36.0

[2021-02-13 20:17] bilalcaliskan commented on #854
/remove-lifecycle stale

[2021-02-14 01:16] ldez commented on #1515
I find the root cause :tada:
I created a fix #1733

[2021-02-14 04:01] #970 closed

[2021-02-14 12:06] ldez commented on #1684
Hello,

by default golanci-lint display only 3 issues with the same text:

[code]

https://golangci-lint.run/usage/configuration/

If you want to show more issues, you have to change the value of `max-same-issues`.

[code]

<details>
<summary>example</summary>

[code]

[code]

</details>

[2021-02-14 12:06] #1684 closed

[2021-02-14 13:11] ldez commented on #1726
Duplicate of  #1490

[2021-02-14 13:13] ldez commented on #1726
Your second comment is duplicate of  #1490.

But your initial issue seems different.
Are you able to share your code? or at least provide a minimal reproducible snippet?

[2021-02-14 13:36] #238 closed

[2021-02-14 14:06] ldez commented on #1490
I try with different cases:

[code]

[code]

and all the linters that handle the imports (`gofmt`, `goimports`, `gci`, `gofumpt`).

Results:

| linters                           | results |
|-----------------------------------|---------|
| gofmt + goimports                 | FAIL    |
| gofmt + gci                       | FAIL    |
| goimports + gci                   | FAIL    |
| goimports + gofu

[2021-02-14 17:47] #461 closed

[2021-02-14 18:11] #1515 closed

[2021-02-15 02:25] sebastien-rosset commented on #1662
I "solved" this by using a mustache template for the golangci.yml file. Before I invoke golangci-lint, I have a `golangci.mustache` file and use mustache to perform variable substitution and generate a golangci.ym.

[code]

Though it seems it would be possible to support variable substitution directly in golangci

[2021-02-16 07:17] tobias-kuendig commented on #1726
Thank you @ldez, disabling `gci` did solve the issue with duplicated imports.

Regarding the other issue: I don't have the problem anymore today, but reverting the git repo back to a few days ago, the problem is reproducible. The only thing that was changed in the file since then was an added newline at the end (without the newline it panics):

[code]

I can now reproduce the issue with any file,

[2021-02-16 08:08] alenkacz opened #1737 "Support overriding in WSL"
**Is your feature request related to a problem? Please describe.**
Make it possible to pass this through wsl config https://github.com/bombsimon/wsl/blob/a6e08b33286b24ec81b47c17b60608e8b02a69f5/wsl.go#L92
https://github.com/golangci/golangci-lint/blob/master/pkg/golinters/wsl.go

**Describe the solution you'd like**
Add new config setting for golangcilint and pass it through to wsl

[2021-02-16 08:09] alenkacz commented on #1737
I can contribute this if I get a 👍 that this feature would be accepted

[2021-02-16 08:31] bombsimon commented on #1737
Hi! I'm the author of `wsl` and I just created [a new release](https://github.com/bombsimon/wsl/releases/tag/v3.2.0) so you you can bump the version in `golangci-lint`. I had plans last year to do a re-write but didn't finish it so this is about time. It's currently [four fixed issues](https://github.com/bombsimon/wsl/issues?q=is%3Aissue+is%3Aopen+label%3Agolangci-only) not merged upstream to `gol

[2021-02-16 09:51] AndreiD commented on #1725
👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍

[2021-02-17 04:17] #1725 closed

[2021-02-17 23:26] ldez commented on #1726
I tried to reproduce with your example, but I cannot:

[code]

the fix is never applied but I don't get a panic.

[2021-02-18 07:18] tobias-kuendig commented on #1726
That's strange! I am still abe to reproduce the issue.

[code]

[code]

`hexdump -C main.go` with `\n` (`0a`) at the end, works fine

[code]

`hexdump -C main.go` after truncate without `\n` (no `0a`)

[code]

[code]

[code]

Here's a download link to the original file I have used:

http://transfer.sh/r7Cqy/main.go

[2021-02-18 08:12] ldez commented on #1726
I tried with your configuration and your file:

[code]

in a clean project and I still not reproduce :thinking:

[2021-02-18 09:07] tobias-kuendig commented on #1726
Huh! What Go version are you running?

[code]

I am running Ubuntu 20.04, but I cannot imagine that the OS could be the culprit.

[2021-02-18 09:29] vtvz opened #1745 "Revive linter rules configuration"
Some revive rules are not configurable due to invalid type. You can reproduce the error using these rule config one by one:

[code]

These broken rules are commented in the full config listed below

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've inclu

[2021-02-18 09:35] ldez commented on #1726
The local version of Go doesn't have any importance, I use the binary from the download page.

[2021-02-18 11:24] ldez commented on #1726
Could you try to clean your cache `golangci-lint cache clean`

[2021-02-18 16:37] jpreese commented on #1745
Additional suggestion for `gorevive` rules configuration:

I just tried using this linter and noticed that if you specify a `rules:` block at all, the golanglint-ci will only use the set you gave it. In my case, I'd like to use all the defaults, except add some exceptions for `Id` vs `ID` in `var-naming`. But to do so would require adding in all of the other rules explicitly.

The alternative woul

[2021-02-18 18:37] ldez commented on #1745
I created a fix (#1747) for the wrong types and the default rules.

[2021-02-19 00:40] #1745 closed

[2021-02-19 03:21] pkuca commented on #1454
Does it make sense to check for drive letters [in here](https://github.com/golangci/golangci-lint/blob/1e5ba1eb705d129a7465a84ade09ac556eb7dcea/pkg/lint/load.go#L76) and lowercase them?

[2021-02-19 20:27] #1530 closed

[2021-02-19 21:45] powerman opened #1748 "linters-settings.cyclop.max-complexity does not work"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2021-02-19 22:13] ldez commented on #1748
Already fixed by https://github.com/golangci/golangci-lint/pull/1743

[2021-02-19 22:13] #1748 closed

[2021-02-20 14:16] #1737 closed

[2021-02-20 15:37] #1359 closed

[2021-02-20 15:56] haibin opened #1753 "golangci-lint does not return errors"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2021-02-20 16:36] ldez commented on #1753
Hello,

golangci-lint applies some exclusions by default:

https://golangci-lint.run/usage/configuration/

[2021-02-20 16:36] #1753 closed

[2021-02-21 02:25] #999 closed

[2021-02-21 03:00] ldez commented on #1379
Seems to be a bug with `unparam`:

[code]

[2021-02-21 03:12] ldez commented on #1379
It's because `unparam` skip method that required to implement an interface.

  skip - method required to implement an interface

When you run `unparam -exported ./...`, `unparam` shows the `Repository` interface and skip the check.

When you run `unparam -exported ./pkg/inmemory/`, `unparam` doesn't show the interface and report the error.

As golangci-lint runs `unparam`  by package, it's not pos

[2021-02-21 03:25] ldez commented on #974
Fixed by  #1477

[2021-02-21 03:25] #974 closed

[2021-02-21 15:27] #1596 closed

[2021-02-21 15:27] #1730 closed

[2021-02-21 21:01] #1492 closed

[2021-02-22 09:14] Ch00k commented on #1574
I second this. I would like to use golangci-lint with [coc.nvim](https://github.com/neoclide/coc.nvim), which would also mean that I'd need to be able to run linting on separate files as opposed to the entire project. Perhaps a config option could be added that would allow running only the linters that are actually able to run on a single file?

[2021-02-22 16:03] sebastien-rosset opened #1767 "Document expanded list of all linter rules"
**Is your feature request related to a problem? Please describe.**
It's difficult to sift through the list of rules across all linters.
1. Sometimes a one-liner description at https://golangci-lint.run/usage/linters/ is sufficient because the linter implements a single rule.
2. Some linters implement over 100 rules. For example, `govet`, `gosec`, `staticcheck` and `go-critic` have many rules.
3. S

[2021-02-22 16:33] ldez commented on #1767
Hello,

It's nearly impossible to do that or maintain that, due to the number of linters and rules.

[2021-02-22 16:52] pkuca commented on #541
Is it worth leaving this open until v2 and the removal PR's start coming in? I'd probably just close it because the interfacer is deprecated properly now (thanks @SVilgelm )

[2021-02-22 20:10] dvyukov opened #1768 "false staticcheck reports not reproducible with standalone staticcheck"
Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</detail

[2021-02-22 20:13] ldez commented on #1768
Duplicate of #1189

[2021-02-22 20:13] #1768 closed

[2021-02-22 20:16] dvyukov commented on #1768
Isn't it only about reporting context/related info?

[2021-02-22 20:19] ldez commented on #1768
Maybe I misread.

I'm trying to reproduce.

[2021-02-22 20:24] dvyukov commented on #1768
One thing I forgot to mention:
The false warnings appeared only after switch to Go 1.16. Warnings did not show up with Go 1.15.
The same happened with golangci-lint 1.31. I've updated to 1.37 just to not report issues on older releases, but FWIW everything was exactly the same with 1.31.

[2021-02-22 20:25] ldez commented on #1768
Currently I'm not handle to run the linter on your project

[code]

[2021-02-22 20:29] dvyukov commented on #1768
oh, sorry, please run `make descriptions` after check out

[2021-02-22 20:32] ldez commented on #1768
The problem will be fixed by the next version.

[code]

[2021-02-22 20:35] ldez commented on #1768
So it's not a duplicate :wink:

For now, I don't know if it's related to the update of staticcheck https://github.com/golangci/golangci-lint/pull/1756 or to something else

[2021-02-22 20:44] ldez commented on #1768
You tried to trick me :smile: :

[code]

But I also tried with `v0.0.1-2020.1.6` and I have the same output as the `latest`

[2021-02-22 20:46] ldez commented on #1768
I confirm the problem has been fixed by #1756

[2021-02-22 22:11] autarch opened #1769 ""Failed to get persisted facts" errors with `--allow-parallel-runners` option"
Thank you for creating the issue!

- [ X ] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [ X ] Yes, I've searched similar issues on GitHub and didn't find any.
- [ X ] Yes, I've included all information below (version, config, etc).

Please include the following information:

<details><summary>Version of golangci-lint</summary>

[code]

</

[2021-02-22 22:12] autarch commented on #1769
Note that a similar issue was reported in #925. I don't know if this new problem is related.

[2021-02-23 02:43] ejain opened #1770 "Can't disable specific revive rules after upgrading from 1.37.0 to 1.37.1"
After upgrading from 1.37.0 to 1.37.1, configuring explicit rules for the revive linter in the linters-settings no longer prevents other revive rules from running. This is unfortunate, as revive doesn't output rule codes that could be used to filter on...

Thank you for creating the issue!

- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.

[2021-02-23 06:54] dvyukov commented on #1768
That was @dominikh who tried to trick both me and you :)
https://github.com/golangci/golangci-lint/pull/1756/files

So I need to wait for new golangci-lint version.
Trying to figure out if there is any workaround, e.g. manually import staticcheck 0.1.2

[2021-02-23 08:11] ldez commented on #1770
Hello,

the difference between v1.37.0 and v1.37.1 is that we follow the revive way to apply rules: some rules are applied by default.

[2021-02-23 12:38] uhthomas commented on #741
@simonpasquier can this be re-opened? I don't believe using `//nolint:staticcheck // SA1004 ignore this!` resolves this issue as it disables all static checks.

[2021-02-23 14:21] SVilgelm commented on #541
I think, it's better to create an issue and label it as v2 and we will re-open this PR later

[2021-02-23 14:40] scrouthtv opened #1771 "[FEATURE REQUEST] enforce member sorting order"
I'd like to see a feature that enforces the sorting of members of a Go file. It's frustrating to read a source file and not being able to understand which type / variable / ... is what.

I'd like to see a solution where a sane, pre-defined member sorting order is applied, something like this:
1. header
2. private constants
3. public constants
4. private variables
5. public variables
6. private sta

[2021-02-23 14:55] SVilgelm commented on #1771
golangci-lint is a wrapper for may independent linters. So, you need to find or implement a linter with a feature you requested and then we can integrate that linter

[2021-02-23 15:40] #1771 closed

[2021-02-23 15:57] ldez commented on #1724
golangci-lint is a wrapper for many independent linters. So, you need to find or implement a linter with a feature you requested and then we can integrate that linter

[2021-02-23 23:10] #846 closed

[2021-02-23 23:10] #934 closed

[2021-02-23 23:10] #918 closed

[2021-02-24 06:37] tobias-kuendig commented on #1726
Cleaning the cache does not help. I did look into this and the problem seems to be that the generated patch (like the `gofmt` patch) returns a fix for lines 9 and 10. These positions are then stored in the Issue struct here:
https://github.com/golangci/golangci-lint/blob/42ff682f7f9f8f192c8515b08690c40d3b689bd4/pkg/golinters/gofmt_common.go#L269

But the file itself only has 9 lines because of the

[2021-02-24 08:08] #1189 closed

[2021-02-24 09:34] stevendanna opened #1774 "rowserrcheck false positive when deferred Close() is wrapped in a func"
`rowserrcheck` appears to produce a false positive when a deferred `rows.Close()` is wrapped in a func. This is perhaps similar to #1670, but occurs even on versions that should include that fix.

The false positive can be reproduced by the following example:

[code]

This example will report the following error, despite rows.Err() clearly being checked.

[code]

Interestingly, if `defer func() {

[2021-02-24 10:20] ldez commented on #1774
Can you reproduce this issue with just [rowserrcheck](https://github.com/jingyugao/rowserrcheck)? If so, it's best to raise an issue to the upstream repository, and then we can bump the version when it's fixed.

[2021-02-24 10:49] stevendanna commented on #1774
Done: https://github.com/jingyugao/rowserrcheck/issues/16

[2021-02-24 12:13] ldez commented on #1726
I tested on 3 computers:
- Manjaro 20.2.1
- Ubuntu 20.04.2
- Ubuntu 20.10

And I still not reproduce :thinking:

[2021-02-24 12:18] tobias-kuendig commented on #1726
:grin: what a strange problem! What's the length of your `origFileLines` variable in `fixer.go`? Does it match the actual line count? Is it even called?

I did reproduce it like this:

In the root of your repo, I created a `crash.go` file:

[code]

This is 10 lines long (including the new line at the end). I truncated the last byte, so it only has 9 lines now:

[code]

Running everything as is fro

[2021-02-24 12:22] ldez commented on #1726
could you run:

[code]

[2021-02-24 12:46] tobias-kuendig commented on #1726
File with new line:

[code]

Without new line:

[code]

Here's the context right before the panic:

![image](https://user-images.githubusercontent.com/8600029/109002177-26a61780-76a6-11eb-8d47-d96ffde0a7be.png)

I do get the same `issuesToFix` for line 9 and 10 (line 10 crashes):

![image](https://user-images.githubusercontent.com/8600029/109002360-679e2c00-76a6-11eb-9830-a24299ff607f.png)

Replac

[2021-02-24 12:51] ldez commented on #1726
[code]

[2021-02-24 13:04] ldez commented on #1726
Could you update your local binary version of goimports?

[2021-02-25 08:30] AndreiD opened #1776 "MAC M1 Silicon shit doesn't work with this...."
your shit aint' working with the m1 mac....

it would be amazing if you smart guys fix it...

Tim Cook will be forever grateful

[2021-02-25 08:38] theckman commented on #1776
Your report isn't super helpful, especially to those without M1 hardware. It may be helpful to indicate what's not working, and to indicate if you've built using the latest Go version.

[2021-02-25 09:00] bombsimon commented on #1776
Seems to be working fine, using the [pre-built binary](https://github.com/golangci/golangci-lint/releases/tag/v1.37.1)

[code]

[2021-02-25 09:14] ldez commented on #1776
A small reminder https://github.com/golangci/golangci-lint/blob/master/CODE_OF_CONDUCT.md

[2021-02-25 09:47] AndreiD commented on #1776
yes man it lives @bombsimon thank you

[2021-02-25 09:47] #1776 closed

[2021-02-25 12:16] #882 closed

[2021-02-25 12:16] #1274 closed

[2021-02-25 12:16] #959 closed

[2021-02-25 12:16] #1194 closed

[2021-02-25 13:41] pierrre commented on #882
thank you ! :+1:

[2021-02-25 18:53] ldez opened #1779 "Add support for SuggestedFixes"
**Is your feature request related to a problem? Please describe.**

Add support for SuggestedFixes.

https://github.com/golang/tools/blob/b4639ccb830b1c9602f1c96eba624bbbe20650ea/go/analysis/doc/suggested_fixes.md

**Describe the solution you'd like**

Be able to apply automatically the fixes via `--fix`.

**Describe alternatives you've considered**

Display the suggestion as extra information.

*

[2021-02-25 18:54] ldez commented on #1322
Closed in favor of #1779

[2021-02-25 18:54] #1322 closed

[2021-02-25 18:58] ldez commented on #1779
I'm working on and for now, I'm able to apply suggestions from `goerr113` because the suggestion is only on one line.

For the other, the problem is a bit more complex because the fix must be applied on multiple lines.

[2021-02-25 19:33] SVilgelm commented on #1779
I think we need to print the suggested fixes if they are not applied (without `--fix`)

[2021-02-25 19:39] ldez commented on #1779
In some cases, it will br very weird to display the suggestions, because a suggestion can be a `\n` and `TextEdits` is a slice.

[2021-02-25 20:24] SVilgelm commented on #1779
we can print a `diff`, anyway you are going to create a diff, so we can print replacement, maybe in verbose output

[2021-02-25 21:53] SVilgelm commented on #1779
@ldez
I think we need to replace the `Replacement` with `SuggestedFixes` in `golangci-lint`, to avoid a transformation.

[2021-02-25 23:29] SVilgelm commented on #1525
so, the `golangci-lint` is a wrapper for the linters, so could you list the linters, if any, that supports your request?
if no such linters, then they should be implemented and can be integrated with `golangci-lint`

[2021-02-26 00:43] SVilgelm opened #1782 "Add julz/importas linter"
Add a new linter https://github.com/julz/importas

[2021-02-26 00:56] SVilgelm commented on #1782
This PR should be merged before the integration: https://github.com/julz/importas/pull/1

[2021-02-26 01:26] ldez commented on #1782
FYI with go1.16 and our test system, if you create a test file with external imports (not in the main `go.mod`) you will have an issue.
I meet the same problem during the update to go1.16 and `sqlclosecheck`, I had to remove the imports.
https://github.com/golangci/golangci-lint/pull/1740/commits/4d6aa3ce731a378aa49b3ef0e66dadc56efc85f7

[2021-02-26 01:29] SVilgelm commented on #1782
we can import system modules, like `import fff "fmt"`

[2021-02-26 01:29] ldez commented on #1779
I think we can support both as the first step, but I'm thinking about I need more time.

[2021-02-26 08:52] ybiquitous commented on #825
Hi there,

I notice that this problem occurs also with `golangci-lint` v1.37.1 (the latest version), while it never occurs with v1.36.0.

Here is the reproduction via Docker. ⬇️

Given `test.go` in the current directory as below:

[code]

Passed with v1.36.0:

[code]

Failed with v1.37.1:

[code]

Maybe it seems due to Go 1.16... 🤔

[2021-02-26 09:06] ldez commented on #825
I don't reproduce:

[code]

[2021-02-26 09:08] ybiquitous commented on #825
@ldez What version of Go?

[2021-02-26 09:15] ldez commented on #825
the local version doesn't have any impact because golanci-lint is binary.

[code]

[code]

[2021-02-26 09:18] ybiquitous commented on #825
Oh, it’s weird. the Docker version seems something wrong... 🤔

[2021-02-26 09:19] ldez commented on #825
Sorry but your problem seems offtopic

[2021-02-26 09:21] ybiquitous commented on #825
Right. I will create a new issue.
Thank you!

[2021-02-26 09:30] ybiquitous opened #1784 "Docker version `golangci/golangci-lint:v1.37.1` raise "no go files to analyze""
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [x] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-02-26 09:34] ldez commented on #1784
It's because the `go.mod` is missing

[2021-02-26 09:37] ldez commented on #1784
[code]

[code]

[2021-02-26 09:42] ybiquitous commented on #1784
@ldez Thank you so much! I understand the behavior change. 👍

When I turn off `GO111MODULE`, I confirm `golangci/golangci-lint:v1.37.1` works well.

[code]

I'll close this issue if no problems or concerns. Thanks!

[2021-02-26 09:46] #1784 closed

[2021-02-26 14:04] jszroberto commented on #826
+1

[2021-02-26 19:08] #1782 closed

[2021-02-26 19:19] ldez opened #1787 "Add linters from https://github.com/gostaticanalysis"
I propose to introduce the following linters:

- [x] https://github.com/gostaticanalysis/nilerr: finds code that returns nil even though it checks that error is not nil.
- [x] https://github.com/gostaticanalysis/forcetypeassert: finds forced type assertions.

[2021-02-26 19:21] Glyphack commented on #1525
They are implemented already
https://github.com/projectcontour/lint

[2021-02-26 19:23] ldez commented on #1525
@Glyphack do not hesitate to open a PR to add them :+1:

[2021-02-26 19:25] ldez commented on #1525
@Glyphack about the import pattern we already added https://github.com/julz/importas

https://github.com/golangci/golangci-lint/pull/1783

[2021-02-26 21:35] #1787 closed

[2021-02-27 01:08] SVilgelm commented on #1779
Here is the code of how to apply SuggestedFixes: https://github.com/golang/tools/blob/54dc8c5edb561003330ec7e649333181bbd0a9bd/go/analysis/internal/checker/checker.go#L316

[2021-02-27 19:40] SVilgelm opened #1792 "staticcheck randomly fails on CI"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [ ] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<summary>Verbose output of running</summar

[2021-03-02 03:15] georgysavva commented on #1379
Hi, Thanks for your investigation! I see, so there is no bug in `unparam` itself. The problem occurs because `golangci-lint` runs linters per package.
It sounds like running linters per package can cause problems with other linters too, not only `unparam`, no?
What is actionable here? shouldn't it be fixed in `golangci-lint` then?
Thanks!

[2021-03-02 16:11] KeepMasterBranch commented on #1012
This task is most likely unrelated, this is nearly a year old and I use latest stable release without constant OOM anymore

[2021-03-02 16:13] #1012 closed

[2021-03-02 21:01] Zalgo2462 commented on #1574
Running into this issue after updating my linters in vscode.

[2021-03-02 21:19] zaynetro opened #1809 "Support -all flag for unconvert linter"
**Is your feature request related to a problem? Please describe.**

[unconvert](https://github.com/golangci/unconvert) supports `-all` flag but there is no way you can use it through golang-ci.

**Describe the solution you'd like**

It would be nice to run unconvert against multiple OSes.

**Describe alternatives you've considered**

Duplicate a method on Linux and FreeBSD build specific files.

*

[2021-03-03 04:39] SVilgelm commented on #1809
I still don't see a way how can we replace the fork with an upstream repo. The main repo does not provide the public methods, it cannot be used as a library. It will be great if you can modify the upstream repo to support `analysis.Analyzer` interface.

[2021-03-03 05:06] bconway opened #1810 "Make `--fast` meaningful again"
Problem: When every linter claims it's fast, "fast" no longer has meaning:

[code]

I don't want to pick on anyone's work, but many of the linters are in fact quite slow. I wouldn't use many of them with IDE on-save functionality, anyway.

A couple ideas:
- Get rid of the "fast" categorization and get rid of `--fast`. This is probably not a good proposal.
- Use a quantitative metric to decide what

[2021-03-03 13:49] #1208 closed

[2021-03-03 15:34] zaynetro commented on #1809
Let's see if there is any interest in unconvert project: https://github.com/mdempsky/unconvert/issues/52  If not I can update golangci-lint fork.

[2021-03-03 16:19] chriscasola commented on #825
Is there anything that can be done to help find a solution to this issue? It seems to replicate for us very consistently when running using the golangci-lint-action but never when run on development machines.

[This fix](https://github.com/golangci/golangci-lint/issues/825#issuecomment-666038142) did not solve the problem for us.

[These repro steps](https://github.com/golangci/golangci-lint/issue

[2021-03-03 23:02] magnetikonline opened #1813 "We're not seeing version v1.38 being available to golangci/golangci-lint-action"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [ ] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>GitHub workflow with the

[2021-03-03 23:12] SVilgelm commented on #1813
@magnetikonline We are trying to automate the post release actions and the last run is failed. I want to wait one more day a response from @jirfag . If no response, then I will update the repo manually.

Here is PR: https://github.com/golangci/golangci-lint/pull/1460
Action: https://github.com/golangci/golangci-lint/actions/workflows/post-release.yml

[2021-03-03 23:27] magnetikonline commented on #1813
Nice one @SVilgelm - seems it failed building the contributors list.

[2021-03-03 23:29] SVilgelm commented on #1813
yep, the bot's user should be added to the `golangci/team`

[2021-03-04 04:11] somen440 opened #1814 "Can't pipe govet failures on CircleCI"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [x] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-03-04 14:51] SVilgelm commented on #1813
@jirfag @ernado  please add the @golangci-releaser user to the team, we need it for the post-release automation

[2021-03-04 15:59] ernado commented on #1813
ACK, will do

[2021-03-04 15:59] ernado commented on #1813
What permissions we need to provide to @golangci-releaser?

[2021-03-04 17:37] ldez commented on #1813
just add @golangci-releaser into https://github.com/orgs/golangci/teams/team

[2021-03-04 18:40] richardwilkes commented on #541
There should be a way to disable this warning for those of us that still want to use things like interfacer with golangci-lint. As it is, since the introduction of this, our tests now fail because of this (spurious to us) warning.

[2021-03-04 19:15] ldez commented on #541
@richardwilkes as the linter is deprecated by the author itself, we recommend disabling this linter.

There is an internal hidden flag to hide this message but without any warranty to be stable in the future.

[2021-03-04 20:18] richardwilkes commented on #541
Ah... what is that flag? Not 100% necessary, as I found I can filter the stderr easily enough... but I actually find both interfacer and maligned to be useful. And the option to use govet's fieldalignment is a non-starter, as it is just plain wrong in its analysis.

[2021-03-04 20:41] ldez commented on #541
maligned is replaced by  `fieldalignment` linter in `govet`

https://golangci-lint.run/usage/configuration/

[code]

[2021-03-04 20:45] ldez commented on #541
maligned has been also deprecated by the author itself: https://github.com/mdempsky/maligned

maligned is replaced by  `fieldalignment` linter in `govet`

https://golangci-lint.run/usage/configuration/

[code]

or

[code]

[2021-03-04 20:48] ldez commented on #541
Those linters will be removed in the future, so it's time to disable it from your configuration :wink:

[2021-03-04 21:05] richardwilkes commented on #541
Understood... however, removing a linter that provides a valuable service (like maligned) when the replacement doesn't actually work correctly, is not good. It doesn't seem to understand the correct sizes of struct fields and issues warnings that are incorrect. Example -- for this struct:
[code]
govet will report "fieldalignment: struct with 48 pointer bytes could be 40 (govet)"

However, using un

[2021-03-04 21:19] ldez commented on #541
I suggest you open an issue here: https://github.com/golang/go/issues/new/choose

The issues related to `golang.org/x/tools` are globally handle quickly as it's not a part of the core.

[2021-03-05 14:20] SVilgelm commented on #1813
@ernado @jirfag It's a blocker now. Could you please add the @golangci-releaser user to the team https://github.com/orgs/golangci/teams/team/members ?

[2021-03-05 16:51] #942 closed

[2021-03-05 23:19] howardjohn opened #1818 "gofumpt --fix doesn't always work completely, gives conflicting results with standalone tool"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [x] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-03-06 00:48] ldez commented on #1818
gofumpt seems to  do the opposite of gofmt:
[code]

[2021-03-07 05:21] ldez commented on #1351
There is no bug with gci. All the linters will have the same behavior in this context.

The files are just excluded because of the build tag.

[code]

- https://github.com/istio/istio/blob/cfc56f29aa6091bdc85b8c7875c10d78033c366c/tests/integration/telemetry/tracing/clienttracing/client_tracing_test.go#L1-L16
- https://github.com/istio/istio/blob/cfc56f29aa6091bdc85b8c7875c10d78033c366c/tests/integ

[2021-03-07 05:21] #1351 closed

[2021-03-07 19:24] mvdan commented on #1818
@ldez I don't know - I can't diagnose unless you provide the exact versions of gofmt and gofumpt, and a way to reproduce the difference between the two. A recent gofumpt version will only be format-compatible with a recent version of gofmt. Mixing gofumpt v0.1.0 with gofmt from Go 1.8 will likely result in diffs, for example.

[2021-03-07 19:40] hmajid2301 opened #1820 "Pretty Print: goanalysis_metalinter output"
I run golangci-lint like `golangci-lint run -c .golangci.yml --timeout 5m ./...`

Where my `.golangci.yml` looks like this:

[code]

Is there a way to pretty print the output from the `goanalysis_metalinter:`. Currently my output is messy and looks something like:

[code]

It doesn't wrap very nicely in the VSCode terminal

[2021-03-07 20:03] ldez commented on #1818
I use gofmt from go1.16 and the latest stable version of gofumpt:
[code]

[2021-03-07 20:28] ldez commented on #1820
Close to #886

[2021-03-07 20:36] bombsimon commented on #1820
#886 seems oldest but a lot of issues refer to #1043.

[2021-03-07 21:07] hmajid2301 commented on #1820
Thank you!.

[2021-03-08 02:20] yash97 commented on #395
I am facing the same error does anyone have any solution?Also tried `GO111MODULE=on` no luck.

[2021-03-08 04:05] magnetikonline commented on #1813
We're still broken? If there anyone else that can add https://github.com/golangci-releaser into the team so we can kick the build along again?

Thanks!

[2021-03-08 06:37] ernado commented on #1813
I've PM-ed @jirfag

[2021-03-08 09:08] mvdan commented on #1818
Thanks - that seems like a recent regression, added in https://github.com/mvdan/gofumpt/commit/c49fa4478a4bd041dac0d8c872f88de52b2a8ad0. I mistook that formatting difference as a change in gofmt that happened a couple of years back.

I've fixed the bug here: https://github.com/mvdan/gofumpt/commit/d7cd0a5d35ce5779a01c803173a92769e330c2d1

[2021-03-08 14:30] krhubert commented on #1088
I'm having the same issue, unfortunately, the repo is not public.

[code]

.github/workflows/test.yml
[code]

.golangci.yml
[code]

[2021-03-08 15:12] ldez commented on #1088
Some changes has been done in v1.37.0 about that topic, could you try with this version?

[2021-03-08 15:34] krhubert commented on #1088
@ldez I've tried v1.37.0 and I've got the same result :/

[2021-03-09 07:24] iamtakingiteasy opened #1825 "govet fieldalignment produces false positives for embedded structures"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [x] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-03-09 07:52] iamtakingiteasy commented on #1825
https://github.com/golang/go/issues/44877

[2021-03-09 10:40] y-chen opened #1826 "failed to load package webview/could not load export data/no export data for"
I recently created a desktop app on top of an existing go project using [Wails](https://github.com/wailsapp/wails), since then `golangci-lint` is failing.

These is some information:

<details>
  <summary>.gitlab-ci.yml</summary>

[code]

</details>

<details>
<summary>Error output</summary>

[code]

</details>

Tried also the latest `v1.38.0` version but I had the same error.

Is there a way to s

[2021-03-09 12:18] ldez commented on #1813
I think it's time to create a PR, we retry the automatic system with the next release if the rights problem is solved.

I created a PR: #1827

[2021-03-09 14:34] dbraley commented on #1490
I'm also seeing this problem. I'll add that with a larger set of imports and more randomization, I'm able to reproduce the failure with the `gci + gofumpt` and `gofmt + gofumpt` combinations as well.

[2021-03-09 17:10] ernado commented on #1813
@golangci-releaser was added to org.

[2021-03-09 17:30] danielhochman commented on #1490
I've started debugging this issue. I'll try to post more as I have time to dig into the results.

**Input**
[code]

**Expected Output**
[code]

**Actual Output**
<img src="https://user-images.githubusercontent.com/4712430/110511627-03c62b00-80ca-11eb-8cca-ea2800a9368c.png" width="400px" />

**Debug Output**
I added a some extra log statements in a custom build to figure out what's happening intern

[2021-03-09 17:33] ldez commented on #1813
Thank you @ernado and @jirfag

We will test that with the next release :+1:

[2021-03-09 17:33] #1813 closed

[2021-03-09 17:36] SVilgelm commented on #1813
@ldez I re-run the failed action: https://github.com/golangci/golangci-lint/runs/2068816507?check_suite_focus=true
the PR was created successfully: https://github.com/golangci/golangci-lint/pull/1828

so we can assume that it works

[2021-03-09 17:42] danielhochman commented on #1490
So far, I'm pretty sure the issue is related to one or all of these code paths:
- [`extractIssuesFromPatch`](https://github.com/golangci/golangci-lint/blob/60613dc3eb841f9d3a07dcc2c59e96eefdfc428f/pkg/golinters/gofmt_common.go#L243), which analyzes the diff from the linter output to determine what the affected lines are and what action is necessary on those lines
- `mergeLineIssues` ([fixer call](

[2021-03-09 17:51] ldez commented on #1818
@mvdan thank you, Did you plan to cherry-pick the commit on v0.1.x ?

[2021-03-09 22:25] magnetikonline commented on #1813
Thanks @SVilgelm and @ernado - we're back in action! 🎉

Appreciate all your help on this one 👍

[2021-03-10 05:05] ocavue commented on #1770
In revive, some rules are applied by default when not config file provided. However, if you provide a config file, you must explicitly enable the rules that you want to use. By doing that, revive allows users to disable any rule even they are enabled by default. Here is an example.

1. make sure that I have the latest version of `revive` and `golangci-lint`:
[code]

2. prepare a file
[code]

3. wh

[2021-03-10 05:48] iamtakingiteasy commented on #1825
As per https://github.com/golang/go/issues/44877#issuecomment-794565908 it seems that "pointer bytes" reports from fieldalignment linter correspond to GC scanning the structure rather than structure size. Latter has messages in form of "struct of size X could be Y", and former are "struct with X pointer bytes could be Y". As suggested in linked comment, maybe it is worth ignoring reports of pointe

[2021-03-10 06:24] iamtakingiteasy commented on #1825
The issue seems to be rooted in that maligned used in golangci-lint's go.mod is of pretty old version (as of 2018), while GC pointer scan diagnostic was added there 6 months ago. Naturally, this diagnostic was also introduced to fieldalignment too, but it is a noticable change of behavior when trying to use fieldalignment as drop-in replacement to maligned in golangci-lint case.

[2021-03-10 10:12] ldez commented on #1770
I will try to fix that but that will be breaking once again.

[2021-03-10 10:18] ldez commented on #1770
The main difficulty is that revive use a filename to detect if the default rules must be applied, but in golangci-lint we cannot do that because the revive rules are not defined in a dedicated file.

[2021-03-10 10:39] ldez commented on #1770
`reflect.DeepEqual` will do the job :wink:

Take a look at my PR #1831

[2021-03-11 01:38] zealws opened #1832 "golangci-lint fails if it can't read the contents of a directory, even if it's in --skip-dirs"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [x] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-03-11 01:54] zealws opened #1833 "golangci-lint run cannot find golang files in the current directory"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [x] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-03-11 01:56] ldez commented on #1833
Hello, could try to add a `go.mod` file?

[2021-03-11 09:44] mvdan commented on #1818
I've now released that as part of a bugfix release: https://github.com/mvdan/gofumpt/releases/tag/v0.1.1

[2021-03-11 11:58] ldez commented on #1818
Thank you :heart:

[2021-03-11 18:07] zealws commented on #1833
`GO111MODULE=off` did the trick:

[code]

Adding a `go.mod` also worked:

[code]

[2021-03-11 18:11] zealws commented on #1833
Can you at least update the documentation to make it clear that a `go.mod` file is required in order to run `golangci-lint`?

[2021-03-11 18:17] zealws commented on #1833
Also please don't close github issues when there's still work to be done on them. The issue was intended to be more than a simple question, and I don't have access to re-open the issue to reflect that.

[2021-03-11 18:20] bombsimon commented on #1833
But it is working without a `go.mod` file, you just have to manually set `GO111MODULE` to `off`. `GO111MODULE` has been around since 1.11 as you can tell by the name but has been set to `auto` since. From 1.16 this is now defaulting to `off` which seems reasonable after having it set to auto for over two years, see [changelog](https://blog.golang.org/go116-module-changes).

If you haven't migrated

[2021-03-11 18:20] zealws commented on #1833
I took a stab at the documentation changes with: #1835

[2021-03-11 18:25] zealws commented on #1833
I only found this while trying to create a minimal repro for #1832. Most of my go projects are go modules, so this isn't a problem for any actual projects.

However, I do feel like there's either an issue with the go file searching, or something missing from the documentation, which is why I flagged the issue in the first place.

This feels more like a work-around than an actual fix.

It wasn't cl

[2021-03-11 18:31] bombsimon commented on #1833
Sorry, absolutely not trying to be a jerk here! I'll re-open the issue until we've found a proper solution regarding documentation, changes to the code or another suggestion, I shouldn't by myself decide what's best to do here!

[2021-03-11 18:33] zealws commented on #1833
Sure. I understand. :)

I think in the future if you cut a new issue to reorganize work, you might leave a comment on the old issues (like this one) with an FYI to that effect. That would probably cut down the confusion.

We can discuss on the PR what the best way to update the docs is.

Thanks for the clarification!

[2021-03-12 14:39] Dentrax opened #1836 "Add 'go-cleanarch' Linter"
https://github.com/roblaszczak/go-cleanarch

I am not too sure that the context of `go-cleanarch` is suitable for `golangci-lint` project. It seems that this linter is never proposed in issues. But this linter is cool though. I'd like to configure and use seamlessly with `golangci-lint`. I am opening this issue because we can do discussions about this linter here. ✌️

/cc @roblaszczak 👋

[2021-03-13 03:14] butuzov opened #1839 "Coloring Options for Severity"
**Is your feature request related to a problem? Please describe.**
As a new dev in a team, I want to be able to distinguish issues by their severity. But Severity is an opinionated thing and it really depends, on what you "mean" and how you treat error. In `golangci-lint`
- We have a severity concept for issues introduced quite along time ago.
- We also have coloring for issues.

Why not combine t

[2021-03-13 03:54] ldez commented on #1792
Another case:

[code]

[2021-03-13 04:11] #1579 closed

[2021-03-13 04:11] #1580 closed

[2021-03-13 04:11] #1581 closed

[2021-03-13 13:36] ldez opened #1841 "Deprecate varcheck, structcheck, and deadcode"
### Is your feature request related to a problem?

Currently, by default golangci-lint runs the following linters about unused/dead code:

- `deadcode`
- `structcheck`
- `unused` (`staticcheck`)
- `varcheck`

Those linters, activated by default, are all the linters related to unused/dead code detection.

https://golangci-lint.run/usage/linters/

I created a small sandbox to find the scope of each

[2021-03-13 15:52] fermin-silva commented on #1245
were you able to fix this? I believe I'm having the same issue, although our repo/modules setup is a bit more complicated

[2021-03-14 02:46] sayboras commented on #1841
This is great, I found a lot of similarity/redundancy between deedcode and un-used personally, sometimes it's with `gosimple` as well. Moving proposed linters out of default list can cause a little bit unpleasant experience for users (I am guessing we will never go to v2). Just curious about the benefit of doing this, the only thing i can think of is to reduce duplicated effort to skip in case of

[2021-03-14 03:55] butuzov commented on #1841
lol. I did litteraly said that on the article review yesterday, and here is the results from last week (made the same comparison).

checking           | unused | deadcode | structcheck  | varcheck  | unparam
-------------------|--------|----------|--------------|-----------|---------
variable           | x      | x        |              | x         |
func               | x      | x        |

[2021-03-14 11:08] ldez commented on #1810
I created some benchmarks on the code of `golangci-lint` and `traefik`.
The script resets the cache before each command execution.

<details>
<summary>golangci-lint</summary>

![prefs_golangci-lint](https://user-images.githubusercontent.com/5674651/111066139-c85aa080-84bd-11eb-977b-d84a28710749.png)

</details>

<details>
<summary>traefik</summary>

![perfs_traefik](https://user-images.githubuserc

[2021-03-14 14:00] bconway commented on #1810
Wow, great work! Thanks for diving in on that. I see your point on the nuances of a `fast` boolean.

One nice advantage to having such a toggle is that I can minimize configuration by "using" the same set of tests in a Makefile/CI and in my IDE, with the addition of the `fast` flag for interactivity. Obviously "using" is in quotes here, as not all the same tests are run.

[2021-03-14 17:19] ldez commented on #1810
I analyzed the code related to the status `fast/slow`:

`IsSlowLinter` define if a linter is slow, but `lc.LoadMode&packages.NeedTypesInfo != 0` is always `false` because we never use this load mode.

https://github.com/golangci/golangci-lint/blob/92adaa449740efa4a8a0f2383d58b1e9106545f2/pkg/lint/linter/config.go#L37-L39

https://github.com/golangci/golangci-lint/blob/92adaa449740efa4a8a0f2383d58b

[2021-03-15 07:13] #1810 closed

[2021-03-15 11:38] #1005 closed

[2021-03-15 11:39] #1770 closed

[2021-03-15 12:55] bconway commented on #1810
Thank you!

[2021-03-15 18:21] kavu opened #1846 "JSON Schema on json.schemastore.org is outdated"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [ ] ~Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)~

<details><summary>Description of the pro

[2021-03-15 18:43] ldez commented on #1846
Hello,

currently, we don't maintain the JSON Schema on json.schemastore.org

You can follow https://github.com/golangci/golangci-lint/issues/1453

[2021-03-15 18:43] #1846 closed

[2021-03-16 03:40] yash97 opened #1851 "How to run Golang ci lint on delta of master branch and feature branch?"
- [ ] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [ ] Yes, I've searched similar issues on GitHub and didn't find any.
- [ ] Yes, I've included all information below (version, config, etc).
- [ ] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-03-16 06:40] bombsimon commented on #1851
I guess this is the same as https://github.com/golangci/golangci-lint/discussions/1850 and the discussions tab is a way better place to ask questions that filing a bug, ok if I close this?

[2021-03-16 08:02] #1851 closed

[2021-03-16 17:03] benjaminjkraft commented on #510
Just ran into a similar issue (also with `nilness`, different code path).  While again ideally `nilness` would include a position (and I'll report it upstream once we figure out where the error actually is), it seems like it would be nice for `golangci-lint` to not crash on this error, since `go/analysis` seems to consider it valid, if suboptimal?  We could report at the start of the first file in

[2021-03-17 04:20] okhowang commented on #1169
I found the root reason is that:
`goimports` use `diff -u` command to output diff result,
and `golangci-lint` use `github.com/sourcegraph/go-diff/diff` to parse the diff result.

diff result should be some format like
[code]

notice the time format after filename

and on windows platform, we may have some strangy `diff` command.
in my case, it was diff bundled with neovim.
it output time format li

[2021-03-17 08:11] laizhiwei123 opened #1855 "ERRO Running error: context loading failed: no go files to analyze"
I can't use golangci-lint run to traverse the. Go file of the sub folder. The project has a go mod file. I can run golangci run in the directory of the sub project

![Uploading 截图录屏_选择区域_20210317161001.png…]()
![Uploading 截图录屏_选择区域_20210317161034.png…]()

[2021-03-17 08:51] ldez commented on #1855
duplicate of #825

FYI your image links don't work

[2021-03-17 08:51] #1855 closed

[2021-03-17 10:56] DONSA opened #1856 "Unable to change staticcheck severity to warning"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [x] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-03-17 11:26] ldez commented on #1856
Hello,

The warning and the error will result in the same output.

The severity configuration doesn't change the exit code but adds/changes the field `severity` into some output format.

I recommend adding an exclude rule:

[code]

[2021-03-17 11:26] #1856 closed

[2021-03-17 11:41] ldez commented on #510
I tried to reproduce with the initial snippet:
[code]

[code]

[code]

I don't have any problems.

[2021-03-17 15:29] puellanivis commented on #510
This message `nil dereference in index operation` is itself the erroneous behavior. There is no nil dereference happening here. A range over a nil slice is a perfectly valid and sound piece of code with well-defined behavior.†

†: https://groups.google.com/g/golang-nuts/c/gVgVLQU1FFE

[2021-03-17 16:03] yash97 opened #1857 "--new-from-rev: master throws error"
- [ ] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [ ] Yes, I've searched similar issues on GitHub and didn't find any.
- [ ] Yes, I've included all information below (version, config, etc).
- [ ] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-03-17 17:01] yash97 commented on #1088
facing similar issue any update?

[2021-03-17 18:00] benjaminjkraft commented on #510
To be clear, the issue I ran into was similar, but the exact message was not the same.  We didn't end up tracking down the code that caused it, sadly.  But if you look at the `nilness` source it's clear that there are a bunch of places it can still report an error with `token.NoPos`, which is what happened to us for unknown reasons, so that's why it would be nice to at least report the error and n

[2021-03-17 18:04] ldez commented on #510
Have you try to use [nilness](https://github.com/golang/tools/blob/master/go/analysis/passes/nilness/nilness.go) directly with `go vet` ?

[2021-03-17 19:17] benjaminjkraft commented on #510
@ldez it was my coworker who got the issue, and they ended up just working around it, so I'm not sure.  But the error message made things reasonably clear:
[code]
Specifically, `go vet` is reporting an error with `Pos:token.NoPos`, and then something in golangci-lint is looking at that and trying to read the file with empty-string filename.  I don't know why `go vet` is reporting such an error, an

[2021-03-18 01:07] ldez commented on #1088
Just to keep the issue in the right way.

These previous error messages can mean:
- the command `git` is missing.
-  the commits are missing, probably because the git tree is incomplete.

---

If the command `git` is missing, you have to install it.

---

If the commits are missing, you have to configure your CI to get those commits.

<details>
<summary>With GitHub Actions</summary>

You have to d

[2021-03-18 13:32] zaynetro commented on #1809
Seems like there is no interest in the original repo. I will continue with a fork update.

I fail to understand how can I modify the library to use `analysis.Analyzer` interface. The problem I have is how to go over files for all platforms. In my local tests I figured out only how to go over files for a current platform.

I will update the fork and try to keep the current interface. With someone's

[2021-03-19 01:25] justinrush opened #1858 "add jq to dockerfile"
**Is your feature request related to a problem? Please describe.**
When running the tool to generate code quality reports its helpful to be able to tee the output to a file and to some human readable output using jq.

**Describe the solution you'd like**
`RUN apk update && apk add --no-cache jq=1.6-r1`

**Describe alternatives you've considered**
maintain a local fork :(

[2021-03-19 01:38] sayboras commented on #1858
In my opinion, golangci-lint docker image should be just bare minimum (e.g. base image + golangci-lint binary). So while adding _one more tool_ (like jq) is trivial, it will lead to few implications:

- request to add one more tool
- more responsibilities to maintain versions
- security vulnerabilities

[2021-03-19 01:44] justinrush commented on #1858
I don't disagree with the sentiment but at the same time using code quality as an output either requires that you run two jobs, one with non-human and output to file, and another to screen... Or create a private image based on the latest, and then keep maintaining that.

If there is some sed/awk magic people are using instead, I'm game, please share. I just don't want to maintain a private image f

[2021-03-19 01:45] ldez commented on #1858
I agree with @sayboras.

I guess that you are using the json output format, instead of adding `jq` to pipe the output, we can just add another output format like "json for human"

[2021-03-19 01:46] ldez commented on #1858
could you provide more information about your use case?

[2021-03-19 03:00] ldez commented on #1466
Hello,

I tried to reproduce with the snippet and your configuration (with different golangci-lint versions) and I don't reproduce it.

We need more information to be able to reproduce this issue.

[2021-03-19 08:39] kierun commented on #1466
I cannot reproduce the issue as well. Guess some voodoo magic fixed it somewhere. Thank you for your help.

[2021-03-19 08:39] #1466 closed

[2021-03-19 22:37] #960 closed

[2021-03-20 15:03] ldez commented on #1774
Fixed by  #1843

[2021-03-20 15:03] #1774 closed

[2021-03-21 15:48] ldez commented on #1574
FYI you can run the following linters on a single file:
- dogsled
- dupl
- forbidigo
- funlen
- gochecknoglobals
- gochecknoinits
- gocognit
- goconst
- gocyclo
- godot
- godox
- gofmt
- gofumpt
- goimports
- gomnd
- goprintffuncname
- ifshort
- lll
- misspell
- nakedret
- nestif
- nolintlint
- prealloc
- predeclared
- scopelint
- whitespace
- wsl

In the next release (v1.39.0), the following lint

[2021-03-22 19:58] ldez commented on #1726
@tobias-kuendig any news?

[2021-03-22 20:23] ldez commented on #1372
Hello,

I think it's not a bug but the expected behavior, dupl use a specific method to find duplicates.

From [dupl documentation](https://github.com/mibk/dupl#dupl-):

considered the same provided it exceeds the minimal token sequence size).

the ones we do not consider clones (whether they are too small, or the values of the matched
tokens are completely different).

So you have to change the t

[2021-03-22 20:23] #1372 closed

[2021-03-22 20:31] ldez commented on #1168
The errors reported by `typecheck` must be seen as compilation errors, and when a compilation error occurs a lot of "false" compilation errors will be reported like in a classic compilation.
So the limit is here to avoid being flood by those errors.

[2021-03-22 20:55] zak-pawel commented on #1809
@zaynetro It would be great if you can introduce also `flagFastMath` config in fork to have possibility to disable/enable conversions that force intermediate rounding.

More info:
https://stackoverflow.com/questions/63544888/delete-conversion-changes-semantics
https://github.com/mdempsky/unconvert/issues/40

[2021-03-23 00:45] ldez commented on #1574
As we fixed the `--fast` flag in #1844 (available in the next release [v1.39.0]), you will be able to use this flag as a filter: all the "fast" linters work on a single file.

| name             | fast | single file |
|------------------|:----:|:-----------:|
| ineffassign      |   x  |      x      |
| asciicheck       |   x  |      x      |
| dogsled          |   x  |      x      |
| dupl

[2021-03-23 00:59] ldez commented on #1574
In summary:
- all the linters are not able to run on a single, because they require information that is not available in a single file.
- the linters that are able to run on a single can be filtered by the flag `--fast`

So I will close this issue :smiley:

[2021-03-23 00:59] #1574 closed

[2021-03-23 01:41] ldez commented on #1546
In fact, the linter is really correct: the [`Checker`](https://github.com/golang/go/blob/d25476ebb2c645495db7ae22585a8e74171b106e/src/go/types/check.go#L81) detects "soft" error.

The go doc explains the meaning of "soft":

https://github.com/golang/go/blob/d25476ebb2c645495db7ae22585a8e74171b106e/src/go/types/api.go#L38-L40

I think that, from the point of view of a linter, reporting this kind of

[2021-03-23 01:41] #1546 closed

[2021-03-23 07:21] tobias-kuendig commented on #1726
Sorry, I was a few days away from work.

While writing you a lengthy response with all kind of debug information, I think I found the culprit:
https://github.com/sourcegraph/go-diff/blob/master/diff/parse.go#L595

I have german diff outputs (`Kein Zeilenumbruch am Dateiende.`) instead of the hard coded `No newline at end of file` in the `go-diff` package.

As a quick check, I have replaced [their

[2021-03-23 19:37] ldez commented on #1825
Thank you @iamtakingiteasy for the details behind the `fieldalignment` behavior.

We can close the issue now.

[2021-03-23 19:37] #1825 closed

[2021-03-24 07:22] AlwxSin commented on #1276
@sayboras correct me, if I wrong, please. If I want to use a private plugin I need to compile `golangci` with `CGO_ENABLED=1` by myself? And I need to compile it on the docker image I use in my CI and for all platforms, my team uses for development?

[2021-03-24 10:57] #1199 closed

[2021-03-24 11:32] ldez commented on #853
In `S1023` the prefix `S` means Simple, so `S1023` is reported by `gosimple`.

In the code `gosimple` and `staticcheck` are 2 differents set of linters:
- https://github.com/dominikh/go-tools/blob/390eb5b1698c4de8c1ae28c0bb3ba2b9b99aaa95/simple/analysis.go#L11
- https://github.com/dominikh/go-tools/blob/390eb5b1698c4de8c1ae28c0bb3ba2b9b99aaa95/staticcheck/analysis.go#L23

`SA4011` is missing becau

[2021-03-24 11:32] #853 closed

[2021-03-24 14:26] clebs opened #1868 "version: prints to Stderr instead of StdOut"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [x] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Commands print to Stderr

[2021-03-24 14:58] clebs commented on #1868
Hi golangci-lint team,

I opened a PR fixing this issue since it is very easy to fix. Also checked all other commands and `version` is the only one facing this issue.

[2021-03-24 16:43] #1868 closed

[2021-03-24 20:59] ldez commented on #1686
I added a `Since` field on all linters (#1854) so now you can see the version (and also the deprecation) in the documentation:

https://golangci-lint.run/usage/linters/

I have an idea for a command line approach but I need to think more about it.

[2021-03-24 21:17] Zamiell commented on #1686
Nice work, thanks.

[2021-03-25 13:52] winmillwill commented on #1404
As a user who just got bitten by a bug caused by a pointer to the loop variable and has reviewed the discussion in #1041, I prefer using looppointer. The drawback of false positives seems to be tiny:
- The additional assignment line *would not* cause a relevant system resource cost, so just do it.
- The additional assignment *would* cause a relevant system resource cost, so add the `nolint:looppoi

[2021-03-25 19:50] ldez commented on #979
With the current version (v1.38.0), the problem seems fixed.

[code]

[2021-03-25 19:50] #979 closed

[2021-03-25 19:58] ldez commented on #791
fixed by #1756

[2021-03-25 19:58] #791 closed

[2021-03-25 20:05] AlekSi commented on #1658
I would propose for golangci-lint to complain about all forms with spaces: `// nolint`, `//nolint: name`, etc.

[2021-03-25 20:06] ldez commented on #510
@benjaminjkraft could you open a new issue with a sample to reproduce your problem? thank you.

---

I will close this issue.

[2021-03-25 20:06] #510 closed

[2021-03-25 20:10] ldez commented on #1658
@AlekSi you can already to that:
[code]

[2021-03-25 20:12] AlekSi commented on #1658
And I think the default should be changed to `false` in some future version with some warnings in between.

[2021-03-25 20:52] AlekSi commented on #1690
Currently, it is possible to configure the cache directory via `GOLANGCI_LINT_CACHE` environment variable. But it is not documented (https://github.com/golangci/golangci-lint/issues/734), and also not a flag or config file field requested by OP.

[2021-03-25 21:18] ldez commented on #1690
https://github.com/golangci/golangci-lint/blob/bcdfb7f6b10b090f66228e263db4ae8c7a7132c9/internal/cache/default.go#L60-L87

Introduced in #699

[2021-03-25 21:18] #1690 closed

[2021-03-25 21:32] AlekSi commented on #1690
Not sure why close it if not a single point from https://github.com/golangci/golangci-lint/issues/1690#issuecomment-807465355 is addressed.

[2021-03-25 21:38] ldez commented on #1690
Because I reopened #734 and created a PR  #1871

[2021-03-25 21:43] AlekSi commented on #1690
Sorry, I don't follow.

The environment variable is not a run command flag or config file field.

If you don't think flag/field is a good idea for some reason, explicitly saying so would send a much clear signal than closing an issue with a comment that looks like the issue wasn't really read beyond the title.

[2021-03-25 22:07] #734 closed

[2021-03-25 22:52] #1002 closed

[2021-03-25 22:52] #1043 closed

[2021-03-25 22:52] #1168 closed

[2021-03-25 22:52] #1820 closed

[2021-03-25 22:52] #1826 closed

[2021-03-25 22:52] #886 closed

[2021-03-26 00:16] FdeFabricio commented on #553
There are some cases that are skipped by `unparam`

[2021-03-26 00:21] FdeFabricio commented on #553
There are some cases that unused parameters are ignored by `unparam`, called  as "dummy implementation", which are not ignored by `nargs`.  https://github.com/mvdan/unparam/issues/49

In terms of efficiency, I don't know much...

[2021-03-26 20:15] thebeline opened #1874 "Multiple Issues don't seem to play nice together."
I have one file where the `push` makes one line super long, and adds weird whitespace somewhere else.

I get a `gofumpt` error on the whitespace (first), and then on the **long line** (what I am referring to from here forward) I get another `gofumpt` error.

If I disable `gofumpt`, it (super weird) turns into a `goimports` error (but still on that long line), even though I have enabled `only-new-i

[2021-03-27 14:12] ldez opened #1873 "typecheck: possible wrong cut"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [ ] Yes, I've included all information below (version, config, etc).
- [x] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

https://github.com/golangci/golangci-lint/

[2021-03-27 14:12] ldez commented on #1873
@thebeline could you provide the information to fill the issue?

[2021-03-27 14:27] ldez commented on #1873
@thebeline I think that your problem is related to something else:
- are you using go1.16?
- are you using go modules?

[2021-03-27 14:37] ldez commented on #1873
I think it's about this https://github.com/thebeline/OctoScreen/tree/IMP/GolangLinter

@thebeline could you confirm?

[2021-03-27 14:50] thebeline commented on #1873
@ldez - Certainly. I need to draft up an MVP for the issue.  But below I will try to describe the steps as I can remember.

- Hardware: Raspberry Pi 3 B
- OS: OctoPi (Debian BUSTER)
- Go Package Checkout
  - Clone `https://github.com/thebeline/OctoScreen.git` into `/home/pi/OctoPrint`
  - Checkout `IMP/GolangLinter`
- Golang Setup
  - Raspbian (or, at least OctoPi) ships with an old Go (1.11, I be

[2021-03-27 14:54] thebeline commented on #1873
With regards to the `IMP/GolangLinter` branch, please note that the majority of those commits were just seeing how things behaved.

One thing that I was looking at was related to: https://github.com/golangci/golangci-lint-action/issues/192

Which, as I go down the rabbit hole, I now realize has nothing to do with the action, but moreso with linter it's self.

Actually, I have never run the linter

[2021-03-27 14:58] ldez commented on #1873
Your problem in golangci/golangci-lint-action#192 is related to #1490, it's not related to the github action

[2021-03-27 15:00] ldez commented on #1874
Duplicate of #1490

[2021-03-27 15:00] #1874 closed

[2021-03-27 15:02] thebeline commented on #1873
Ah, it would seem, more specifically: https://github.com/golangci/golangci-lint/issues/1490#issuecomment-794218231

A function like `mergeLineIssues` seems like it might have something to do with things I mentioned.  :-)

Still, it seems odd that if `golangci-lint`, under the hood, knows that the env is broken, why does it keep going?

[2021-03-27 15:05] ldez commented on #1873
`golangci-lint` doesn't know if the env is broken, `golangci-lint` just run Go analysis and run the linters.
It just displays the report from Go analysis: each linter has differents requirements and the fact to compile is not required by all the linters.

[2021-03-27 15:07] #1873 closed

[2021-03-27 15:21] thebeline commented on #1490
@danielhochman, trying to understand:

This is in `fixer.go`, would erroneous behavior in those three functions trigger if I weren't using `--fix`?

[2021-03-27 15:34] ldez commented on #1490
@thebeline yes it's what I say in my comment https://github.com/golangci/golangci-lint/issues/1490#issuecomment-778782810

[2021-03-27 15:59] thebeline commented on #1490
@ldez I can confirm that, if this is related to my closed issues, it doesn't have to do with `gofmt`, `goimports`, `gci`, or `gofumpt`, as the `col` duplication I am seeing still occurs with those shut off.

In fact, if I run with just `unparam` and `unused`, I am seeing a `col` duplication of 3 (`ERRORING_LINTER_COUNT+1`, as I had mentioned).

Curiously (if data helps, which I hope it does):
- `d

[2021-03-27 16:24] ldez commented on #1490
the fixer is only used when `--fix` is called.

edit: I removed my previous comment because I misread your comment.

[2021-03-27 16:39] thebeline commented on #1490
In which case, ass all functions you mentioned are in `fixer.go` I am not sure the behaviour is related.

I have to do some more research, but I did notice some very strange behaviour when I started doing A/B tests.

I'll have a nice little spreadsheet for you tomorrow. :-)

[2021-03-27 16:49] ldez commented on #1490
Ok so I think it's off-topic, you can continue in #1874

[2021-03-27 17:21] ldez commented on #1874
https://github.com/golangci/golangci-lint/discussions/1875

[2021-03-28 17:57] thebeline commented on #1874
I am not entirely sure what was going on here, but it seems resolved.

[2021-03-29 19:06] davidnewhall opened #1878 "Running golangci-lint --enable-all prints warnings about deprecated linters"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [ ] Yes, I've included all information below (version, config, etc).
- [ ] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-03-29 19:22] ldez commented on #1878
Hello,

It's the expected behavior: all the people that use `enable-all` must disable those linters.

Also `enable-all` is deprecated:

https://golangci-lint.run/usage/configuration/

[2021-03-29 19:36] davidnewhall commented on #1878
That's all very unfortunate. Thank you for your reply.

[2021-03-29 19:36] #1878 closed

[2021-04-01 07:47] AugustasV commented on #1025
I would like to give it a try!

[2021-04-01 19:50] sfllaw commented on #1657
This reminds me of `go get golang.org/dl/go1.xx.x`, which is how you can install multiple versions of Go: https://golang.org/doc/manage-install

[2021-04-01 20:17] HirdrWit opened #1884 "Dependency exportloopref Panic"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [x] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Dependency exportloopref

[2021-04-01 21:25] ldez commented on #1884
Hello,

could you try with the 2 latest releases (v1.38.0 and v1.39.0)?
could you also provide a minimal reproducible example?
Have to try with [exportloopref](https://github.com/kyoh86/exportloopref)?

[2021-04-02 02:25] ysmood commented on #1657
Yes, I copied some designs from it.

[2021-04-03 17:36] spinzed opened #1885 "Govet and staticcheck report a warning and an error instead of the problem in code"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [x] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-04-04 08:55] #1885 closed

[2021-04-04 21:14] ldez opened #1888 "Let's discuss about the deprecation of `enable-all`"
**Is your feature request related to a problem? Please describe.**

@jirfag in #803 said:

https://github.com/golangci/golangci-lint/pull/803#issuecomment-540663265

but there was no discussion, the PR was just merged.

**Describe the solution you'd like**

I would like to open a constructive debate about this deprecation.

**Describe alternatives you've considered**

Removes the deprecation of `e

[2021-04-04 21:15] ldez commented on #1686
I would like to (re)open the debate about the deprecation of `enable-all` so I opened #1888.

So please describe your use-cases in this new issue.

[2021-04-04 21:23] frederikhors commented on #1888
I agree with you and I opened https://github.com/golangci/golangci-lint/discussions/1887 because I don't know how to auto-update (not manually, error-prone) new linters in my config.

[2021-04-04 21:24] ldez commented on #1888
I think that the deprecation was related to Golangci-lint service and CI.

Now, Golangci-lint service is down.

The main problem of `enable-all` is for people that use `latest` in their CI because locally I think there is no real problem.

IMO the real bad practice is to use `latest` in a CI, I think most of us know this sentence: _friends don't let friends use `latest`_.

[2021-04-04 21:41] ldez commented on #1888
Also the linters them-self evolve and can either introduce new rules or update their rules.
Then even if you enable only some linters you still have a possibility to break your CI.
`enable-all` is just a specific case of this problem.

So IMO, the solution is still the same: don't use `latest` in a CI and use an explicit version of the tools that run in a CI.

[2021-04-04 21:51] ldez commented on #1888
From what I can see in #803, #1686, and this issue, nobody seems to want the removal of `enable-all`.

Maybe I am missing some use-cases, so please express your voice if you have a use-case that can justify this removal.

We will wait, for the moment I don't know how long, but we will take the time for the debate.

[2021-04-04 21:57] frederikhors commented on #1888
In my day to day work I need something warns me about mistakes. If I upgrade it I trust that something has changed for the better and that more mistakes of mine can be detected.

If I know that I don't care about some linter I can comment out it in my config.yml.

Am I wrong in thinking like this?

[2021-04-05 02:23] butuzov commented on #1888
Oh... please not. I can't dedicate much time to development (in last two months at least), and having `enable-all`  is saving me time to check what's are new linters and their settings once the new version released, and not tracking each merged pr or setting in code.

[2021-04-05 06:07] sanposhiho opened #1892 "golint will be deprecated"
Sorry if this issue is duplicated

golint is(will be) deprecated.

https://github.com/golang/go/issues/38968

**Describe the solution you'd like**

deprecate golint like `interfacer`.
https://github.com/golangci/golangci-lint/pull/1755

[2021-04-05 07:01] x65rdu opened #1893 "Cannot install on Windows 10 by install.sh"
- [ ] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [ ] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-04-05 09:46] ldez commented on #1888
@butuzov `enable-all` is deprecated since 2019 -> #803

This issue is to discuss and maybe remove this deprecation.

[2021-04-05 14:15] moninCX opened #1897 "golangci-lint: command not found"
Hello!
I am trying to install golangci-lint and it installs fine. But when I try to use it, I get a message like this:
golangci-lint: command not found
I tried all the options from https://golangci-lint.run/usage/install/ but nothing works.

What did I miss?

[2021-04-05 14:16] #1897 closed

[2021-04-05 14:45] butuzov commented on #1888
Sorry, i am OK to remove deprecation. Not the other way..

[2021-04-05 18:44] sanposhiho commented on #1892
Can I pick this issue?

[2021-04-05 20:31] ldez commented on #1892
Please don't deprecate golint for now.

We have to think more about it.

[2021-04-05 20:41] ldez commented on #1892
The proposal [has been accepted](https://github.com/golang/go/issues/38968#issuecomment-638331245) but no action has been taken on this subject, at least there is nothing on the [golint repository](https://github.com/golang/lint).

I think it can be a good idea before the deprecation to wait for the actions of the Go team.

[2021-04-06 00:47] sanposhiho commented on #1892
okey 👍

[2021-04-06 14:27] pierrre opened #1900 ""exhaustive" linter breaks staticcheck"
- [x] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [x] Yes, I've searched similar issues on GitHub and didn't find any.
- [x] Yes, I've included all information below (version, config, etc).
- [ ] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

<details><summary>Description of the probl

[2021-04-06 14:50] bombsimon commented on #1900
Why did you remove the issue template? The template has sections where you're supposed to provide code (or link to code) to reproduce this behavior. It also has a section where you're supposed to add the output from when you run `golangci-lint`, your version of Go, what configuration you're using etc. Without those it's really hard to troubleshoot and help you.

Could you please pull [the template