[2022-08-12 18:45] ldez commented on #3096
I'm working on it #3089

[2022-08-12 18:45] #3096 closed

[2022-08-13 18:00] Antonboom commented on #826
+1

[code]

[code]

[2022-08-13 18:42] ldez commented on #826
`structcheck` != `unused`

unused is a part of staticcheck https://github.com/dominikh/go-tools/tree/master/unused

[2022-08-14 12:05] amass01 opened #3098 "v1.48: `nolint` default config conlicts with `go fmt`"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-14 12:38] ldez commented on #3098
Hello,

Due to a change of `go fmt` inside go1.19.
We have to enforce the directive style.

So the option `allow-leading-space` has been dropped.

The syntax of directives is: `[a-zA-Z]+:[a-zA-Z].*`.
The spaces around `:` and after the `//` must be removed.

If you do that your IDE (ex: goland) will format the directive as a directive and it will not add extra space.

Related to:
https://github.co

[2022-08-14 12:38] #3098 closed

[2022-08-15 10:50] amass01 commented on #3098
Noted, thank you

[2022-08-15 19:01] yabanci commented on #1841
Do we have any updates on this? Seems like folks are keeping `unused` and removing others in their configuration files. I just did a basic check in a repo and `unused` was able to find an unused struct field similar to `structcheck`. I would like to remove `structcheck` from our codebases due to it not being compatible with generics https://github.com/golangci/golangci-lint/issues/2649

[2022-08-15 20:07] #287 closed

[2022-08-15 21:09] ldez commented on #2234
close by #2913

[2022-08-15 21:09] #2234 closed

[2022-08-15 21:13] ldez commented on #1792
I fixed the flaky

[2022-08-15 21:13] #1792 closed

[2022-08-15 21:21] ldez commented on #1027
The problem is fixed: the maintenance of golangci-lint is now stable.

[2022-08-15 21:21] #1027 closed

[2022-08-15 22:26] michaelbeaumont commented on #2997
We're still seeing this [issue on `1.48.0`](https://app.circleci.com/pipelines/github/kumahq/kuma/15977/workflows/fc3907ce-12a9-4b59-8709-19ab22e5bdc6/jobs/207051) but [not on `1.47.0` (job failure comes after golangci-lint](https://app.circleci.com/pipelines/github/kumahq/kuma/15978/workflows/9c07b1bd-8b9e-46c9-b590-b4d0fa5ec908/jobs/207057)

[2022-08-15 23:16] ldez commented on #2997
yes because the fix is not in a release for now.

[2022-08-15 23:42] michaelbeaumont commented on #2997
I see, I was under the impression the revive check disabling fixed the issue. Got it, thanks!

[2022-08-16 06:14] barrettj12 opened #3101 "golangci-lint says "File is not `gofmt`-ed", but `gofmt` thinks it's fine"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-16 06:22] barrettj12 commented on #3101
Another peculiarity is that I can only reproduce this on the GitHub Actions runners, not on my local machine.

[2022-08-16 06:46] bombsimon commented on #3101
This is because of a change in Go 1.19 how `gofmt` format comments: https://go.dev/doc/comment

You're running Go 1.18 locally but GitHub Actions is running Go 1.19. The issue is reproducible with Go 1.19 locally as well.

[2022-08-16 06:55] #3101 closed

[2022-08-16 13:49] robel-yemane opened #3103 "docs: missing image version for the Docker installation"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-16 15:51] killianmuldoon commented on #2997
Thanks again for fixing this @ldez. Is there any guideline on how long we might be waiting for a release? We're trying to decide whether to update to 1.48.0 or straight to 1.48.1

[2022-08-16 15:54] ldez commented on #2997
As we have already merged non-fix PRs, we will not release a v1.48.1.
The next release will be v1.49.0, so you will have to wait a bit.

[2022-08-16 16:23] killianmuldoon commented on #2997
Thanks! I think we'll update to 1.48.1 for now, and pick up 1.49.0 as soon as it's released.

[2022-08-17 06:34] Antonboom commented on #826
@ldez

Thanks!
https://github.com/dominikh/go-tools/issues/1312

[2022-08-17 09:34] sergeyshevch opened #3105 "Another docker registry support"
### Your feature request related to a problem? Please describe.

I guess it will be good to support other docker registries than dockerhub. Dockerhub is limited on pulls and it can cause problems in some high load environments where images can be pulled more than Dockerhub limits.

### Describe the solution you'd like.

We can use quay.io/gallery.ecr.aws/google container registry for it

### Descr

[2022-08-17 10:36] shakibamoshiri commented on #2374
The same with docker build, inside the image it does not work

[code]

but is okay with
[code]

[2022-08-17 11:33] ldez commented on #2374
can you try to set explicitly the GOROOT?

[2022-08-17 11:48] shakibamoshiri commented on #2374
you can test it with this docker file

### first
[code]
### second
[code]

### third - result for me
[code]

[2022-08-17 12:15] ldez commented on #2374
can you add this `GOROOT="/usr/local/go"` explicitly in you Dockerfile?

(I already tried)

[2022-08-17 17:25] ldez opened #3107 "go-critic/ruleguard: load embedded ruleguard rules: rules/rules.go:13: can't load fmt"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-17 17:30] ldez commented on #2673
closed in favor of #3107

[2022-08-17 17:30] #2673 closed

[2022-08-17 17:30] ldez commented on #2374
closed in favor of #3107

[2022-08-17 17:30] #2374 closed

[2022-08-18 01:02] ldemailly opened #3109 "nollint rule should be written without leading space as //nolint conflicts with gofmt"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-18 01:12] ldez commented on #3109
Hello,

Due to a change of `go fmt` inside go1.19.
We have to enforce the directive style.

So the option `allow-leading-space` has been dropped.

The syntax of directives is: `[a-zA-Z]+:[a-zA-Z].*`.
The spaces around `:` and after the `//` must be removed.

If you do that your IDE or go fmt will format the directive as a directive and it will not add extra space.

Related to:
https://github.com/g

[2022-08-18 01:12] #3109 closed

[2022-08-18 01:28] ldemailly commented on #3109
Thanks and sorry for the dup. Just to clarify for others:

Search and replace
`// nolint: ` with `//nolint:`

The conflict issue I had was keeping the space after nolint: (which isn't super obvious from your reply)

[2022-08-18 01:33] ldemailly commented on #3109
also it's a bit of an ugly rule because
[code]
is fine/accepted why is that space ok

[2022-08-18 05:21] Pranc1ngPegasus opened #3110 "conflict results between gofmt and nolintlint"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-18 07:52] bombsimon commented on #3110
Hello,

Due to a change of `go fmt` inside go1.19.
We have to enforce the directive style.

So the option `allow-leading-space` has been dropped.

The syntax of directives is: `[a-zA-Z]+:[a-zA-Z].*`.
The spaces around `:` and after the `//` must be removed.

[code]

If you do that your IDE or go fmt will format the directive as a directive and it will not add extra space.

Related to:
https://gith

[2022-08-18 07:52] #3110 closed

[2022-08-18 07:57] Pranc1ngPegasus commented on #3110
Thank you @bombsimon !

[2022-08-18 13:07] hbollon opened #3111 "revive: rules's severity config has no effect"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-19 10:41] sig-saraf opened #3112 "Go linter running error"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-19 11:33] bombsimon commented on #3112
The IntelliJ plugin [Go Linter](https://plugins.jetbrains.com/plugin/12496-go-linter) is not maintained by the `golangci` organisation, the repository is found here: https://github.com/xxpxxxxp/intellij-plugin-golangci-lint. Since `golangci-lint` seems to work from the command line I think you'll have more luck filing an issue in the [intellij-plugin-golangci-lint](https://github.com/xxpxxxxp/inte

[2022-08-19 11:52] sig-saraf commented on #3112
My bad, not sure how I reached her :) But, thanks a lot for the quick support. Feel free to close this.

[2022-08-19 11:58] #3112 closed

[2022-08-20 08:02] jerome-laforge opened #3116 "depguard linter emits alert"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-20 14:44] ldez commented on #3116
Hello,

I am not able to reproduce your problem.

<details>
<summary>.golangci.yml</summary>

[code]

</details>

<details>
<summary>code</summary>

[code]

</details>

<details>
<summary>run</summary>

[code]

</details>

[2022-08-20 15:53] jerome-laforge commented on #3116
I am not also able to reproduce my problem with your example.
I try to find an minimal problematic example that I can give it here but I didn't find it until now...

I copy the verbose result with `-v` (I just mask the sensible stuffs by `xxx`) below if it can help (but I didn't found a clue into verbose result)

[code]

[2022-08-20 15:55] jerome-laforge commented on #3116
FYI, I produce this problem on my personal dev computer and also on our gitlab ci

[2022-08-20 15:56] ldez commented on #3116
I need something to reproduce it.

have you tried `golangci-lint cache clean`?

[2022-08-20 16:08] jerome-laforge commented on #3116
Is it equivalent to delete the `$GOLANGCI_LINT_CACHE` directory?

[2022-08-20 16:09] ldez commented on #3116
yes it's equivalent

[2022-08-20 16:39] jerome-laforge commented on #3116
In this case, I test it

Unfortunately not. But the difference with the initial provided configuration file is:
- skip-dirs (generated code  that doesn't match linters requirments)
- skip-files on one file that doesn't also match linters requirments
- exclude pattern

I have once. I also tested with
[code]

By the way, If I multiple golangci-lint configuration files, I did have the same behavior w

[2022-08-20 16:50] ldez commented on #3116
I'm confused you talk about `v1.38`, `v1.37`, `v1.48`, it's not clear.

There no change around depguard since a long time https://github.com/OpenPeeDeeP/depguard

[2022-08-20 16:53] ldez commented on #3116
did you have a `.depguard.json` file?

[2022-08-20 16:53] #1222 closed

[2022-08-20 17:14] jerome-laforge commented on #3116
sorry for the typo, I am talking about `v1.47`

No, I didn't

I will try to debug on my side, If you have a clue, don't hesitate to give me.
And If I won't find the root cause or example as workaround, I will disable depguard linter.

[2022-08-20 18:04] ldez commented on #3103
hello,

the problem is fixed, it was just a bug during the generation of the doc.

[2022-08-20 18:04] #3103 closed

[2022-08-21 00:33] ldez commented on #3116
Maybe it's related to https://github.com/OpenPeeDeeP/depguard/issues/24

[2022-08-21 06:46] jerome-laforge commented on #3116
I remember back that I have already this error sometime with previous error (and it disappears if after clearing cache or restarting computer, I don't remember exactly).
Initially, I think that error was related with latest version of golanglint-ci but I have also upgraded to Go 1.19 and this error becomes more prevalent.
So from my point of view, it is related to OpenPeeDeeP/depguard#25

[2022-08-21 18:13] kaustav-mondal commented on #1454
Hello, I was looking for good first issue, shall I take this up?

[2022-08-21 19:37] #1841 closed

[2022-08-21 19:37] #826 closed

[2022-08-21 19:37] #1517 closed

[2022-08-22 15:37] biggianteye commented on #3107
Is this a typo? The latest version at the time of writing this is [v1.48.0](https://github.com/golangci/golangci-lint/releases/tag/v1.48.0).

[2022-08-22 15:45] ldez commented on #3107
no, I'm talking about the next version (v1.49.0). I didn't use the future tense just to be descriptive.

[2022-08-22 16:03] biggianteye commented on #3107
Ah, I see. Now that I look more closely I can see that your changes are in `master`, ready for the next version. Makes sense now. Thanks.

[2022-08-23 18:53] fritzkeyzer commented on #2654
After publishing some projects i had the same issues.
I had to update my test command.

From this:
`go test ./...`

To this:
`go test github.com/fritzkeyzer/go-utils/...`

[2022-08-24 10:14] sylvia7788 opened #3129 "bodyclose"

[2022-08-24 10:14] #3129 closed

[2022-08-24 10:33] cristaloleg commented on #3107
I see `v0.6.1` in your log but AFAIR `v0.6.4` fixed everything (https://github.com/go-critic/go-critic/releases/tag/v0.6.4) isn't it?

[2022-08-24 10:52] ldez commented on #3107
The logs are related to golangci-lint before v1.49.0.

[2022-08-24 11:42] BorzdeG commented on #3087
@ldez But the date can be shown without a timezone

[2022-08-24 11:44] ldez commented on #3087
The specification seems clear with the timezone is not optional.

[2022-08-24 14:38] #1398 closed

[2022-08-24 14:54] flimzy opened #3131 "ssa: blank label causes a crash"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-24 14:59] ldez commented on #3131
Hello,

Seems to be problem with staticcheck.

[code]

ping @dominikh

[2022-08-24 15:17] kcmvp opened #3132 "statistics report/configuration option for //nolint directive"
### Your feature request related to a problem? Please describe.

it's not related to a problem

### Describe the solution you'd like.

As far as we know we can use //nolint directive to bypass linter check.
but I found this directive is abused in our team.

in follow two cases
1: on file level
[code]

2: on block level

[code]

my questions are(feature request) are:

1. Is there anyway to disable

[2022-08-24 15:34] jerome-laforge opened #3133 "disable linter when deprecated"
### Your feature request related to a problem? Please describe.

With v1.49, there is lot of linters that are tagged as deprecated.
Is it possible in golangci-lint config to disable deprecated linter?

For example:
[code]

### Describe the solution you'd like.

add a way into config in order to disable deprecated linters.

### Describe alternatives you've considered.

disable manually into `linter

[2022-08-24 15:39] #3133 closed

[2022-08-24 15:41] ldez commented on #3132
related to https://github.com/golangci/golangci-lint/discussions/3015

[2022-08-24 15:43] dominikh commented on #3131
TIL. FWIW, the same bug is present in go/ssa, not just my fork.

[2022-08-24 15:55] BorzdeG commented on #3087
Running tests on macOS gives the same error:

[code]

	With your permission, I'll dig further with this issue

[2022-08-24 16:00] dominikh commented on #3131
https://github.com/dominikh/go-tools/commit/0c085726a43c410cac20e948d19b3c63b8c9b379 fixes it in Staticcheck. The fix for go/ssa should look very similar, if not identical.

[2022-08-24 16:04] ldez commented on #3087
The problem comes from the `diff` output.

Our CI runs a job on macOS/darwin.

`go-diff` has a pattern that follows GNU diff.

[2022-08-24 16:27] flimzy opened #3135 "gofumpt: apparent false positive for certain comments"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-24 16:31] kcmvp commented on #3132
@ldez disable is not I want. can we add statistics data in the final report? (numbeer of //nolint)

[2022-08-24 16:32] kcmvp commented on #3132
so in this way we can monitor the total number of ignores by categroy: package, block, line

[2022-08-24 16:43] andig commented on #3107
@ldez I had expected this to be resolved in v1.49.0 due to upgrade of go-critic, but it seems it isn't:

[code]

[2022-08-24 16:47] ldez commented on #3107
v1.49.0 uses go-critic@v0.6.4, so you are using a mysterious v1.49.0

[2022-08-24 16:50] andig commented on #3107
Fixed for me, sorry for the confusion! Had a stray v1.48.0 in the path.

[2022-08-24 16:50] ldez commented on #3132
You can use something like that: `grep -rE '// ?nolint' | wc -l`

[2022-08-24 16:52] ldez commented on #3135
Hello,

it's related to a change in Go1.19 about comment format https://tip.golang.org/doc/go1.19#go-doc

[2022-08-24 16:54] kcmvp commented on #3132
as I want to use those data in my CI process, so it's better to implement in the library.

[2022-08-24 16:56] ldez commented on #3132
You can use bash in your CI.

[2022-08-24 16:58] ldez commented on #3132
I haven't closed the issue, we will see if there is some traction on it.

For now, using bash is the best solution for you.

[2022-08-24 17:00] flimzy commented on #3135
Oh, I should have checked that. Thanks. If that means this should be closed, that's fine.

[2022-08-24 17:01] #3135 closed

[2022-08-24 17:02] kcmvp commented on #3132
Thank you very much!
this tools aims to improve source code quality, I simply think those data is one of the  indexes.

[2022-08-24 17:09] pierrre opened #3136 "go-critic/ruleguard: unreachable"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-24 17:10] ldez commented on #3136
Do you have the output of go-critic as a binary?

[2022-08-24 17:15] pierrre commented on #3136
Here it is:
[code]

[2022-08-24 17:16] pierrre commented on #3136
So it's a go-critic issue ? :smile:

[2022-08-24 17:16] ldez commented on #3136
yes :smile_cat:

[2022-08-24 17:17] pierrre commented on #3136
So it's https://github.com/go-critic/go-critic/issues/1219

[2022-08-24 17:17] pierrre commented on #3136
Sorry, my bad, I thought go-critic was fully functional with generics :disappointed:

[2022-08-24 20:04] pierrre commented on #3136
Sharing some updates https://github.com/go-critic/go-critic/issues/1253

[2022-08-24 20:10] #1382 closed

[2022-08-24 20:30] J4cku commented on #3087
Any idea how to install different diff?

[2022-08-24 22:24] shepherdjerred commented on #3087
`brew install diffutils` worked for me.

[2022-08-25 08:36] pierrre commented on #3136
For now my quick fix is to disable the `externalErrorReassign` rule in go-critic config.

[2022-08-25 08:44] jabielecki opened #3138 "make `decorder` usable"
### Your feature request related to a problem? Please describe.

Currently, when a user adds the [`decorder`](https://gitlab.com/bosi/decorder) linter the [default](https://github.com/golangci/golangci-lint/blob/58809c3bf5d4e94500f7880978b6eb5e204f0f96/pkg/config/linters_settings.go#L15-L17) configuration makes the linter silently ignore all its findings.

Consider cognitive load. For a vaguely in

[2022-08-25 09:28] ldez commented on #3138
Hello,

Yes, it's the expected behavior.

https://github.com/golangci/golangci-lint/pull/2453#issuecomment-1005025914

A lot of users use `enable-all` option, so there is an impact.

[2022-08-25 09:28] #3138 closed

[2022-08-25 14:48] jabielecki commented on #3138
Sorry, no. As is it's unexpected behavior. I would expect that an (arguably very very opinionated) linter requires 2 mental hops:
  - to find a relevant linter in the list
  - to enable that linter and deal with the findings

It is unexpected and frustrating that in fact obtaining any findings requires two more mental hops:
  - learning about per-linter configs
  - configuring this specific linter

[2022-08-25 14:51] ldez commented on #3138
Sorry, but it's the behavior that I expect for this opinionated linter.

We can change a linter configuration without creating a v2.

[2022-08-26 06:37] gane5hvarma opened #3141 "golangci-lint producing different output in different machines"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-26 08:09] ldez commented on #3141
Hello,

can you provide the different outputs?

[2022-08-26 10:40] gane5hvarma commented on #3141
@ldez The above output is from github actions. The below output is from my local machine
[code]
I'm happy to get on a call and show you the issue live as well

[2022-08-26 10:54] ldez commented on #3141
This will never happen, I'm not free personal support.

---

`deadcode` is deprecated and these other problems are related to a change from go1.19.

[2022-08-26 11:09] Southclaws opened #3143 "New linter: punused for finding exported but unused symbols"
### Your feature request related to a problem? Please describe.

https://github.com/bep/punused

Sometimes, non-Go engineers or inexperienced Go engineers inadvertently export symbols by accident simply by naming them with uppercase. The unused/deadcode linters don't capture this as an exported symbol is considered part of the public API and thus not considered "unused".

But in applications (not

[2022-08-26 11:10] bombsimon commented on #3141
Go 1.19 issue and gofmt relates to #3110, #3109, #3101, #3069, #3098, #3109, #3063.

[2022-08-26 11:15] ldez commented on #3143
Hello,

https://github.com/bep/punused#readme

https://github.com/dominikh/go-tools is staticcheck, staticcheck (unused) is already inside golangci-lint.

[2022-08-26 11:15] #3143 closed

[2022-08-26 11:15] bombsimon commented on #3143
`punused` does not use [`go/analysis`](https://pkg.go.dev/golang.org/x/tools/go/analysis) which is a requirement ([docs](https://golangci-lint.run/contributing/new-linters/)).

[2022-08-26 11:20] ldez commented on #3143
@bombsimon is right.

It's expected to didn't find this kind of tool because it will produce a ton of false positives.

I can see a use case for some applications but in the majority of cases, unused exported functions are expected.

[2022-08-26 11:48] Southclaws commented on #3143
In a library, yes but in an application, no it's still considered dead code if it's unused.

I'll continue using the command line tool for now and see if I can make it use the go/analysis library.

[2022-08-26 19:27] MichaelUrman opened #3145 "reassign issues false positives with shadowed names"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-08-26 19:40] ldez commented on #3145
Hello,

it's an issue with [reassign] so you have to open an issue [here](https://github.com/curioswitch/go-reassign/issues)

[2022-08-26 19:41] #3145 closed

[2022-08-26 20:36] MichaelUrman commented on #3145
Thanks. I thought you'd want to know of the false positive, given the requirements on new linters. I'll follow up there.

[2022-08-26 21:43] jabielecki commented on #3138
I'm not saying it's unexpected to the maintainer. I'm saying it's unexpected to a user.

As a user, I install a meta-linter. I take a look at a list of *disabled* linters. Say a line catches my eye:

[code]

Now I enable this linter. I expect it to **check declaration order**. It's not out of this earth, it literally promises me that, right there. As of now, it does absolutely nothing.

[2022-08-28 06:13] WGrape commented on #825
The main reason is that your code failed to compile, maybe you forget to run ```godep save``` or ```go mod download``` in a new container.

I also got this problem with the output when running ```golangci-lint run --timeout=5m``` in gitlab-ci:

[code]

When i add the command ```go build``` before ```golangci-lint run --timeout=5m```，and i got this new output :

[code]

So, i realized that i need d

[2022-08-28 11:42] ldez commented on #3138
I just want to explain a bit more why, for me, this linter is way too much opinionated and in some way wrong.
And so this explains why I choose to disable all the options by default.

---

Case 1: Methods and types

[code]

<details>
<summary>Before</summary>

[code]

[code]

</details>

<details>
<summary>After</summary>

[code]

</details>

Splitting Struct types and methods is not a good practi

[2022-08-28 12:00] tbrisker commented on #576
For anyone still running into this issue: Looks like upgrading golangci-lint to v1.48.0 resolves this.

[2022-08-28 12:46] maratori commented on #3084
At first glance it's a good idea.
But if I would like to create an example without `output`, I can't use `//nolint` and will have to use `exclude-rules` in `.golangci.yml`.
That's because `//nolint` comment will be added to godoc.
[code]
![image](https://user-images.githubusercontent.com/16486128/187074755-e76aa4eb-558a-49ae-8d4c-41d752f07b2b.png)

[2022-08-28 13:55] ldez commented on #3084
@maratori you must write nolint with the directive syntax.

The comment syntax is now deprecated.

valid:
[code]

invalid:
[code]

[2022-08-28 13:56] #3141 closed

[2022-08-28 15:52] quasilyte commented on #3136
I think go-critic works better with generics than go-ruleguard.
go-critic is a set of simple linters that were quite easy to fix to make generics stop breaking the linter.

go-ruleguard uses a lot of dark magic and its relationship with the underlying `go/*` package is much closer.
So it requires efforts to make everything work again.
I was actually impressed that it was possible to make the ruleg

[2022-08-28 17:39] maratori commented on #3084
@ldez you are right. Directives are excluded form godoc.
The only exception if it's placed on the same line.
[code]
![image](https://user-images.githubusercontent.com/16486128/187087366-e31920bd-b95f-475a-b110-3cc89b8d259f.png)

Ok, then I'll create a linter.

[2022-08-28 18:19] #2708 closed

[2022-08-29 00:12] ldez commented on #3136
Fixes by #3150

[2022-08-29 00:12] #3136 closed

[2022-08-29 17:32] tamj0rd2 commented on #2711
Where did you read this? I can't find anything about it. Where does this setting need to be added?

[2022-08-29 17:44] adrianlungu commented on #2711
@tamj0rd2 https://golangci-lint.run/usage/linters/#gofumpt

[2022-08-29 18:27] #2711 closed

[2022-08-29 18:30] ldez commented on #2711
`lang-version:` is now handled globally by `run.go:`

https://golangci-lint.run/usage/configuration/#run-configuration

[2022-08-30 10:37] ansidev commented on #825
Bxxxbxeb.cxccbbxxc.ce.x.xbxxcbbbxbxxe.cccxe.bcde.xxe.becb.Becberin ec.ếch. ngồi xbec.Xbox ec.ẽ.hi ẽ.Xbox. xcec.e.xbx.ec.bcyxcec.bxcxex.ec.ceb.xẽ.b.xbbcxbxxcec.cbcbecb.hi ẽ.be.bxbxbxexec.bẽ.bẽb

[2022-08-30 16:11] psydvl commented on #3107
`go-critic` issue closed 2 days ago https://github.com/go-critic/go-critic/issues/1253
[v0.6.5](https://github.com/go-critic/go-critic/releases/tag/v0.6.5) released 2 days ago

[2022-08-30 17:15] shepherdjerred commented on #3061
I ran into this issue -- is there any way to get around it? I need to run linting against multiple OS (linux, darwin, and windows) because of build constraints.

[2022-08-30 17:25] rockorager commented on #3061
@shepherdjerred The issue mpldr and myself ran into was that we had a dependency (unexpectedly) wasn't there in some distros. Our solution was to ensure we had the dependency in our linting environments.

The actual error shown by golangci-lint was just the *first* encountered type-switch statement in the codebase.

I'd start by double checking that every dependency is there in your linting enviro

[2022-08-30 17:58] shepherdjerred commented on #3061
Thanks for the tip! I'm running the same environment for all three targets, the only change is what I set GOOS to. Linux passes fine, but windows and darwin fail.

On second thought I suspect it's because I'm setting GOOS with CGO. I don't think that's supported.

[2022-08-31 11:09] Trim21 opened #3171 "gofmt: support rewrite rule"
### Your feature request related to a problem? Please describe.

now gofmt lint only support simplify, and `gofmt` support rewrite rule, proposal adding rewrite support to golangci's gofmt.

we can use it with `-r 'interface{} -> any'`

### Describe the solution you'd like.

add a `RunRewrite` in golangci/gofmt

add a `[]string` options to gofmt, and apply a set of replace rules on file.

### Desc

[2022-09-01 10:46] adamroyjones opened #3175 "The gofumpt linting rule implicitly assumes that Go 1.19 is being used"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-01 11:11] adamroyjones commented on #3175
I should also add that this appears to be sensitive to the version of Go used when building golangci-lint.

- If I build v1.49.0 from source using 1.19, then the gofumpt linting rule is triggered with the file above.
- If I build v1.49.0 from source using 1.18, then the gofumpt linting rule is _not_ triggered with the file above.

I'll see if I can fix the problem and raise a pull request; your pr

[2022-09-01 11:39] adamroyjones commented on #3175
The issue looks to be that `gofumpt` doesn't handle its `lang` flag in the way I'd expect; in particular, with the main.go file listed above, the following behave identically:

[code]

I don't think there's anything golangci-lint can do about this. I'll close the issue and move things over to the gofumpt repository. Sorry for wasting your time!

[2022-09-01 11:39] #3175 closed

[2022-09-01 12:25] #3171 closed

[2022-09-01 13:40] kutlueren opened #3176 "embedding interface element requires go1.18 or later (-lang was set to go1.16; check go.mod)"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-01 14:00] ldez commented on #3176
Hello,

can you feel the required sections of the issue description?

[2022-09-01 18:07] adamroyjones commented on #3175
I've now finished my digging around.

The underlying issue is that the behaviour of `gofumpt` depends on the version of Go used to build it. (The `lang` flag cannot be used to fully "impersonate" an alternative version of Go.) This leads to a slight incompatibility between the most recent version of golangci-lint (v1.49.0) and Go 1.18, as golangci-lint v1.49.0 was built with Go 1.19. It therefore

[2022-09-02 07:22] bombsimon commented on #3175
Thanks for your digging and summary, I'm sure it will help others! For people ending up here by searching, this relates to a few other issues: #3141, #3110, #3109, #3101, #3069, #3098, #3109, #3063.

[2022-09-02 08:13] kavu commented on #1981
@ldez @butuzov Hi guys! Any news on this? Maybe you can give a tip on how it should be implemented properly, so I can contribute?

[2022-09-02 10:31] anoymouscoder commented on #2189
Hi, @shubham1172 I am wondering if you are still working on this? If not, I'd like to complete this issue XD

[2022-09-02 10:42] shubham1172 commented on #2189
Hello @anoymouscoder, you can take it up!

[2022-09-02 10:43] anoymouscoder commented on #2189
/assign

[2022-09-02 10:46] anoymouscoder commented on #2189
@SVilgelm Because this issue has been raised for a long time, I would like to reconfirm whether there are existent or similar linters

[2022-09-02 15:49] Integralist opened #3185 "undeclared name: false positive (typecheck)"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-02 15:52] ldez commented on #3185
Hello,

`typecheck` is not a real linter it's just a way to parse/display "compilation" and linters errors (linter reports are not errors).

[2022-09-02 15:57] ldez commented on #3185
The logs seem not related to the title and the description of the issue.

In the log, there is a panic from `revive`.

[2022-09-02 16:07] ldez commented on #3185
The revive panic comes because `add-constant` configuration is invalid:
- https://golangci-lint.run/usage/linters/#revive

I think that the typecheck issues are related to a problem with `//go:embed config.toml`, you have to run your target `make config`.

[2022-09-02 16:07] #3185 closed

[2022-09-02 16:08] Integralist commented on #3185
Even if I remove revive, and re-run to see various messages from `errcheck` binary from within my editor (Neovim configured with the below) it will still report the `undeclared name: `NewLanguages` typecheck [150, 15]` warning which is actually quite distracting.

**NOTE**: After re-running `golangci-lint run -v` and seeing it not panic due to revive, I then put back my revive config into the `~/.

[2022-09-02 16:18] ldez commented on #3185
I'm sure of the root cause of the panic, because I'm able to reproduce it with you configuration.

I don't know how neovim work, but if you are running golangci-lint to only one file it will not work because the code must compile to be analyzed.

[2022-09-02 16:24] ldez commented on #3185
I recommend using v1.49.0 (support go1.19) instead of v1.48.0

[2022-09-02 18:36] Integralist commented on #3185
Thanks I'll be sure to update versions.

re:

I'm using the Neovim plugin https://github.com/mfussenegger/nvim-lint the configuration I'm using (shown earlier) looks to be passing the file name to golangci-lint.

So maybe that's why the typecheck linter is failing to pick up references across files (even if they're part of the same package).

The revive tool has a similar issue with it not working

[2022-09-02 20:56] xerebz commented on #1841
Why deprecate varcheck if it detects unused const while `unused` doesn't?

[2022-09-02 23:15] pierrre commented on #1841
I'm sorry, but this is incorrect.
Try this code:
[code]

[code]

`unused` does detect unused constants.

I'm using golangci-lint v1.49.0

[2022-09-02 23:37] ldez commented on #1841
`varcheck` and `structcheck` have not changed for 3 years. https://github.com/opennota/check / https://gitlab.com/opennota/check
They are based on an API deprecated for 3 years.

So the project is abandoned.

[2022-09-03 19:03] #3116 closed

[2022-09-05 03:08] lookfirst opened #3191 "rebuild the documentation (please)"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-05 06:23] bombsimon commented on #3191
The docs are rebuilt on every new release with [this GitHub action](https://github.com/golangci/golangci-lint/actions/workflows/post-release.yml). As you can see last time this happened was 12 days ago when we released v1.49.0. I don't know when you took this screenshot but if recent it might be some caching issues, this is what it looks like for me:

![image](https://user-images.githubusercontent

[2022-09-05 06:23] #3191 closed

[2022-09-05 06:23] anoymouscoder commented on #2189
@ldez Could you help confirm this?

[2022-09-05 06:37] bombsimon commented on #2189
By looking at [the list of linters](https://golangci-lint.run/usage/linters/) a linter that seems related is [gosec](https://github.com/securego/gosec) but no full overlap.

I noticed that GoKart seems somewhat abandoned. Last commit was 26 January 2022 (7+ months ago) and there are issues and PRs back from September 2021 that has got no attention from any maintainer. This is not a great sign sinc

[2022-09-05 08:06] outcatcher opened #3193 "interfacebloat: configuration not applied"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-05 08:48] anoymouscoder commented on #2189
@bombsimon  Thanks for your reply, I got it. So do we need to close this issue or keep watching the gokart project?

[2022-09-05 08:59] Integralist commented on #3185
Interesting.

`go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest` does nothing 🤔 it seems like it doesn't see that there is a 1.49.0 release?

[2022-09-05 09:17] ldez commented on #3185
I don't recommend using `latest`, because `latest` is a moving reference.

[code]

[2022-09-05 09:56] anoymouscoder commented on #2465
Hi @ldez , I would like to work on this if the issue is still valid

[2022-09-05 10:11] ldez commented on #2465
The linter uses SSA, after the go1.18/generics story, I'm not sure about its use.
This linter seems close to [gosec](https://github.com/securego/gosec).

[2022-09-05 10:27] #3193 closed

[2022-09-05 18:09] lookfirst commented on #3191
@bombsimon Sorry about that, looks like it was a caching issue!

[2022-09-05 20:58] vahid-sohrabloo commented on #2649
@ldez
there is still a problem with generic in `go-critic`. I've tested with standalone go-critic and it worked. I don't know why it doesn't work in golangci-lint,  `noctx` and `unparam` doesn't work as well.
you can test the project to see errors
https://github.com/vahid-sohrabloo/chconn

[2022-09-05 21:01] cristaloleg commented on #2649
@vahid-sohrabloo can you share output and share version of your golangci-lint / go-critic please?

[2022-09-05 21:03] ldez commented on #2649
@vahid-sohrabloo can you open a dedicated issue? thank you

[2022-09-06 09:11] pierrre commented on #2649
I think golangci-lint doesn't use the latest version of go-critic, isn't it ?

[2022-09-06 09:36] ldez commented on #2649
https://github.com/golangci/golangci-lint/blob/v1.49.0/go.mod#L31

https://github.com/golangci/golangci-lint/blob/master/go.mod#L31

[2022-09-06 10:24] torkelrogstad opened #3195 "--path-prefix and --fix causes wrong file to be attempted opened"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-06 15:12] luxifer commented on #3094
Hi,

I think the issue should be re-opened because of https://go.dev/blog/vuln and the [vulncheck](https://go.dev/blog/golang.org/x/vuln/vulncheck) library that's used by the command `govulncheck`. I can work on it

[2022-09-06 18:28] ryancurrah commented on #3094
Looks like they have a API now, I havent looked at it though.

[2022-09-07 14:36] ian-h-chamberlain commented on #1940
My org has seen some issues with false-positive or false-negative that we suspect is due to similar caching issues... Does anyone know if there is already a separate open issue for that (I don't see a link here)?

Meanwhile we've just disabled `nolintlint` but it would be nice to have it working again if we could get deterministic results...

[2022-09-08 03:34] gnattishness opened #3200 "CLI handling of named .go files and directories inconsistent with documentation"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-08 09:40] ldez commented on #3200
Hello,

if fact you cannot mix go files and directories.

The following command works:
[code]

[2022-09-09 02:09] gnattishness commented on #3200
Thanks for your quick response and agreed, I think that's the easiest way to fix the misunderstandings.

Anything extra can count as a feature request.
I'd provide a docs PR myself but I'm not confident in my understanding of how the CLI is intended to work.

e.g. whether linting a standalone .go file is always the same as targeting the whole package and skipping other files:
[code]
[code]

My gue

[2022-09-09 07:26] victorpablosceruelo commented on #1546
Reassigned to an array variable for passing it to a method is reassigned? In that case it is considered that it is re-assigned but not used?
And passing it to a print method is not passing it to a method?

I'm using golangci-lint-1.46.2. Logs:

https://github.com/opendevstack/ods-core/runs/8265055567?check_suite_focus=true
https://github.com/opendevstack/ods-core/pull/1181/files#diff-31ef10ecce270

[2022-09-09 07:57] bombsimon commented on #1546
And passing it to a print method is not passing it to a method?

I realize I should not have listed examples of usage but yes, adding the item to a slice or passing it to a print method is using it.

What's the actual code you have that produces this issue? The links you post seems have reports from `typecheck`. `typecheck` is not a real linter but a way for `golangci-lint` to detect and report co

[2022-09-09 08:17] victorpablosceruelo commented on #1546
Sorry, it was not that and it was my fault.

I did:

[code]

And golang seems to have a different variable reference in the second ' := ' case.
Since it is a different variable, it has not been used in any place.

Sorry, and thanks for trying to help me !!

[2022-09-09 12:47] rekby opened #3201 "nolint directive ignored"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-09 12:57] ldez commented on #3201
Hello,

nolint must be used with the directive syntax: `//nolint:all` (no whitespace, `:` + a value)

[2022-09-09 16:49] uselessdetails opened #3203 "default checking of _test.go files"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-09 18:54] ldez commented on #3203
Hello,

You can use the following configuration:

[code]

[2022-09-09 18:54] #3203 closed

[2022-09-10 13:37] nvuillam commented on #2866
This would make much powerful the [integration of golangci-lint within MegaLinter](https://oxsecurity.github.io/megalinter/latest/descriptors/go_golangci_lint/) :)

[2022-09-11 23:43] Vany opened #3213 "broken all paths in subprojects"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-11 23:50] ldez commented on #3213
Hello,

without a concrete reproducible context, it's impossible to diagnose the problem.

[2022-09-11 23:54] Vany commented on #3213
@ldez
there is very simple context  GO111MODULE=on  +  go.mod in folder

[2022-09-11 23:57] Vany commented on #3213
and sorry, i can't provide the code.

[2022-09-12 00:05] ldez commented on #3213
so no concrete reproducible context.

golangci-lint has mainly the same constraints as Go.
go.mod is required.
you cannot use golangci-lint to check several projects at the same time.
That's all that I say based on your information.

[2022-09-12 09:18] Dentrax commented on #3094
It seems mentioned PR is currently _Draft_, and since they have an API as Ryan mentioned above, we can re-open this one. @ldez Wdyt?

[2022-09-12 09:54] ldez commented on #3094
As vulncheck is based on SSA, I think the integration will not work but I will re-open.

[2022-09-12 10:36] Dentrax commented on #3094
Thanks!

@luxifer Is your PR final? If so, can you please remove draft?

[2022-09-12 10:41] Dentrax commented on #3094
I can help you on that if you add me as collaborator in your fork.

[2022-09-12 19:02] dev-gto opened #3214 "linux golangci-lint v1.49.0, false positive 'unnecessary conversion (unconvert)'"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-12 19:19] ldez commented on #3214
Hello,

It's not a false positive, `txttemplate.FuncMap` is useless in `Funcs(txttemplate.FuncMap(FuncMap)).`

I can compile with and without the cast.

[2022-09-12 19:25] #3214 closed

[2022-09-12 21:51] dnephin commented on #2566
I wrote a custom plugin for `golangci-lint` recently and ran into all the same problems.

I was able to script the module versions using the output of `go version -m` and the `golang.org/x/mod/modfile` package. You can see an example of that [here](https://github.com/infrahq/infra/pull/3201/files).

Unless  the developer has built `golangci-lint` locally, I don't see a way to automatically deal wi

[2022-09-13 11:50] rekby commented on #3201
@ldez
It has same problem with //nolint:all
https://gist.github.com/rekby/3e0f632817ee2d6993eece0738052744

Also for clean experiment I tried it with docker
https://gist.github.com/rekby/537139df82b5e63d4481e2a4e5e2a8c5

[2022-09-13 13:47] ldez commented on #3201
because the directive must placed on the package name (no blank line):

[code]

[2022-09-13 17:43] #3071 closed

[2022-09-13 19:05] gucio321 opened #3216 "error runing some linters on go 1.18"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-13 19:08] gucio321 commented on #3216
well, I've just noticed that it isn't true, but cannot find whats the problemm here
I'm running on a private repository with a standard golang structure (https://github.com/golang-standards/project-layout), not using generics at all if it matters.

[2022-09-14 06:17] ldez commented on #3216
Hello,

a problem with `buildir` is, in most cases, a compilation problem.

Go projects require a go.mod and to run a `go mod tidy`.

Most of the linters inside Golangci-lint require the code to compile.

I'm not able to reproduce your problem locally, except if the project doesn't compile.

Note: a standard Go project structure doesn't exist https://github.com/golang-standards/project-layout/issu

[2022-09-14 06:29] gucio321 commented on #3216
oh, yah, You're right, one of my main.go files had build errors.
It works now, thx.
btw, is it possible to make golangci-lint print another prompt when it detects build error in project? For example, just add "(Please ensure your project has no build errors)"

[2022-09-14 06:34] ldez commented on #3216
It's not really possible because compilation errors can produce unexpected reports.

But I will think if in some cases we improve that.

[2022-09-14 06:34] #3216 closed

[2022-09-14 06:35] gucio321 commented on #3216
okey, thank you!

[2022-09-14 10:18] acabarbaye commented on #3094
Having this tool running as part of the linters will be extremely useful

[2022-09-14 16:25] advancedwebdeveloper opened #3219 "can't use an "easy install" way, on 64bit RISC-V port of Ubuntu"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-14 16:26] advancedwebdeveloper commented on #3219
All the above checkboxes are untrue

[2022-09-14 16:34] ldez commented on #3219
Hello,

you can close this issue https://github.com/client9/shlib/issues/40 because it's not related to shlib.

[2022-09-14 17:26] #3219 closed

[2022-09-14 20:42] mbyio opened #3221 "ability to run linter on unsaved files"
### Your feature request related to a problem? Please describe.

I use neovim and vim-ale to run golangci-lint automatically whenever I save a file.

vim-ale also works with gopls, which does its own linting. But vim-ale is able to use gopls as I type, even if I don't save the actual buffer.

It would be really great if there was a way to run golangci-lint on files that aren't yet saved to the dis

[2022-09-14 21:10] ldez commented on #3221
Hello,

I never try or use it but maybe you are looking for something like that https://github.com/nametake/golangci-lint-langserver

[2022-09-15 06:57] evermile-mitko commented on #463
my 5 cents here: it appeared that the `"--config=${workspaceFolder}/.golangci.yml",` was not working for me and changing it to `"-c", "${workspaceFolder}/.golangci.yml"` did the trick. My user settings in VS code are now:
[code]

[2022-09-15 13:07] liufuyang commented on #3195
Not sure if it is related but we have some tooling that uses `golangci-lint 1.49.0` and sometimes I ended up getting an error output like this. `--path-prefix` was also used in the tooling, and if I remove that the problem goes away.

[code]

[2022-09-15 18:42] mbyio commented on #3221
Yes, unfortunately I think that just wraps golangci-lint so it implements
the LSP protocol, but it still only actually runs golangci-lint when files
are saved. I'm not sure it is possible to write a LSP that responds to
document changes with the current API. Well, not without copying the entire
working directory or something.

On Wed, Sep 14, 2022 at 2:11 PM Ludovic Fernandez ***@***.***>
wrote:

[2022-09-16 13:05] jamietanna opened #3223 "New linter: flag unnecessary calls to `Finish` on `gomock.Controller`s in Go 1.14+"
### Your feature request related to a problem? Please describe.

As highlighted in https://pkg.go.dev/github.com/golang/mock/gomock#NewController:

### Describe the solution you'd like.

A linting rule that can flag when we're unnecessarily calling `.Finish`, when using a Go version of 1.14+

### Describe alternatives you've considered.

N/A

### Additional context.

_No response_

[2022-09-16 13:10] ldez commented on #3223
Hello,

FYI golangci-lint is a meta-linter, there are no internal linting rules.

[2022-09-16 13:53] jamietanna commented on #3223
That's fair! Are you happy me leaving this here in case someone else wants to pick it up and contribute it?

[2022-09-16 13:55] ldez commented on #3223
I flagged it as a linter idea, so yes we can keep it.
Can you improve the title of your issue?

[2022-09-18 01:54] davidnewhall commented on #3048
Not completely related, but if you're fixing contextcheck.....

I'm getting a context check on a line of code (which is correct), but when I add `//nolint:contextcheck` I get a `nolintlint` warning. I cannot disable the check on that 1 line of code. golangci-lint 1.49.0

[2022-09-21 00:06] taylorlee commented on #1088
:point_up_2: Oleg's comment was very helpful - builds in TeamCity also crash with the same error. Even using `teamcity.git.fetchAllHeads=true`, I still needed the `git branch master remotes/origin/master`

[2022-09-21 09:06] fho opened #3228 "nolintlint: reports false positive warnings about used nolint directive"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-21 09:34] ldez commented on #3228
Hello,

I change some elements related to facts (they are used by staticcheck) maybe the problem will be fixed with the next release (v1.50.0)

[2022-09-21 12:21] ninjamast3r opened #3229 "gofmt linter fails on comment formatting"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-21 12:30] ldez commented on #3229
Hello,

as you didn't provide the Go version that you are using I will guess you are using go1.18.

With go1.19, gofmt has changed.

I recommend doing that: `golangci-lint run --enable=gofmt --fix`

[2022-09-21 12:56] psaikko opened #3230 "Using `--fix` with both `gofumpt` and `gocritic` linters deletes comment lines"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-21 13:46] henriksjostrom commented on #3230
I ran into this as well. It was fairly hard to add a comment with this

[2022-09-21 22:33] davidhsingyuchen opened #3231 "Override `fix: true` via command line arguments"
### Your feature request related to a problem? Please describe.

We woud like to specify `fix: true` in our `.golangci.yml` so that issues can be fixed when `golangci-lint` is invoked in terminal, IDE, etc. However, there's a single place we want to set `fix: false`, and that's when `golangci-lint` is run in CI build; if there is an issue, we want the CI to fail instead of fixing it.

### Describe

[2022-09-22 06:18] ldez commented on #3231
Hello,

The default value for `fix` is `false`, so you just have to not define `fix: false` in the config.

[2022-09-22 06:18] #3231 closed

[2022-09-22 06:51] davidhsingyuchen commented on #3231
Hi @ldez , I've mentioned that:

Set `fix: false` in config file and override that via passing `--fix` when `golangci-lint` is invoked by things other than CI build. The downside of this is that we need to configure multiple places.

[2022-09-22 07:09] davidhsingyuchen commented on #3231
Hi @ldez,

Yeah, that holds when you _want_ the default value to be `false`. We want the default value to be `true`, so we want to set it to be `true` in the config file to avoid the need of setting it to be `true` in multiple places (e.g., Makefile, IDE, all the other places except for CI).

[2022-09-22 07:40] ldez commented on #3231
the behavior is the same for all args, we will not create a different behavior only for one arg.

[2022-09-22 08:50] davidhsingyuchen commented on #3231
Thank you for your time. I just realized that I can simply write `--fix=false` to achieve my goal. Leaving this comment in case anyone is unaware of that obvious fact like I was.

[2022-09-22 14:49] yonderblue opened #3232 "paralleltest config does not work"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-22 16:10] ldez commented on #3232
Hello,

can you fill in the required information (version, output, etc.) in the issue description?

[2022-09-22 16:19] ldez commented on #3232
`ignore-missing` works well, I think you are not using the right version of golangci-lint.

[2022-09-22 16:25] #3232 closed

[2022-09-27 14:22] earl-warren opened #3245 "imported but not used (typecheck) on windows only"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-28 18:15] fabiomargarido opened #3249 "goanalysis_metalinter panics on code with generics and 'performance' tag enabled"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-28 18:38] ldez commented on #3249
Hello,

can you try to use the latest stable version: v1.49.0

[2022-09-28 18:40] #3249 closed

[2022-09-29 09:00] jan-dubsky opened #3250 "Please upgrade go-revive to a latest version and release new patch version"
### Your feature request related to a problem? Please describe.

We'd love to upgrade to the latest version of `golangci-lint` because of Go 1.19 support. Unfortunately this version uses `go-revive` with a bug that lint single-line functions as errors [1]. Because our codebase uses many single-line functions, this issue blocks us from upgrading. go-revive just released a new patch version where th

[2022-09-29 09:02] ldez commented on #3250
Hello, we use dependabot, the bot will update the linter at the end of the week.

[2022-09-29 09:02] #3250 closed

[2022-09-29 15:29] mvrahden opened #3251 "silence `lll` linter for imports"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-29 15:36] ldez commented on #3251
Hello,

Can you fill in the issue description? thank you.

[2022-09-29 21:11] mvrahden commented on #3251
@ldez done

[2022-09-29 22:15] ldez commented on #3251
you removed some questions, can you restore them and fill in them? thank you

[2022-09-30 06:59] jan-dubsky commented on #3250
OK, but according to git history, the bot won't release new patch version, will it?

[2022-09-30 07:27] mvrahden commented on #3251
@ldez done

[2022-09-30 08:29] ldez commented on #3250
I don't talk about the release of golangci-lint but about the update of the dependencies.

We will not create a patch release because we already merged other changes.

[2022-09-30 08:39] jan-dubsky commented on #3250
Ok, so if I read your comment correctly we just have to wait for release of a new version even though the latest official version contains a bug that block us? That doesn't sound right.

Why is it an issue to create a "bugfix" branch based on `v1.49.0` with just this dependency updated? Why is the fact that other changes were merged considered blocking at all?

[2022-09-30 08:47] ldez commented on #3250
Because we don't branch release branch, it's too much maintenance.

Because we follow semver

[2022-09-30 09:35] bombsimon commented on #3250
If you're blocked I suggest either downgrading to a version that does not block you or build from source while waiting for a new release.

[2022-09-30 17:22] lmoe opened #3253 "ERRO [runner] Panic: gocritic: package "model" (isInitialPkg: true, needAnalyzeSource: true): unreachable"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-09-30 17:53] ldez commented on #3253
Hello,

As you have checked this, can you give me the output of the [go-critic](https://github.com/go-critic/go-critic) command line?

[2022-09-30 19:14] lmoe commented on #3253
Hey,

maybe I misunderstood that mark. I ran `golangci-lint run --disable-all --profile=goanalysis_metalinter` before.

I've now run `gocritic` this is the output:

<details>

[code]
</details>

golangci-lint just with gocritic enabled:

<details>

[code]
</details>

[2022-09-30 19:16] ldez commented on #3253
are you using the same version of go-critic as golangci-lint ?

https://github.com/golangci/golangci-lint/blob/v1.49.0/go.mod#L31

[2022-09-30 19:21] lmoe commented on #3253
Oh well, no I just installed the latest version according to the readme. Sorry.

Good catch, this version has the same issue:

<details>

[code]
</details>

So it seems like upgrading the go-critic version in golangci-lint could solve the problem?
The latest one seems to work.

[2022-09-30 19:22] ldez commented on #3253
So the issue is already fixed by #3150

[2022-09-30 19:22] #3253 closed

[2022-10-01 09:25] ldez commented on #3131
I just add the video about this bug https://www.youtube.com/watch?v=R_odJnFIqPA by @flimzy because it's funny to have a video about that :smiley:

[2022-10-03 09:13] Lpaydat commented on #1490
I'm not sure if this will help you all, but I added the mentioned flags to the VSCode settings and the warning has gone away.

[code]

[2022-10-03 10:23] vfaronov commented on #3107
This error isn’t fixed for me neither by 1.49.0 nor by explicitly setting `GOROOT`:
[code]

[2022-10-03 13:28] Daimon04 opened #3269 "golangci-lint run crashed with error «no export data for "golang.org/x/sys/unix"» after update library"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-03 13:39] ldez commented on #3269
Hello,

The problem seems related to your code or other dependencies you are using.

We discourage overriding golangci-lint dependencies because we cannot handle side effects.

Note: to update a dependency `-u` is expected (ex: `go get -u golang.org/x/sys`)

[2022-10-03 13:55] Daimon04 commented on #3269
golangci was already installed and worked well. I didn't rebuild it. It starts throwing an error right after I update this library.

The checked code is compiled, it is the code from production.

[2022-10-03 14:01] ldez commented on #3269
Are you able to provide a minimal reproducible context?

[2022-10-03 14:14] Daimon04 commented on #3269
Oh, you are right. After update this library my checking code doesn't compile. Problem in this library. Thank you for the help.

[2022-10-03 14:15] #3269 closed

[2022-10-03 15:35] sebastien-rosset opened #3270 "Documentation issue with loggercheck linter"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-03 15:47] ldez commented on #3270
Hello,

it's because logrlint has been renamed to loggercheck.

In the next release (v1.50.0), the name logrlint will be an alias on loggercheck.

The version at the end of the line is the version when the linter (logrlint) has been introduced.

We publish the documentation automatically, when required, without any "link" with a version of golangci-lint.

The typo `valur` is inside the linter itse

[2022-10-03 15:47] #3270 closed

[2022-10-03 16:21] dmitrytrager commented on #3213
I've got this kind of error after switching from 1.46

[2022-10-03 18:57] ldez commented on #3084
closed by #3170

[2022-10-03 18:57] #3084 closed

[2022-10-03 20:44] sebastien-rosset opened #3272 "Support configurable file extensions for `misspell` linter"
### Your feature request related to a problem? Please describe.

When the [misspell](https://github.com/client9/misspell) linter is integrated with `golangci-lint`, the linter analyzes files that have the `*.go` extension. The `misspell` linter is useful for `.go` files, but it's also useful for files with other extensions. For example, a go code generator may use a `.template` file to generate go

[2022-10-03 21:00] ldez commented on #3272
I think you misinterpreted this line https://github.com/golangci/golangci-lint/blob/master/pkg/golinters/misspell.go#L64: this is not a filter on go files (because only go files are in the pass) it's a trick related to CGo.

bidichk follows the same constraints.

[2022-10-03 21:32] sebastien-rosset commented on #3272
Thanks for the quick feedback. Would it make sense to allow these two linters to scan more than just files with `.go` extensions?

[2022-10-03 21:44] ldez commented on #3272
The `pass` is linked to the cache, and the cache is the "secret" of the golangci-lint performances. The `pass` is filled in by the Go code analysis system from Go itself.

Golangci-lint handles Go code, so it's off-topic to handle other file types.

[2022-10-03 22:25] sebastien-rosset commented on #3272
ok, thanks. We will run bidicheck and misspell separately then.

[2022-10-03 22:25] #3272 closed

[2022-10-04 03:01] troian opened #3273 "golang-ci iterates over skip-dirs"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-04 07:58] ldez commented on #3273
Hello,

I guess (because you don't fill in the required information) you are using macOS.

So I think you are using Apple Diff, unfortunately, Apple Diff doesn't follow standard diff behavior.

The problem is explained here: https://github.com/golangci/golangci-lint/issues/3087#issuecomment-1226508818

[2022-10-04 08:04] #3273 closed

[2022-10-04 11:36] jerome-laforge commented on #3116
This fix, is it embed with v1.50.0?

[2022-10-04 11:38] ldez commented on #3116
You have to test it, and validate that.

[2022-10-04 15:12] stevekuznetsov commented on #825
Just hit this because I needed to run `go mod tidy`. Would love to see an improvement to the error message. Using v1.49.0

[2022-10-05 00:04] magnetikonline opened #3275 "False positives with the `gci` linter"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-05 00:08] ldez commented on #3275
Hello,

As you have checked this, can you give me the output of the [gci](https://github.com/daixiang0/gci) command line?

[2022-10-05 00:13] ldez commented on #3275
I take your configuration and your sample, and I don't reproduce the problem.

<details>
[code]

[code]

[2022-10-05 00:14] magnetikonline commented on #3275
Ah sorry @ldez - just ran it over the package in question - no error:

[code]

if I deliberately munge the package order I do get an error, so the linter is working:

[code]

[2022-10-05 00:15] magnetikonline commented on #3275
Did you have `# Usage` or `Usage` as that comment line?

[2022-10-05 00:16] ldez commented on #3275
yes go fmt tricked me.

[2022-10-05 00:17] magnetikonline commented on #3275
Okay - not a problem, will have to stick with `1.47.3` for now. 👍

[2022-10-05 00:19] ldez commented on #3275
I think your problem is related to a side effect of go fmt formatting requirements but I don't know why.

[2022-10-05 00:20] magnetikonline commented on #3275
@ldez that's a good point - maybe a bump to Golang `1.19` might help here - something I'm looking at doing in the near future 👍.

[2022-10-05 00:21] ldez commented on #3275
[code]

[2022-10-05 00:22] magnetikonline commented on #3275
Ahhh - nice one @ldez 👍 - that does smell very similar 👍

[2022-10-05 00:23] ldez commented on #3275
I think know: it's because gci uses the format API (the basic API of `go fmt`)

[2022-10-05 00:23] magnetikonline commented on #3275
Great - I'll have to circle back on this after a bump to Golang `1.19` 👍

[2022-10-05 00:26] ldez commented on #3275
As we know the root cause, and because I don't really think that spending time on fixing a problem of an "old" Go version has a good ROI, can we close the issue?

[2022-10-05 00:27] magnetikonline commented on #3275
Happy with that.... close it. 👍

[2022-10-05 00:27] #3275 closed

[2022-10-05 11:44] tdakkota opened #3277 "processors: incorrect path regex normalization leads to panic"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-05 12:05] ldez commented on #3277
Hello,

you don't have to escape `/` because `/` is not a special character.

Can you clean your regular expressions?

[2022-10-05 22:09] #3277 closed

[2022-10-06 08:24] pmalek opened #3280 "revive: Invalid argument to the context-as-argument rule. Unrecognized key allowtypesbefore"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-06 20:07] DryHumour commented on #3230
I wonder if the issue might be triggered in general by two or more fixers being applied to the same line?

[2022-10-07 15:46] ldez commented on #3280
Hello,

As you have checked this, can you give me the output of the [revive](https://github.com/mgechev/revive) command line?

[2022-10-07 16:47] pmalek commented on #3280
Sure,

[code]

With the following config:

[code]

as taken from here: https://github.com/mgechev/revive/blob/master/RULES_DESCRIPTIONS.md#context-as-argument

[2022-10-07 19:21] ldez commented on #3280
but you are not using the same case: `allowtypesbefore` != `allowTypesBefore`

[2022-10-07 20:51] ldez commented on #3280
It's related to github.com/spf13/viper@v1.13.0 (#3205)

[2022-10-07 21:01] zealws opened #3283 "goimports linter fails for file that is goimports-ed"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-07 21:23] ldez commented on #3283
Hello,

it's related to the new gofmt introduced in go1.19.

It's the same problem as #3275.

I don't think we will fix that because gofmt from go1.19 is the new format "standard"

[2022-10-09 13:07] ibez92 commented on #3251
Hello,

I'm looking for first issue. Can I take this one?

What do you think about lll setting like `skipImports`?

[2022-10-09 13:27] ldez commented on #3251
Hello,

I think that the problem must be fixed without an option because it's impossible to reduce an import.

[2022-10-09 13:38] ibez92 commented on #3251
Ok, thank you. I will try to do this

[2022-10-11 19:08] csmithv opened #3289 "Could not Import C (cgo preprocessing failed) (typecheck)"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-11 20:04] bombsimon commented on #3289
What is the Go code you're linting? Your Make file only does `golangci-lint run ./...` so what's interesting is a minimal reproducible example with Go/C code.

A heads up is that `typecheck` is not a real linter but a way to detect compilation issues. So one thing that would be nice to try and attach would be the result of `go build ./...`. If that does not compile it's not an issue with `golangci

[2022-10-12 20:14] mattysweeps opened #3290 "Add linter to error on unchecked map reads"
### Your feature request related to a problem? Please describe.

The following code sample highlights an issue where a map reference was unchecked (did not check ok == true) resulting in a nil pointer panic.

https://go.dev/play/p/XwjkvaEshlu

### Describe the solution you'd like.

A linter to catch map references which only return 1 result, instead of both the value and the check.

### Describe a

[2022-10-12 20:33] ldez commented on #3290
Hello,

From a certain perspective, your proposal is near to [forcetypeassert](https://github.com/gostaticanalysis/forcetypeassert)

[2022-10-12 20:58] mattysweeps commented on #3290
Update: https://github.com/dominikh/go-tools/issues/1328 has been closed as out of scope for staticcheck:

From https://github.com/dominikh/go-tools/issues/1328#issuecomment-1276718399

[2022-10-12 21:21] mattysweeps commented on #3290
@ldez Agreed, forcetypeassert looks very similar.

Ideally the linter should look for `IndexExpr` where `X` is a map literal, and then ensure the left hand side of the wrapping assignment has both variables.

It might be complicated for expressions which are not directly part of an assignment - an additional restriction might be necessary to ensure IndexExpr on map values are always an assignment

[2022-10-12 21:30] wrouesnel commented on #1981
+1 for this - it needs to be command line configurable easily. The worst offenders are the documentation-type linters, which provide good actionable items, but shouldn't block builds in CI but also should be kept visible.

[2022-10-13 06:47] Detavern opened #3291 "options from CLI should override the options from config file"
### Your feature request related to a problem? Please describe.

Right now, if you use a config file like:

[code]

And then, you may want disable some plugins for specific projects temporarily.
So you type
[code]

then the error comes
[code]

Currently, I create a new config file under the project's directory and change it frequently for disable/enable a single linter.
I don't think it is a good

[2022-10-13 08:30] zhangyunhao116 opened #3292 "The latest version doesn't support Go 1.16"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-13 08:53] ldez commented on #3292
Hello,

We support the same versions as the Go team.

https://golangci-lint.run/usage/faq/#which-go-versions-are-supported

For security reasons, you must update your Go version to the supported Go versions.

[2022-10-13 08:53] #3292 closed

[2022-10-13 09:05] butuzov commented on #1981
@wrouesnel I will return to this feature once war ends.

[2022-10-13 20:15] gandarez commented on #1937
Any update on this? It's still skipping `exported` rule for revive even if it's enabled.

[2022-10-13 23:25] jufemaiz commented on #1981
You have far bigger concerns to focus on right now @butuzov. Stay safe.

[2022-10-14 12:09] pks-t opened #3293 "Upgrade to viper v1.13 caused regression in Revive rule configuration"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-14 12:27] ldez commented on #3293
duplicate of #3280

Fixed by #3284

[2022-10-14 12:27] #3293 closed

[2022-10-14 13:50] #3283 closed

[2022-10-15 08:57] #3251 closed

[2022-10-15 14:48] ldez opened #3299 "pull request: problem with check_generated/fast_check_generated"
The GitHub GraphQL API seems to bug: only the 10 first releases are returned instead of the 100 first.
`hasNextPage` is always `false` and the `endCursor` is always `MTA`.

I tried on several projects and the behavior is always the same.

This was working well for at least 2 years.

I checked:
- the changelog https://docs.github.com/en/graphql/overview/changelog
- the breaking changes https://docs

[2022-10-15 14:59] ldez commented on #3291
Hello,

This is related how to viper and cobra work.

The CLI configuration already overrides a file configuration but the configuration sources are merged.

So we cannot change this behavior.

[2022-10-15 14:59] #3291 closed

[2022-10-15 20:09] itaranto opened #3301 "`revive` config is not loaded in `v1.50.0`"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-15 23:28] ldez commented on #3301
duplicate of #3280, #3293

[2022-10-15 23:28] #3301 closed

[2022-10-18 09:48] crystalyxiaoxianer opened #3303 "configure severity="info" in .golangci.yml when linter is lll, but got bugs and code smell on sonarQube"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-18 09:55] logan-bobo commented on #3289
I am also seeing the same issue when using an alpine image getting the following error. On the latest build of `[golangci-lint](https://github.com/golangci/golangci-lint) and Go
[code]

[2022-10-18 10:14] logan-bobo commented on #3289
Okay so my issue here is I needed to install the `build-base` package on `alpine` by running `apk add build-base` @csmithv you may need to resolve some OS level dependency.

[2022-10-19 05:02] Planxnx opened #3305 "Scan only new change files to optimize speed."
### Your feature request related to a problem? Please describe.

`--new` and `--new-from-rev` show only new issues but they still scan all of the files.

To optimize scan speed, Is it possible to scan only new change files ?(unstaged files or diff files from main branch)
I have seen [Trunk Check](https://docs.trunk.io/docs/check) scan only new change files only (have [options](https://docs.trunk.i

[2022-10-19 06:54] nocive commented on #1940
@ian-h-chamberlain https://github.com/golangci/golangci-lint/issues/3228

[2022-10-20 12:42] #3299 closed

[2022-10-24 07:24] danisevas opened #3319 "There is no section for version 1.50.1 in CHANGELOG.md"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-24 08:11] ldez commented on #3319
fixed by 59bbe7f7aa519591f8a35361e89f9221f294d35f

[2022-10-24 08:11] #3319 closed

[2022-10-24 10:45] andrewbaxter opened #3320 "`--new-from-rev` should be fatal if the rev can't be located"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-24 15:59] ckilb opened #3322 "Can not run linters: "could not load export data: cannot import "internal/goarch" (unknown iexport format version 2)""
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-24 16:04] #3322 closed

[2022-10-24 21:41] yangyile1990 commented on #1987
I am now use golang "os/exec" to execute golangci-lint
cmd := exec.Command("golangci-lint", "run", "--enable-all", "--out-format", "json")
out, err = cmd.CombinedOutput()

res = &printers.JSONResult{}
Then I want to json.Unmarshal(out, res)

But the output contains these:
WARN [runner] The linter '???' is deprecated (since v1.49.0)

so the result is not a json.
so my code json.Unmarshal(out, res)

[2022-10-26 14:31] wojtekxtx commented on #2912
@ldez what a garbage. `Typecheck` **is not** a way to display errors. Its one type of error. Generic one, but still error.

[2022-10-27 14:11] lucastheisen commented on #3107
@vfaronov , i had the [same issue as you](https://github.com/golangci/golangci-lint/issues/3107#issuecomment-1265238438) (go 1.19 and golangci-lint 1.49.0 with/without `GOROOT`) and switching to 1.50.1 resolved this for me.

[2022-10-27 17:23] ian-h-chamberlain commented on #1276
From #1182 and https://github.com/golangci/golangci-lint/issues/1276#issuecomment-665903858 it seems clear that building from source with `CGO_ENABLED` is the only way to use custom linters, and that any custom linter must be built with the same set of dependencies and Go version as `golangci-lint` was built with.

Is there any "supported" way to use plugins with a release build? As the bug report

[2022-10-27 18:26] ian-h-chamberlain commented on #1276
Could you expand on this more (maybe I should open a separate discussion for this)?

As I understand it, Go plugins have a number of requirements in order to be loaded as described in #3259. If a binary release was built with `CGO_ENABLED=1`, wouldn't that allow linter authors to write plugins and use them with that binary, provided they meet those constraints in their plugin development?

[2022-10-28 06:57] bushkov opened #3328 "goimports: can't extract issues from gofmt diff output"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-28 07:05] ldez commented on #3328
https://github.com/golangci/golangci-lint/discussions/3327

https://github.com/golangci/golangci-lint/issues/3087#issuecomment-1226508818

[2022-10-28 07:05] #3328 closed

[2022-10-28 07:11] l0rem1psum commented on #3289
Encountered the same issue on Ubuntu, solved by running `apt install build-essential`.

[2022-10-28 07:14] #3289 closed

[2022-10-28 15:23] Bechma opened #3329 "Generic default value generates newDeref error"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-28 16:20] ldez commented on #3329
Hello,

As you have checked this, can you give me the output of the [go-critic](https://github.com/go-critic/go-critic) command line?

[2022-10-28 16:26] Bechma commented on #3329
[code]

[2022-10-28 16:41] ldez commented on #3329
so it's a problem with go-critic

golangci-lint is a wrapper around linter.

I recommend opening an issue on the go-criric repo.

[2022-10-28 16:41] #3329 closed

[2022-10-31 15:47] mikechesterwang opened #3335 "no go files to analyze"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-31 17:04] rittneje opened #3336 "fatal error: concurrent map writes"
### Welcome

- [ ] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [ ] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-10-31 17:42] ldez commented on #3336
Hello,

As you said it's an old version (v1.46.2) and an old version of revive (v1.2.1).

Without a reproducible context, it's impossible to diagnose or fix.

So I will close this issue, because:
- no reproducible context
- it's impossible to know if the problem is still here in the latest version
- it seems to be a bug inside revive

[2022-10-31 17:42] #3336 closed

[2022-11-01 04:21] momom-i opened #3337 "Change not to use linter with AGPL lisence"
### Your feature request related to a problem? Please describe.

Hi, I've used golangci-lint but after upgrading its version to latest one, I found the linter with AGPL lisence was added([github.com/leonklingele/grouper](https://github.com/leonklingele/grouper), PR: https://github.com/golangci/golangci-lint/pull/2497).
I can't find discussion around it, but I don't think it's a good idea to use th

[2022-11-01 06:41] GaoJianAllen opened #3338 "Can't run linter goanalysis_metalinter: goimports: can't extract issues from gofmt diff output"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-11-01 08:14] ldez commented on #3337
Hello,

our license is GPL, you already have to disclose your code.

https://github.com/golangci/golangci-lint/blob/master/LICENSE

THE AGPL variant is about network use, in the case of golangci-lint it doesn't make a real difference.

[2022-11-01 08:20] ldez commented on #3338
duplicate of #3087 and https://github.com/golangci/golangci-lint/discussions/3327

[2022-11-01 08:20] #3338 closed

[2022-11-01 09:19] jdgordon opened #3339 "ERRO [linters_context] typechecking error: pattern ./...: main module (gitlab.com/fleetspace/monoverse) does not contain package <git submodule directory goes here>"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-11-01 09:47] ldez commented on #3339
Hello,

golangci-lint has mainly the same behavior as the go compiler but there are some differences in the way to pick files.

[code]

Nothing seems unexpected in your issue.

[2022-11-01 09:55] jdgordon commented on #3339
The lack of go files is only to minimize the big report.

Does golangci-lint directly call the go build to find it's files? It that is the case then I could see how it may be a big there. However as it stands, the linter tool is not failing with no found files, it is failing because it has incorrectly attempted to walk a non-go directory.

Please note that this directory is supplied with both the

[2022-11-01 10:02] ldez commented on #3339
No, but golangci-lint uses some shared pieces with `go buid`.

`--skip-dirs` is applied to the output but not before the analysis.

[2022-11-01 12:17] jdgordon commented on #3339
Just to reinforce that this is a golangci-lint bug. I have done a clone of this repo, validated that it passes lint, added the problem git submodule and can easily reproduce the bug.

[code]

Clearly there is something going on with this submodule that is tripping up the linter.

[2022-11-01 12:52] ldez commented on #3339
Your example is a bad example because a repo without any Go file is not a Go project.

If I just add a simple Go file, there is no problem.

So you will have to create a better example of your real issue.

[2022-11-01 14:05] fho commented on #3228
The issue happend again with golangci-lint 1.50.0.

[2022-11-01 21:27] bombsimon commented on #3337
According to #232, Google does not allow AGPL licenses. The issue references [this page](https://opensource.google/documentation/reference/using/agpl-policy) which explains why it's not allowed at Google.

[2022-11-01 21:27] ldemailly commented on #3339
I just updated my build image because of 1.19.3 being released and getting 100s to typecheck errors all the sudden, a small selection:

[code]
something is broken - this is
[code]

on https://github.com/fortio/fortio

I can file a separate issue if you want but I was looking for "typecheck" open issue before filling a dup

[2022-11-01 21:33] ldez commented on #3337
I don't agree with the fact to be forced by Google to follow Google.
But we will follow the initial direction, I asked to @leonklingele to change the license of grouper https://github.com/leonklingele/grouper/issues/1.

If the license is not changed we will just drop the linter.

[2022-11-01 21:44] ldez commented on #3339
@ldemailly it's off-topic, golangci-lint has not been built with 1.19.3.

Please open another issue.

[2022-11-01 22:15] jdgordon commented on #3339
Please refer to my previous comment. Adding this troublesome git submodule to the golangci-lint repo breaks both tools. I will add a single go file to my test repo today if it helps.

I'm also not sure why you had the golang bug report closed. Given your statement of shared code, and that adding the submodule breaks `go build ./...` in _this_ repo, I suspect it is far more likely a go tooling bug

[2022-11-02 02:07] momom-i commented on #3337
Thank you for listening to my opinion. I'm waiting for that.

[2022-11-04 00:49] magnetikonline commented on #3275
@ldez just to circle back - starting porting some projects to Golang `1.19` and using the latest `golangci-lint` release - and everything is good now. It's certainly related to the `go fmt` changes that `1.19` now applies on Godoc comment blocks that was corrupting the linting results due to shifted line numbers/etc.

[2022-11-05 09:16] pellared commented on #3086
This is most likely fixed via dep bumps when I look at https://github.com/golangci/golangci-lint/blob/master/go.mod and https://github.com/timakin/bodyclose/issues/38#issuecomment-1304323617

I think it is worth to retest.

FYI @ldez

[2022-11-06 19:14] stevenh commented on #1276
This just caught me out after following [guide for new-linters](https://golangci-lint.run/contributing/new-linters/) which doesn't mention that the release binaries are incompatible with this, making support for plugins a little mute as consumers will always need to create a custom build of golangci-lint.

Has there been any thoughts on creating release builds with `CGO_ENABLED=1`?

[2022-11-07 01:59] momom-i commented on #3337
@ldez How is it going?

[2022-11-07 02:42] ldez commented on #3337
Just be clear: our license is GPL, you already have to disclose any changes that you do in golangci-lint, the grouper license doesn't change that.

As you can see, we are still waiting for an answer of @leonklingele

[2022-11-07 17:58] fjl commented on #3087
Support for Apple's diff output was added in https://github.com/sourcegraph/go-diff/commit/7ef5f68ebea1885cdfa8bc710e3d666f95bec1cb, so upgrading the `go-diff` dependency will fix this issue.

[2022-11-07 18:17] ldez commented on #3087
I will take a look

[2022-11-07 22:43] #3087 closed

[2022-11-08 13:43] jabielecki commented on #3138
Thank you for illustrating this so well!

For the cases 2 and 3 I can only agree. This is why I began with `DisableDecNumCheck: true`, to specifically avoid case 2 and 3.

My intended usage was a variant of your case 1 but with added enforcement of max one `type` declaration per source file. After playing with it for a while, I'd say I was wrong, and the strongest reason against it is that it tend

[2022-11-08 15:58] asalan316 commented on #3087
`brew install diffutils `fixes the issue for me

**Issue**
`can't run linter goanalysis_metalinter: goimports: can't extract issues from gofmt diff output "---
........
.....
.....
 {\n": can't parse patch: parsing time "2022-11-08 16:49:57" as "2006-01-02 15:04:05 -0700": cannot parse "" as "-0700"
`

**Environment**
Apple macOs ventura

Thanks @shepherdjerred

[2022-11-08 17:58] freeformz commented on #3087
The problem with apple diff is now fixed upstream: https://github.com/sourcegraph/go-diff/pull/65

[2022-11-08 18:03] freeformz commented on #3087
And it looks like it was also updated, so next release should work with apple diff: https://github.com/golangci/golangci-lint/commit/58ebedda6341e2f67d4338eb1d8f75b4a54590d1

[2022-11-08 18:54] vitorf7 commented on #1914
@ldez One of the biggest gripes I have with `lll` is that it just looks and cares about a line length.
It does not take into account comments and struct tags. On the other hand `golines` takes that into account and it could fix comments with specific flags. I have added the request to maybe add a `--lint` flag or something so that it would have both `linting` and `formatting` functionality which m

[2022-11-09 01:06] leonklingele commented on #3337
I'm a bit busy these days but will get back to this asap.

[2022-11-10 03:01] momom-i commented on #3337
@ldez In my understanding, the difference between GPL and AGPL is disclosure range. As you said, GPL has surely obligation to disclose codes if developer provides binary using a module with that license in public, but when they provides web service using that in server side, they don't have to disclose their codes.
And AGPL don't allow that case.
Anyway,  personally, our company doesn't allow us t

[2022-11-10 11:43] adamroyjones opened #3354 "The "unused" linting rule has misleading behaviour when interacting with generated code"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc).
- [X] Yes, I've tried with the standalone linter if available. (https://golangci-lint.run/usage/linters/)

### Description of the proble

[2022-11-10 12:09] adamroyjones commented on #3354
I'll see if I can put together a reproduction of what I mentioned above as the "dual" behaviour, since that type of problem is a bigger concern.

[2022-11-10 12:33] adamroyjones commented on #3354
(Closing for now, as I need to clean up the examples and should produce the dual example. Everything's a bit mangled. I'll try to reopen things later today.)

[2022-11-10 16:40] adamroyjones commented on #3354
Right—apologies for the noise above. I've replaced the example with someone that should be clearer.

[2022-11-10 17:27] ldez commented on #3354
Hello,

`unused` comes from [staticcheck](https://github.com/dominikh/go-tools), have you tried this linter as suggested by the checkbox "Yes, I've tried with the standalone linter if available"?

[2022-11-10 17:31] #3354 closed

[2022-11-11 09:05] chenyanchen commented on #307
Still exists.
[code]
Error log:
[code]

[2022-11-11 12:29] Garagator3000 commented on #166
[code]
relevant in 2022

[2022-11-11 15:11] renta opened #3356 "Ability to have a baseline-file for the golangci-lint"
### Your feature request related to a problem? Please describe.

We have an ability to implement this metalinter in a big mature project with lots of problems by using revgrep https://golangci-lint.run/usage/faq/#how-to-integrate-golangci-lint-into-large-project-with-thousands-of-issues This option gives a developer ability to ignore a whole bunch of old legacy issues but to prevent appearance of

[2022-11-11 17:14] senpathi opened #3357 "gocritic panics when there is a method with Go generic type receiver"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc.).
- [X] Yes, I've tried with the standalone linter if available (e.g., gocritic, go vet, etc.). (https://golangci-lint.run/usage/linters/

[2022-11-11 17:43] ldez commented on #3357
Hello,

have you tried the [go-critic](https://github.com/go-critic/go-critic) command line as suggested by the checkbox "Yes, I've tried with the standalone linter if available"?

[2022-11-11 18:01] senpathi commented on #3357
Yes,
It also panicked, Output below.
### Command
[code]

### Output
<Details>
[code]

</Details>

[2022-11-11 18:26] ldez commented on #3357
So it's an issue with [gocritic](https://github.com/go-critic/go-critic/issues).

[2022-11-11 18:26] #3357 closed

[2022-11-13 07:29] #1577 closed

[2022-11-13 08:20] dottedmag commented on #1999
Bugs don't get fixed by themselves!

[2022-11-13 09:02] pohly commented on #1512
This is still relevant.

[2022-11-14 17:46] natefinch commented on #2302
[This article](https://medium.com/ringcentral-developers/build-a-linter-extension-for-visual-studio-code-368a65a95545) indicates VSCode already supports linter error levels:

[2022-11-15 15:40] sebastien-rosset opened #3362 "Enhance `goimports` linter to support opinionated go import statements"
### Your feature request related to a problem? Please describe.

This is a proposal to enhance the `goimports` linter to provide opinionated go import formatting rules. The linter could:
1. Validate that go import statements are formatted according to the rules listed in https://github.com/golang/go/issues/20818.
2. In autofix mode, reformat the go import statements according to the opinionated ru

[2022-11-15 15:42] #3362 closed

[2022-11-15 20:16] sebastien-rosset commented on #2706
For the `gocritic` example, there are three possible levels: `gocritic:ruleguard:ruleguard-rule-name`.
Ruleguard is a powerful checker under `gocritic`, and within ruleguard it's possible to have hundreds of checks.

[2022-11-16 04:27] itgcl commented on #3087
Thanks

[2022-11-16 08:49] leonklingele commented on #3337
Just to better understand the problem here. It’s because AGPL is not allowed at Google and we want the project to be usable there?

[2022-11-16 09:01] ldez commented on #3337
It’s because AGPL is not allowed at Google and other companies.

[2022-11-16 18:46] benmathews opened #3365 "Upgrade broken version of GCI."
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc.).
- [X] Yes, I've tried with the standalone linter if available (e.g., gocritic, go vet, etc.). (https://golangci-lint.run/usage/linters/

[2022-11-16 18:56] ldez commented on #3365
Hello,

We have a bot that update automatically the linter.

[2022-11-16 18:56] #3365 closed

[2022-11-17 20:41] kluevandrew commented on #1490
Same for me, but i don't have any small example app

[2022-11-18 09:25] pierrre opened #3366 "enable/disable "fix" per linter"
### Your feature request related to a problem? Please describe.

I'm using the "fix" option, so golangci-lint automatically fixes issues when I run it.
But it's a problem for the `nolintlint` linter, because I use the `allow-unused: false` option.
Sometimes, when I'm working on lint issues, a `//nolint` comment doesn't match a lint issue. (but it should)
And with the "fix" option, the comment is a

[2022-11-19 15:03] mibo-fdc commented on #1276
It is not working for me, although I'm using a self-compiled version go golangci-lint (master version).

I followed the description here: https://golangci-lint.run/contributing/new-linters/#how-to-add-a-private-linter-to-golangci-lint (which does not mention at all that the release builds are not working with private linters)

Used the example linter referenced in the doc and configured the config

[2022-11-21 18:55] daikidev111 commented on #3223
Hi can I try implementing a linter based on this idea?

[2022-11-21 18:56] jamietanna commented on #3223
Yes please, happy for you to go for it ☺

[2022-11-22 05:45] roskee commented on #3289
Encountered this same issue yesterday. I do have `build-essential` and `gcc` installed. but the error still exists.
the exact message is as follows. It also prints incorrect errors before the cgo error.
[code]

[2022-11-22 06:36] roskee commented on #3289
Apparently the reason was snap. I removed my snap installation of `golangci-lint` and installed the binary and it worked

[2022-11-22 16:16] gnuletik commented on #828
For `pre-commit` users, you can define multiple entries until a flag into golangci-lint is implemented.

[code]

[2022-11-22 20:06] Thynix commented on #2912
May I suggest that this be considered as an area for documentation improvement?

Given that `typecheck` is an internal mechanism for reporting build and linter errors, I found it very confusing that in all the documentation I checked, it's presented as though it's a linter. It's listed in [linters enabled by default](https://golangci-lint.run/usage/linters/#enabled-by-default), and in [run configu

[2022-11-23 01:02] leonklingele commented on #3337
https://github.com/golangci/golangci-lint/pull/3372

[2022-11-23 07:09] #3337 closed

[2022-11-23 21:28] silverwind opened #3374 "Show a summary total issues on the CLI"
### Your feature request related to a problem? Please describe.

It would be nice if `golangci-lint` cli could show a summary of how many issues it found and if possible, also show how many of them are fixable via `--fix`.

### Describe the solution you'd like.

A summary at the end of the CLI run, similar to `eslint`:

[code]

### Additional context.

Maybe the summary should not be printed unles

[2022-11-23 21:33] ldez commented on #3374
Duplicate of #2924

[2022-11-23 21:33] #3374 closed

[2022-11-23 21:39] silverwind commented on #2924
My preference for a default output would be just a short number summary, like `eslint` for example:

[code]

Issues-per-linter could be useful too, but I would make that optional to keep output terse.

[2022-11-24 04:43] priyankshah217 commented on #3087
`brew install diffutils` is working for me.

thanks

[2022-11-24 15:54] KevinJCross opened #3375 "goanalysis_metalinter seems not to be able to handle time zones"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc.).
- [X] Yes, I've tried with the standalone linter if available (e.g., gocritic, go vet, etc.). (https://golangci-lint.run/usage/linters/

[2022-11-24 16:03] ldez commented on #3375
Duplicate of #3087

[2022-11-25 10:42] albertteoh opened #3376 ""no export data for" error since v1.44"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc.).
- [X] Yes, I've tried with the standalone linter if available (e.g., gocritic, go vet, etc.). (https://golangci-lint.run/usage/linters/

[2022-11-25 10:49] ldez commented on #3376
Hello,

can you provide a reproducible example?

[2022-11-25 11:20] albertteoh commented on #3376
Thanks for the speedy response @ldez!

Sure, here's a reproducible example: https://github.com/albertteoh/repro-exportfile-missing

[2022-11-25 17:21] ldez commented on #3376
I think it's problem related to CGO

[2022-11-26 03:45] albertteoh commented on #3376
Yup, I think you're right.

- The reason why upgrading from v1.43 -> v1.44.0 breaks for us is because linter warnings are (correctly) surfaced as errors, I think from this PR: https://github.com/golangci/golangci-lint/pull/2471.
- I think the mistake I'm making is to run the `golangci/golangci-lint:v1.44-alpine` image against our source code (via volume mount) without successfully installing the C

[2022-11-26 03:45] #3376 closed

[2022-11-27 13:27] doron-cohen commented on #708
@jufemaiz is there any solution for this by now? I set some rules to `warning` severity but still fail in the CI on them. I really don't want to ignore them. How is this solved?

[2022-11-28 01:00] jufemaiz commented on #708
@doron-cohen worthwhile joining in the discussion @ https://github.com/golangci/golangci-lint/issues/1981

[2022-11-28 14:51] prochac commented on #2912
@ldez since you closed the issue and marked as duplicate, where I can find the active issue? The problem doesn't seem to be solved to me. And this is the issue I found by googling. Would be nice to know what to follow and what link to add to our tweak in `.golangci.yaml`

[2022-11-28 15:02] ldez commented on #2912
There is no active issue because it's not bug.

https://github.com/golangci/golangci-lint/issues/2912#issuecomment-1149995159

[2022-11-28 16:18] wojtekxtx commented on #2912
@ldez just surrender your commits rights as well as membership in `golangCI` org!

[2022-11-30 07:58] dianapicnic commented on #825
In my case the command below helped:

`go mod tidy && go mod vendor `

[2022-11-30 15:11] AdrianCio opened #3384 "Ioutil import deprecated"
### Welcome

- [X] Yes, I'm using a binary release within 2 latest major releases. Only such installations are supported.
- [X] Yes, I've searched similar issues on GitHub and didn't find any.
- [X] Yes, I've included all information below (version, config, etc.).
- [X] Yes, I've tried with the standalone linter if available (e.g., gocritic, go vet, etc.). (https://golangci-lint.run/usage/linters/

[2022-11-30 15:16] #3384 closed